<div class="col-md-1 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
	<div class="list-group border-0 card text-center text-md-left">
		<a href="programmes.php" class="list-group-item d-inline-block collapsed active" data-parent="#sidebar">
			<img class = "img-menu" src = "{{ asset('images/cloudsRewards/menu/menu-programme.png') }}" width = "18" height = "20">
			<span class = "text-menu">kpi</span>
		</a>
		
		<a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
			<img class = "img-menu" src = "{{ asset('images/cloudsRewards/menu/menu-point.png') }}" width = "18" height = "20">
			<span class = "text-menu">points</span>
		</a>
		
		<a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
			<img class = "img-menu" src = "{{ asset('images/cloudsRewards/menu/menu-resultat.png') }}" width = "18" height = "20">
			<span class = "text-menu">résultats</span>
		</a>
		
		<a href="form-inscription.php" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
			<img class = "img-menu" src = "{{ asset('images/cloudsRewards/menu/menu-inscription.png') }}" width = "18" height = "20">
			<span class = "text-menu">participants</span>
		</a>
		
		
		<a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
			<img class = "img-menu" src = "{{ asset('images/cloudsRewards/menu/menu-design.png') }}" width = "18" height = "20">
			<span class = "text-menu">leads</span>
		</a>
		
		<a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
			<img class = "img-menu" src = "{{ asset('images/cloudsRewards/menu/menu-contenu.png') }}" width = "18" height = "20">
			<span class = "text-menu">campagnes</span>
		</a>
	</div>
</div>