{% if manip_template_form is defined %}
    {{ form_start(manip_template_form, {"attr": {"novalidate": "novalidate"}}) }}
    <div class="content-container large">
        <span class="dialog-title">créer votre e-mail</span>
        <div class="row options-container">
            <div class="options-wrapper"></div>
            <div class="col-12 col-lg-4 left-col">
                <div class="template-preview-block template-config-block">
                    <span class="option-title">prévisualisation</span>
                    <div class="template-preview-container hidden-xs-down"></div>
                    <a href="#" class="magnify-template-preview"></a>
                </div>
                <div class="template-config-block">
                    <div class="color-option-container">
                        <span class="option-title">Couleur de l'e-mail</span>
                        {#<input id="email-color" type="text" class="color-value">#}
                        {{ form_widget(manip_template_form.email_color, {"attr":{"class": "color-value"}}) }}
                    </div>
                    <div class="color-option-container">
                        <span class="option-title">Couleur de l'arrière plan</span>
                        {#<input id="background-color" type="text" class="color-value">#}
                        {{ form_widget(manip_template_form.background_color, {"attr":{"class": "color-value"}}) }}
                    </div>
                </div>
                <div class="template-config-block footer-text-block">
                    <span class="option-title">Texte présent dans le footer</span>
                    <div class="footer-text-element">
                        <div class="footer-text-option-container">
                            {{ form_widget(manip_template_form.footer_company_info, { "attr": {"class": "footer-text-option-input mandatory-footer-text", "placeholder": "copyright / société"}}) }}
                            <span class="delete-mandatory-input"></span>
                        </div>
                        <div class="error-message-container">
                            {{ form_errors(manip_template_form.footer_company_info) }}
                        </div>
                    </div>
                    <div class="footer-text-element">
                        <div class="footer-text-option-container">
                            {{ form_widget(manip_template_form.footer_contact_info, { "attr": {"class": "footer-text-option-input mandatory-footer-text", "placeholder": "contact@masociete.com"}}) }}
                            <span class="delete-mandatory-input"></span>
                        </div>
                        <div class="error-message-container">
                            {{ form_errors(manip_template_form.footer_contact_info) }}
                        </div>
                    </div>
                    <div class="footer-text-element">
                        <div class="footer-text-option-container">
                            {{ form_widget(manip_template_form.footer_unsubscribing_text, { "attr": {"class": "footer-text-option-input mandatory-footer-text", "placeholder": "me désabonner"}}) }}
                            <span class="delete-mandatory-input"></span>
                        </div>
                        <div class="error-message-container">
                            {{ form_errors(manip_template_form.footer_unsubscribing_text) }}
                        </div>
                    </div>
                    <div class="footer-text-element">
                        <div class="footer-text-option-container">
                            {{ form_widget(manip_template_form.footer_additional_info, { "attr": {"class": "footer-text-option-input removable-content-input" }}) }}
                            {% set delete_input_visibility = 'style=display:none' %}
                            {% if manip_template_form.vars.value.footerAdditionalInfo | trim is not empty %}
                                {% set delete_input_visibility = '' %}
                            {% endif %}
                            <span class="delete-input" {{ delete_input_visibility }}></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 right-col template-config-block-container">
                {% if current_template_model == constant('TEXT_AND_IMAGE', template_model_class) %}
                <div class="template-config-block">
                    <div class="option-title-block">logo</div>
                    <div class="row">
                        <div class="col-12 col-lg-2">
                            {#<label>image</label>#}
                            {{ form_label(manip_template_form.logo, "image") }}
                        </div>
                        <div class="col-12 col-lg-10">
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    {{ form_widget(manip_template_form.logo, {"attr": {"class": "hidden-input-file image-input"}}) }}
                                    {% if manip_template_form.vars.value.logo is not empty %}
                                    <button class="btn-valider btn-upload choose-upload-img-button hidden-button">
                                        <span class="upload"></span>
                                        choisissez un fichier...
                                    </button>
                                    <div class="upload-img-button-container">
                                        <button class="upload-img-button">
                                            <span class="blue-upload"></span><span class="img-name-container">{{ manip_template_form.vars.value.logo }}</span>
                                        </button>
                                    </div>
                                    <a href="#" class="delete-link delete-image delete-logo-image"></a>
                                    <input type="hidden" class="initial-image" value="{{ manip_template_form.vars.value.logo }}">
                                    {% else %}
                                    <button class="btn-valider btn-upload choose-upload-img-button">
                                        <span class="upload"></span>
                                        choisissez un fichier...
                                    </button>
                                    <div class="upload-img-button-container hidden-button">
                                        <button class="upload-img-button">
                                            <span class="blue-upload"></span><span class="img-name-container"></span>
                                        </button>
                                    </div>
                                    <a href="#" class="delete-link delete-image delete-logo-image" style="display: none;"></a>
                                    <input type="hidden" class="initial-image">
                                    {% endif %}
                                </div>
                                <div class="col-12 col-sm-12 error-message-container">
                                    {{ form_errors(manip_template_form.logo) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 logo-alignment-option-container">
                            <div class="logo-alignment-option">
                                {#<input checked id="logo-alignment-center-choice" type="radio" name="logo_alignment" class="styled-radio bigger">#}
                                {{ form_widget(manip_template_form.logo_alignment[0], {"attr": {"class": "styled-radio bigger"}}) }}
                                <label for="{{ manip_template_form.logo_alignment[0].vars.id }}"></label>
                                {#<label for="logo-alignment-center-choice" class="text-label">centré</label>#}
                                {{ form_label(manip_template_form.logo_alignment[0], "centré", {"label_attr":{"class": "text-label"}}) }}
                            </div>
                            <div class="logo-alignment-option">
                                {#<input id="logo-alignment-left-choice" type="radio" name="logo_alignment" class="styled-radio bigger">#}
                                {{ form_widget(manip_template_form.logo_alignment[1], {"attr": {"class": "styled-radio bigger"}}) }}
                                <label for="{{ manip_template_form.logo_alignment[1].vars.id }}"></label>
                                {#<label for="logo-alignment-left-choice" class="text-label">ferré à gauche</label>#}
                                {{ form_label(manip_template_form.logo_alignment[1], "férré à gauche", {"label_attr":{"class": "text-label"}}) }}
                            </div>
                            <div class="logo-alignment-option">
                                {#<input id="logo-alignment-right-choice" type="radio" name="logo_alignment" class="styled-radio bigger">#}
                                {{ form_widget(manip_template_form.logo_alignment[2], {"attr": {"class": "styled-radio bigger"}}) }}
                                <label for="{{ manip_template_form.logo_alignment[2].vars.id }}"></label>
                                {#<label for="logo-alignment-right-choice" class="text-label">ferré à droite</label>#}
                                {{ form_label(manip_template_form.logo_alignment[2], "férré à droite", {"label_attr":{"class": "text-label"}}) }}
                            </div>
                            <div class="logo-alignment-option">
                                {#<input id="logo-alignment-expanded-choice" type="radio" name="logo_alignment" class="styled-radio bigger">#}
                                {{ form_widget(manip_template_form.logo_alignment[3], {"attr": {"class": "styled-radio bigger"}}) }}
                                <label for="{{ manip_template_form.logo_alignment[3].vars.id }}"></label>
                                {#<label for="logo-alignment-expanded-choice" class="text-label">étendue</label>#}
                                {{ form_label(manip_template_form.logo_alignment[3], "étendue", {"label_attr":{"class": "text-label"}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if current_template_model == constant('TEXT_AND_IMAGE', template_model_class) %}
                <div class="template-config-block template-content-block">
                    <div class="option-title-block">image</div>
                    <div class="row">
                        <div class="col-12 col-lg-2">
                            {#<label>image</label>#}
                            {{ form_label(manip_template_form.contents[0].image, "image") }}
                        </div>
                        <div class="col-12 col-lg-10">
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    {{ form_widget(manip_template_form.contents[0].image, {"attr": {"class": "hidden-input-file image-input"}}) }}
                                    {% if manip_template_form.contents[0].vars.value.image is not empty %}
                                    <button class="btn-valider btn-upload choose-upload-img-button hidden-button">
                                        <span class="upload"></span>
                                        choisissez un fichier...
                                    </button>
                                    <div class="upload-img-button-container">
                                        <button class="upload-img-button">
                                            <span class="blue-upload"></span><span class="img-name-container">{{ manip_template_form.contents[0].vars.value.image }}</span>
                                        </button>
                                    </div>
                                    <a href="#" class="delete-link delete-image delete-content-image" data-content-id="{{ manip_template_form.contents[0].vars.value.getId }}"></a>
                                    <input type="hidden" class="initial-image" value="{{ manip_template_form.contents[0].vars.value.image }}">
                                    {% else %}
                                    <button class="btn-valider btn-upload choose-upload-img-button">
                                        <span class="upload"></span>
                                        choisissez un fichier...
                                    </button>
                                    <div class="upload-img-button-container hidden-button">
                                        <button class="upload-img-button">
                                            <span class="blue-upload"></span><span class="img-name-container"></span>
                                        </button>
                                    </div>
                                    <a href="#" class="delete-link delete-image delete-content-image" style="display: none;" data-content-id="{{ manip_template_form.contents[0].vars.value.getId }}"></a>
                                    <input type="hidden" class="initial-image" value="">
                                    {% endif %}
                                    <div class="info-container">
                                        <p>largeur optimale de l'image : 600px</p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 error-message-container">
                                    {{ form_errors(manip_template_form.contents[0].image) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="template-config-block template-content-block">
                    <div class="option-title-block">personnalisation</div>
                    <div class="personalization-container">
                        <div class="personalization-option-container">
                            <input id="civility-personalization" type="checkbox" class="styled-on-off-state personalization-option" data-personalization-value="civility">
                            <label for="civility-personalization"></label>
                            <label for="civility-personalization" class="option-label">civilité</label>
                        </div>
                        <div class="personalization-option-container">
                            <input id="firstname-personalization" type="checkbox" class="styled-on-off-state personalization-option" data-personalization-value="firstname">
                            <label for="firstname-personalization"></label>
                            <label for="firstname-personalization" class="option-label">prénom</label>
                        </div>
                        <div class="personalization-option-container">
                            <input id="name-personalization" type="checkbox" class="styled-on-off-state personalization-option" data-personalization-value="name">
                            <label for="name-personalization"></label>
                            <label for="name-personalization" class="option-label">nom</label>
                        </div>
                    </div>
                </div>

                <div class="template-config-block template-content-block">
                    <div class="option-title-block">texte</div>
                    <div>
                        {#<textarea class="large-textarea" id="template-text"></textarea>#}
                        {% if edit_mode is defined and true == edit_mode and constant('TEXT_ONLY', template_model_class) == manip_template_form.vars.value.templateModel %}
                        {{ form_widget(manip_template_form.contents[0].text_content, {"attr": {"class": "large-textarea main-text-content"}}) }}
                        {% else %}
                        {{ form_widget(manip_template_form.contents[1].text_content, {"attr": {"class": "large-textarea main-text-content"}}) }}
                        {% endif %}
                    </div>
                </div>

                {% set default_button_content = null %}
                {% if edit_mode is defined and true == edit_mode and constant('TEXT_ONLY', template_model_class) == manip_template_form.vars.value.templateModel %}
                    {% set default_button_content = manip_template_form.contents[1] %}
                {% else %}
                    {% set default_button_content = manip_template_form.contents[2] %}
                {% endif %}
                <div class="template-config-block action-button-block">
                    <div class="option-title-block">bouton d'action</div>
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            {#<label>texte du bouton</label>#}
                            {{ form_label(default_button_content.action_button_text, "texte de bouton") }}
                        </div>
                        <div class="col-12 col-lg-9 vertical-align-element-container">
                            {#<input type="text" class="action-button-option-input removable-content-input" value="mon bouton d'action">#}
                            {{ form_widget(default_button_content.action_button_text, {"attr": {"class": "action-button-option-input removable-content-input action-button-text-input"}}) }}
                            {% set delete_input_visibility = 'style=display:none' %}
                            {% if default_button_content.vars.value.actionButtonText | trim is not empty %}
                                {% set delete_input_visibility = '' %}
                            {% endif %}
                            <span class="delete-input delete-action-button-text" {{ delete_input_visibility }}></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            {#<label>url / mailto</label>#}
                            {{ form_label(default_button_content.action_button_url, "url / mailto") }}
                        </div>
                        <div class="col-12 col-lg-9 vertical-align-element-container">
                            {#<input type="text" class="action-button-option-input removable-content-input" value="inscription@gmail.com">#}
                            {{ form_widget(default_button_content.action_button_url, {"attr": {"class": "action-button-option-input removable-content-input"}}) }}
                            {% set delete_input_visibility = 'style=display:none' %}
                            {% if default_button_content.vars.value.actionButtonUrl | trim is not empty %}
                                {% set delete_input_visibility = '' %}
                            {% endif %}
                            <span class="delete-input" {{ delete_input_visibility }}></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <label>aspect</label>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="action-button-preview" style="background-color: {{ default_button_content.vars.value.actionButtonBackgroundColor }}; color: {{ default_button_content.vars.value.actionButtonTextColor }} ">
                                {{ default_button_content.vars.value.actionButtonText }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-9 offset-lg-3">
                            <div class="action-button-color-option">
                                <span class="option-title">Couleur du bouton</span>
                                {#<input id="action-button-background-color" type="text" class="color-value" data-defaultValue="#ff0000">#}
                                {{ form_widget(default_button_content.action_button_background_color, {"attr": {"class": "color-value action-button-background-color"}}) }}
                            </div>
                            <div class="action-button-color-option">
                                <span class="option-title">Couleur du texte de bouton</span>
                                {#<input id="action-button-text-color" type="text" class="color-value" data-defaultValue="#ffffff">#}
                                {{ form_widget(default_button_content.action_button_text_color, {"attr": {"class": "color-value action-button-text-color"}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                {% if current_template_model == constant('TEXT_AND_IMAGE', template_model_class) and (manip_template_form.contents|length) > 3 %}
                    {% for content in manip_template_form.contents %}
                        {% if loop.index > 3 %}
                            {% if constant('IMAGE', content_type_class) == content.vars.value.contentType %}
                <div class="template-config-block template-content-block">
                    <div class="option-title-block">image<span class="delete-content"></span></div>
                    <div class="row">
                        <div class="col-12 col-lg-2">
                            {#<label>image</label>#}
                            {{ form_label(content.image, "image") }}
                        </div>
                        <div class="col-12 col-lg-10">
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    {{ form_widget(content.image, {"attr": {"class": "hidden-input-file image-input"}}) }}
                                    {% if content.vars.value.image is not empty %}
                                    <button class="btn-valider btn-upload choose-upload-img-button hidden-button">
                                        <span class="upload"></span>
                                        choisissez un fichier...
                                    </button>
                                    <div class="upload-img-button-container">
                                        <button class="upload-img-button">
                                            <span class="blue-upload"></span><span class="img-name-container">{{ content.vars.value.image }}</span>
                                        </button>
                                    </div>
                                    <a href="#" class="delete-link delete-image delete-content-image" data-content-id="{{ content.vars.value.getId }}"></a>
                                    <input type="hidden" class="initial-image" value="{{ content.vars.value.image }}">
                                    {% else %}
                                    <button class="btn-valider btn-upload choose-upload-img-button">
                                        <span class="upload"></span>
                                        choisissez un fichier...
                                    </button>
                                    <div class="upload-img-button-container hidden-button">
                                        <button class="upload-img-button">
                                            <span class="blue-upload"></span><span class="img-name-container"></span>
                                        </button>
                                    </div>
                                    <a href="#" class="delete-link delete-image delete-content-image" style="display: none;" data-content-id="{{ content.vars.value.getId }}"></a>
                                    <input type="hidden" class="initial-image" value="">
                                    {% endif %}
                                    <div class="info-container">
                                        <p>largeur optimale de l'image : 600px</p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 error-message-container">
                                    {{ form_errors(content.image) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            {% elseif constant('TEXT', content_type_class) == content.vars.value.contentType %}
                <div class="template-config-block template-content-block">
                    <div class="option-title-block">texte<span class="delete-content"></span></div>
                    <div>
                        {{ form_widget(content.text_content, {"attr": {"class": "large-textarea"}}) }}
                    </div>
                </div>
                            {% elseif constant('BUTTON', content_type_class) == content.vars.value.contentType %}
                <div class="template-config-block template-content-block action-button-block">
                    <div class="option-title-block">bouton d'action<span class="delete-content"></span></div>
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            {{ form_label(content.action_button_text, "texte de bouton") }}
                        </div>
                        <div class="col-12 col-lg-9 vertical-align-element-container">
                            {{ form_widget(content.action_button_text, {"attr": {"class": "action-button-option-input removable-content-input action-button-text-input"}}) }}
                            {% set delete_input_visibility = 'style=display:none' %}
                            {% if content.vars.value.actionButtonText | trim is not empty %}
                                {% set delete_input_visibility = '' %}
                            {% endif %}
                            <span class="delete-input delete-action-button-text" {{ delete_input_visibility }}></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            {{ form_label(content.action_button_url, "url / mailto") }}
                        </div>
                        <div class="col-12 col-lg-9 vertical-align-element-container">
                            {{ form_widget(content.action_button_url, {"attr": {"class": "action-button-option-input removable-content-input"}}) }}
                            {% set delete_input_visibility = 'style=display:none' %}
                            {% if default_button_content.vars.value.actionButtonUrl | trim is not empty %}
                                {% set delete_input_visibility = '' %}
                            {% endif %}
                            <span class="delete-input" {{ delete_input_visibility }}></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <label>aspect</label>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="action-button-preview" style="background-color: {{ content.vars.value.actionButtonBackgroundColor }}; color: {{ content.vars.value.actionButtonTextColor }} ">
                                {{ content.vars.value.actionButtonText }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-9 offset-lg-3">
                            <div class="action-button-color-option">
                                <span class="option-title">Couleur du bouton</span>
                                {{ form_widget(content.action_button_background_color, {"attr": {"class": "color-value action-button-background-color"}}) }}
                            </div>
                            <div class="action-button-color-option">
                                <span class="option-title">Couleur du texte de bouton</span>
                                {{ form_widget(content.action_button_text_color, {"attr": {"class": "color-value action-button-text-color"}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}


                {% if current_template_model == constant('TEXT_AND_IMAGE', template_model_class) %}
                <div class="add-other-content-container">
                    <a class="add add-image-link" href="#"><span>ajouter une image</span></a>
                    <a class="add add-text-link" href="#"><span>ajouter un texte</span></a>
                    <a class="add add-button-link" href="#"><span>ajouter un bouton</span></a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row template-name-container hidden">
            <div class="col-12 col-lg-5 template-name-label-container">
                {{ form_label(manip_template_form.name, "nommmer votre template", {"label_attr":{"class": "template-name-label"}}) }}
            </div>
            <div class="col-12 col-lg-7 vertical-align-element-container">
                <div class="row template-name-input-row-container">
                    <div class="col-12 col-sm-12">
                        {{ form_widget(manip_template_form.name, {"attr": {"class": "template-name-input removable-content-input"}}) }}
                        {% set delete_input_visibility = 'style=display:none' %}
                        {% if manip_template_form.vars.value.name | trim is not empty %}
                            {% set delete_input_visibility = '' %}
                        {% endif %}
                        <span class="delete-input" {{ delete_input_visibility }}></span>
                    </div>
                    <div class="col-12 col-sm-12 error-message-container template-name-error">
                        {{ form_errors(manip_template_form.name) }}
                    </div>
                </div>
                {#{{ form_widget(manip_template_form.name, {"attr": {"class": "template-name-input removable-content-input"}}) }}
                {% set delete_input_visibility = 'style=display:none' %}
                {% if manip_template_form.vars.value.name | trim is not empty %}
                    {% set delete_input_visibility = '' %}
                {% endif %}
                <span class="delete-input" {{ delete_input_visibility }}></span>#}
            </div>
        </div>
    </div>
    <div>
        {{ form_widget(manip_template_form.template_model, {"attr": {"class": "hidden-template-model"}}) }}
        {{ form_widget(manip_template_form.delete_logo_image_command, {"attr": {"class": "delete-logo-image-command-hidden"}}) }}
        {{ form_widget(manip_template_form.delete_contents_image_command, {"attr": {"class": "delete-contents-image-command-hidden"}}) }}
    </div>
    <div class="submit-button-container">
        <button class="btn-valider save">
            enregistrer
        </button>
        {% if edit_mode is defined and true == edit_mode %}
        <button class="btn-valider validate validate-edit hidden" data-target-url="{{ path("admin_communication_emailing_templates_edit_template", {"template_id": manip_template_form.vars.value.getId}) }}">
            valider
        </button>
        {% else %}
        <button class="btn-valider validate validate-add hidden">
            valider
        </button>
        {% endif %}
        <button class="btn-valider modify hidden">
            modifier
        </button>
    </div>
    <div class="block-model-container">
        <div class="template-config-block template-content-image-model template-content-block">
            <div class="option-title-block">image<span class="delete-content"></span></div>
            <div class="row">
                <div class="col-12 col-lg-2">
                    {#<label>image</label>#}
                    {{ form_label(manip_template_form.contents.vars.prototype.image, "image") }}
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            {{ form_widget(manip_template_form.contents.vars.prototype.image, {"attr": {"class": "hidden-input-file image-input"}}) }}
                            <button class="btn-valider btn-upload choose-upload-img-button">
                                <span class="upload"></span>
                                choisissez un fichier...
                            </button>
                            <div class="upload-img-button-container hidden-button">
                                <button class="upload-img-button">
                                    <span class="blue-upload"></span><span class="img-name-container"></span>
                                </button>
                            </div>
                            <a href="#" class="delete-link delete-image delete-content-image" style="display:none"></a>
                            <div class="info-container">
                                <p>largeur optimale de l'image : 600px</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12">
                            {{ form_errors(manip_template_form.contents.vars.prototype.image) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="template-config-block template-content-text-model template-content-block">
            <div class="option-title-block">texte<span class="delete-content"></span></div>
            <div>
                {#<textarea class="large-textarea" id="template-text"></textarea>#}
                {{ form_widget(manip_template_form.contents.vars.prototype.text_content) }}
            </div>
        </div>
        <div class="template-config-block template-content-button-model template-content-block action-button-block">
            <div class="option-title-block">bouton d'action<span class="delete-content"></span></div>
            <div class="row">
                <div class="col-12 col-lg-3">
                    {{ form_label(manip_template_form.contents.vars.prototype.action_button_text, "texte de bouton") }}
                </div>
                <div class="col-12 col-lg-9 vertical-align-element-container">
                    {{ form_widget(manip_template_form.contents.vars.prototype.action_button_text, {"attr": {"class": "action-button-option-input removable-content-input action-button-text-input"}}) }}
                    <span class="delete-input delete-action-button-text" style=display:none></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-3">
                    {{ form_label(manip_template_form.contents.vars.prototype.action_button_url, "url / mailto") }}
                </div>
                <div class="col-12 col-lg-9 vertical-align-element-container">
                    {{ form_widget(manip_template_form.contents.vars.prototype.action_button_url, {"attr": {"class": "action-button-option-input removable-content-input"}}) }}
                    <span class="delete-input" style=display:none></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-3">
                    <label>aspect</label>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="action-button-preview" style="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-9 offset-lg-3">
                    <div class="action-button-color-option">
                        <span class="option-title">Couleur du bouton</span>
                        {{ form_widget(manip_template_form.contents.vars.prototype.action_button_background_color, {"attr": {"class": "action-button-background-color"}}) }}
                    </div>
                    <div class="action-button-color-option">
                        <span class="option-title">Couleur du texte de bouton</span>
                        {{ form_widget(manip_template_form.contents.vars.prototype.action_button_text_color, {"attr": {"class": "action-button-text-color"}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="template-config-block template-content-config-model">
            {{ form_widget(manip_template_form.contents.vars.prototype.content_type, {"attr": {"class": "content-type"}}) }}
            {{ form_widget(manip_template_form.contents.vars.prototype.content_order, {"attr": {"class": "content-order" }}) }}
        </div>
    </div>
    {{ form_end(manip_template_form) }}
{% endif %}