{% extends "BeneficiaryBundle::layout.html.twig" %}

{% block header %}
    {% embed 'BeneficiaryBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('bundles/beneficiary/css/acceuil.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/beneficiary/css/swiper.css') }}">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block slide %}
    <div class="container bg-slide">
        <div class="row">
            <div class="col-12 content-body">
                <div class = "slide-lefter">&nbsp;</div>
                <div class = "slide-righter">&nbsp;</div>
                <div class = "slide">
                    <div class="swiper-container hidden-md-up">
                        <div class="swiper-wrapper">
                            {% if slide_list is defined and slide_list is not empty%}
                                {% for slide in slide_list %}
                            <div class="swiper-slide">
                                <span class="slide-message">{{ slide.message }}</span>
                                    {% if slide.image is not null and slide.image is not empty %}
                                <img src="{{ asset(content_home_page_slide_image_location~slide.image) | imagine_filter('750_width_filter')}}" alt="" width = "100%" class = "logo-img" />
                                    {% else %}
                                <div class="no-slide-image"></div>
                                    {% endif %}
                            </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>

                    <div class="swiper-container hidden-md-down">
                        <div class="swiper-wrapper">
                            {% if slide_list is defined and slide_list is not empty%}
                                {% for slide in slide_list %}
                            <div class="swiper-slide {{ slide.image is null ? 'no-image' : '' }}">
                                <span class="slide-message">{{ slide.message }}</span>
                                    {% if slide.image is not null and slide.image is not empty %}
                                <img src="{{ asset(content_home_page_slide_image_location~slide.image) }}" alt="" width = "100%"  class = "logo-img" />
                                    {% else %}
                                <div class="no-slide-image"></div>
                                    {% endif %}
                            </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>


                    </div>
                    <div class = "clearBoth"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="col-12 content-body">
        <!-- LEFTER -->
        <div class = "content-lefter">
            <!--MON COMPTE -->
            <div class = "content-mon-compte">
                <p class = "block-active-hover" id = "block-active-hover-mon-compte"></p>
                <p class = "ligne-1-block">
                    <span class = "titre-block light">mon compte</span>
                    <span class = "titre-block-img-mon-compte"></span>
                </p>

                <p class = "mon-compte-nom light">
                    <span class = "lib-nom-mon-compte">Martin Bourdais</span>
                </p>

                <p class = "mon-compte-points light">
                    <span>1&nbsp;358 pts</span>
                </p>

                <p class = "mon-compte-btn light">
                    <span>accéder</span>
                </p>
            </div>
            <!--FIN MON COMPTE -->

            <!--MON CLASSEMENT -->
            <div class = "content-classement">
                <p class = "block-active-hover" id = "block-active-hover-classement"></p>
                <p class = "ligne-1-block">
                    <span class = "titre-block light">classement</span>
                    <span class = "titre-block-img-classement"></span>
                </p>

                <p class = "mon-compte-nom light">
                    <span>consulter votre classement en temps réel !</span>
                </p>

                <p class = "mon-compte-points light">
                    <span>52<sup>e</sup></span>
                </p>

                <p class = "mon-compte-btn light">
                    <span>plus de détails</span>
                </p>
            </div>
            <!--FIN CLASSEMENT -->

            <!--MON CONTACT -->
            <div class = "content-contact">
                <p class = "block-active-hover" id = "block-active-hover-contact"></p>
                <p class = "ligne-1-block">
                    <span class = "titre-block light">contact</span>
                    <span class = "titre-block-img-contact"></span>
                </p>

                <p class = "mon-compte-nom light">
                    <span>vous souhaitez nous contacter, n'hésitez pas!</span>
                </p>

                <p class = "mon-compte-btn light">
                    <span>nous contacter</span>
                </p>
            </div>
            <!--FIN CONTACT -->
        </div>
        <!-- FIN LEFTER -->

        <!-- RIGHTER -->
        <div class = "content-righter">
            <!-- CHALLENGE EN COURS -->
            <div class = "content-challenge-en-cours">
                <p class = "block-active-hover" id = "block-active-hover-challenge-en-cours"></p>
                <p class = "ligne-1-block">
                    <span class = "titre-block-date bold">17</span>
                    <span class = "titre-block-lib-date-mois light">octobre 2017</span>
                    <br>
                    <span class = "titre-block-lib-date-jour regular">mardi</span>
                </p>

                <hr>

                <p class = "date-infos">
                    <span class = "regular">fin du challenge en cours le</span>
                </p>

                <p class = "date-infos-date">
                    <span class = "light">01 février 2018</span>
                </p>
            </div>
            <!-- FIN CHALLENGE EN COURS -->

            <!-- FLUX CADEAUX -->
            <div class = "content-flux-cadeaux">
                <p class = "block-active-hover" id = "block-active-hover-flux-cadeaux"></p>
                <p class = "ligne-1-block">
                    <span class = "titre-block light">le fil cadeaux</span>
                    <span class = "titre-block-img-cadeaux"></span>
                </p>

                <ul class = "liste-flux-cadeaux">
                    <li class = "pair">
                        <p class = "img-cadeaux-flux">
                            <img src = "{{ asset('bundles/beneficiary/images/cloudsRewards/img-flux-cadeaux.png') }}" width = "58" height = "79" class = "img-fluid">
                        </p>
                        <p class = "descr-cadeaux-flux">
                            <span class = "lib-cadeaux regular">iPhone 8 plus</span>
                            <span class = "desc-cadeaux regular">64 Go 5,5"</span>
                            <span class = "vue-cadeaux light">22&nbsp;975 pts</span>
                            <span class = "btn-cadeaux regular">J'aime 3</span>
                        </p>
                    </li>

                    <li class = "impair">
                        <p class = "img-cadeaux-flux">
                            <img src = "{{ asset('bundles/beneficiary/images/cloudsRewards/img-flux-cadeaux2.png') }}" width = "58" height = "79" class = "img-fluid">
                        </p>
                        <p class = "descr-cadeaux-flux">
                            <span class = "lib-cadeaux regular">Week-end pour 2</span>
                            <span class = "desc-cadeaux regular">sur la côte d'azur</span>
                            <span class = "vue-cadeaux light">3&nbsp;875 pts</span>
                            <span class = "btn-cadeaux regular">J'aime 50</span>
                        </p>
                    </li>

                    <li class = "pair">
                        <p class = "img-cadeaux-flux">
                            <img src = "{{ asset('bundles/beneficiary/images/cloudsRewards/img-flux-cadeaux3.png') }}" width = "58" height = "79" class = "img-fluid">
                        </p>
                        <p class = "descr-cadeaux-flux">
                            <span class = "lib-cadeaux regular">Nespresso Krups</span>
                            <span class = "desc-cadeaux regular">Inissia</span>
                            <span class = "vue-cadeaux light">2&nbsp;000 pts</span>
                            <span class = "btn-cadeaux regular">J'aime 22</span>
                        </p>
                    </li>
                </ul>
                <span class = "nav-fleche-gauche-cadeaux"></span>
                <span class = "lib-nav-cadeaux light">1 sur 3</span>
                <span class = "nav-fleche-droite-cadeaux"></span>

                <span class = "btn-acces-boutique light">accéder à la boutique</span>
            </div>
            <!-- FIN FLUX CADEAUX -->

            <!-- RESEAUX SOCIAUX -->
            {% if has_network %}
                <div class = "content-rs-sociaux">
                    <p class = "block-active-hover" id = "block-active-hover-rs-sociaux"></p>
                    <p class = "ligne-1-block">
                        <span class = "titre-block light">réseaux sociaux</span>
                    </p>

                    <p class = "date-infos">
                        <span class = "light">suivez votre challenge !</span>
                    </p>

                    <p class = "rs-sociaux-ligne-1">
                        {% if table_network.hasFacebook %}
                            <a href={{ (table_network.facebookLink)?"http://#{table_network.facebookLink}":"#" }}>
                                <span class = "rs-ligne-1-fb"></span>                                
                            </a>
                        {% endif %}
                        {% if table_network.hasLinkedin %}
                            <a href={{ (table_network.linkedinLink)?"http://#{table_network.linkedinLink}":"#" }}>
                                <span class = "rs-ligne-1-linkdin"></span>                            
                            </a>
                        {% endif %}
                        {% if table_network.hasTwitter %}
                            <a href={{ (table_network.twitterLink)?"http://#{table_network.twitterLink}":"#" }}>
                                <span class = "rs-ligne-1-twitter"></span>                           
                            </a>
                        {% endif %}
                        {# <span class = "rs-ligne-1-viadeo"></span> #}
                    </p>

                    {# <p class = "rs-sociaux-ligne-2">
                        <span class = "rs-ligne-2-gplus"></span> 
                        <span class = "rs-ligne-2-twitter"></span>                       
                        <span class = "rs-ligne-2-pink"></span>
                    </p> #}
                </div>
            {% endif %}
            <!-- FIN RESEAUX SOCIAUX -->
        </div>
        <!-- FIN RIGHTER -->

        <!-- CENTER -->
        <div class = "content-center">
            <!-- SEP DATE LIGNE -->
            <div class = "content-sep-date-ligne"></div>
            <!-- FIN SEP DATE LIGNE -->


            <!-- EDITO -->
            <div class = "content-edito">
                <p class = "block-active-hover" id = "block-active-hover-edito"></p>
                <p class = "titre-block-centre">
                    <span class = "lib-titre-block-centre light">édito</span>
                    {% if editorial is defined and editorial.lastEdit is not null %}
                    {#<span class = "lib-date-block-centre regular">{{ editorial.lastEdit | localizeddate('none', 'none', locale, null, "d MMMM - H'h'mm") }}</span>#}
                    <span class = "lib-date-block-centre regular">{{ editorial.lastEdit | localizeddate('none', 'none', 'en', null, "d MMMM - H'h'mm") }}</span>
                    {% endif %}
                    <span class = "lib-date-block-centre-large bold">Loren ipsum dolor sit amet, consectetur adipiscing elit</span>
                </p>

                <p class = "img-titre-block-centre hidden-xs-down">
                    <img src = "{{ asset('bundles/beneficiary/images/cloudsRewards/edito.png') }}" width = "107" height = "107" class = "img-fluid">
                </p>

                <p class = "descr-block-centre">
                {% if editorial is defined %}
                    {{ editorial.content | raw }}
                {% endif %}
                </p>

                <p class = "btn-jaime-block-center light">
                    <span class = "lib-btn-jaime regular">J'aime 73</span>
                </p>
            </div>
            <!-- FIN EDITO -->

            <!-- SEP DATE -->
            <div class = "content-sep-date">
                <div class = "content-sep-date-positionnement">
                    <span class = "light">12/10</span>
                </div>
            </div>
            <!-- FIN SEP DATE -->

            <!-- DATE CHALLENGE -->
            <div class = "content-date-challenge">
                <p class = "block-active-hover" id = "block-active-hover-date-challenge"></p>
                <p class = "titre-block-centre">
                    <span class = "lib-titre-block-centre light">les dates du challenge</span>
                    <span class = "lib-date-block-centre regular">12 octobre - 11h05</span>

                    <span class = "lib-date-block-centre-large bold">Du 15 octobre 2017 au 22 février 2018</span>
                </p>

                <p class = "img-titre-block-centre hidden-xs-down">
                    <!--
                    <img src = "{{ asset('bundles/beneficiary/images/cloudsRewards/edito.png') }}" width = "107" height = "107" class = "img-fluid">
                    -->
                </p>

                <p class = "descr-block-centre">
                                            <span class = "descr-1">

                                            </span>

                    <span class = "descr-2 regular">
                                                Ut semper urna in velit varius malescada. Fusce id orti tellus. Ut semper urna in velit varius malescada. Fusce id orti tellus.Ut semper urna in velit varius malescada. Fusce id orti tellus.Ut semper urna in velit varius malescada. Fusce id orti tellus
                                            </span>

                    <span class = "descr-3 regular">
                                                Ut semper urna in velit varius malescada. Fusce id orti tellus. Ut semper urna in velit varius malescada. Fusce id orti tellus.Ut semper urna in velit varius malescada. Fusce id orti tellus.Ut semper urna in velit varius malescada. Fusce id orti tellus
                                            </span>

                </p>

                <p class = "btn-jaime-block-center">
                    <span class = "lib-btn-jaime regular">J'aime 19</span>
                </p>
            </div>
            <!-- FIN DATE CHALLENGE -->

            <!-- SEP DATE -->
            <div class = "content-sep-date-vide"></div>
            <!-- FIN SEP DATE -->

            <!-- TROPHEES -->
            <div class = "content-trophees">
                <p class = "block-active-hover" id = "block-active-hover-trophees"></p>
                <p class = "titre-block-centre">
                    <span class = "lib-titre-block-centre light">trophée pour les 3 premiers</span>
                    <span class = "lib-date-block-centre regular">12 octobre - 8h05</span>

                    <span class = "lib-date-block-centre-large bold">Nulla vestitum ipsumocci, veluctus </span>
                </p>

                <p class = "img-titre-block-centre hidden-xs-down">
                    <!--
                    <img src = "{{ asset('bundles/beneficiary/images/cloudsRewards/edito.png') }}" width = "107" height = "107" class = "img-fluid">
                    -->
                </p>

                <p class = "descr-block-centre">
                    <img src = "{{ asset('bundles/beneficiary/images/cloudsRewards/trophee-3-premiers.png') }}" width = "375" height = "236" class = "img-fluid trophees-3-premiers">
                </p>

                <p class = "btn-jaime-block-center">
                    <span class = "lib-btn-jaime regular">J'aime 38</span>
                </p>
            </div>
            <!-- FIN TROPHEES -->

            <!-- SEP DATE -->
            <div class = "content-sep-date">
                <div class = "content-sep-date-positionnement">
                    <span class = "light">15/10</span>
                </div>
            </div>
            <!-- FIN SEP DATE -->

            <!-- NOUVEAUX CHALLENGE -->
            <div class = "content-nouveaux-challenge">
                <p class = "block-active-hover" id = "block-active-hover-nouveaux-challenge"></p>
                <p class = "titre-block-centre">
                    <span class = "lib-titre-block-centre light">bientôt notre nouveau challenge</span>
                    <span class = "lib-date-block-centre regular">15 septembre - 14h03</span>

                    <!--
                    <span class = "lib-date-block-centre-large">Nulla vestitum ipsumocci, veluctus </span>
                    -->
                </p>

                <p class = "img-titre-block-centre hidden-xs-down">
                    <!--
                    <img src = "{{ asset('bundles/beneficiary/images/cloudsRewards/edito.png') }}" width = "107" height = "107" class = "img-fluid">
                    -->
                </p>

                <p class = "descr-block-centre">
                    <img src = "{{ asset('bundles/beneficiary/images/cloudsRewards/nouveaux-challenge.png') }}" width = "410" height = "274" class = "img-fluid nouveaux-img-challenge">
                </p>

                <p class = "btn-jaime-block-center">
                    <span class = "lib-btn-jaime regular">J'aime 38</span>
                </p>
            </div>
            <!-- FIN NOUVEAUX CHALLENGE -->
        </div>
        <!-- FIN CENTER -->

    </div>
{% endblock %}

{% block footer %}
    {% embed 'BeneficiaryBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('bundles/beneficiary/js/slide.js') }}"></script>
            <script src="{{ asset('bundles/beneficiary/js/swiper.min.js') }}"></script>
            <script src="{{ asset('bundles/beneficiary/js/acceuil.js') }}"></script>
            <script>
                var swiper = new Swiper('.swiper-container', {
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}