{% block stylesheets %}
	<link href="{{ asset("css/register.css") }}" rel="stylesheet">
{% endblock %}
{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-1 registre">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarNiv1">
		<span class="navbar-toggler-icon"></span>
	</button>
	{{ render(controller("AdminBundle:Parametrages:logoLogin")) }}
	{#<img src="{{asset('images/cloudsRewards/power.png')}}">#}
	<div class="logout">
		<a href="{{ path("fos_user_security_logout") }}"></a>
	</div>
	
</nav>
<main>
	{% trans_default_domain 'FOSUserBundle' %}
	<div class="container slide all">
		<div class="row">
			<div class="conten-left"></div>
			<div class="content-rigth"></div>
			<div {#class="col-md-6 offset-md-3"#} class="content">
				<div class="challenge">
					<div class="image-slide"></div>
					{#<img src="{{asset("images/cloudsRewards/acc2.png")}}">#}
				</div>
			<div id="ens" class = "fieldset active" style="background-color:white;"> 
				<div class="text">
					<div class="inscription"><h4>formulaire d'inscription</h4></div>
					{#<div class="symbole"><img src="{{asset("images/cloudsRewards/salut.png")}}"class="rounded-circle salut"></div>#}
					<div class="salut">
						<div class="symbole hidden-sm-down corner-circle-img rounded-circle"></div>
					</div>
					<div class="titre">
						<div class="bienvenu"><h4>Bienvenu sur le challenge 2017!</h4></div>
						<div class="message">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
					</div>
				</div>
				{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form'}}) }}	
					 <div class="checkbok civility">
					 	{{form_label(form.civility,'civilité*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm cv-label'} })}}
					 	<label>
					 		{{form_widget(form.civility, { 'attr' : { 'class': 'checkbox' } })}}
					 		 
					 	</label>
					   
					  </div>
					    <div class="form-group row">
					    	{{form_label(form.name,'prénom*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-position'} })}}
					    	<div class="col-6 text-danger">
					    		{{form_widget(form.name,{ 'attr' : { 'class': 'form-control' } })}}
					    		{{ form_errors(form.name) }}
					    	</div>
					    	
					    </div>
					     <div class="form-group row">
					     	{{form_label(form.firstname,'nom*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-position'} })}}
					     	<div class="col-6 text-danger">
					     		{{form_widget(form.firstname,{ 'attr' : { 'class': 'form-control' } })}}
					     		{{form_errors(form.firstname)}}	
					     	</div>
					     					    	
					    </div>
					    <div class="form-group row">
					    	{{form_label(form.email.first,'email*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-position'} })}}
					    	<div class="col-6 text-danger emailErreur">
					    		{{form_widget(form.email.first,{ 'attr' : { 'class': 'form-control' } }) }}
					    		{{ form_errors(form.email.first) }}
					    	</div>
					    					    	
					    </div>
					    <div class="form-group row">
					    {{form_label(form.email.second,'confirmation e-email*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-position'} })}}
					    	<div class="col-6 text-danger emailErreur">
					    		{{form_widget(form.email.second,{ 'attr' : { 'class': 'form-control' } }) }}
					    		{{ form_errors(form.email.second) }}
					    	</div>
					    						    	
					    </div>
					     <div class="form-group row">
					     	{{form_label(form.phone,'téléphone*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-position'} })}}
					     	<div class="col-6 text-danger">
					     		{{form_widget(form.phone,{ 'attr' : { 'class': 'form-control' } })}}
					     		{{ form_errors(form.phone) }}	
					     	</div>
					     					    	
						</div>
						<div class="form-group row">
					{{form_label(form.plainPassword.first,'mot de passe*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-position'} })}}
							<div class="col-6 text-danger password">
								{{form_widget(form.plainPassword.first,{ 'attr' : { 'class': 'form-control' } }) }}
								{{ form_errors(form.plainPassword.first) }}
							</div>
							
						</div>
					   <div class="form-group row">
					   	{{form_label(form.plainPassword.second,'confirmation mot de passe*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-position'} })}}
					   	<div class="col-6 text-danger password">
					   		{{form_widget(form.plainPassword.second,{ 'attr' : { 'class': 'form-control' } }) }}
					   		{{ form_errors(form.plainPassword.second)}}
					   	</div>
					   	
					   </div>
					    <div class="form-group row">
					    	{{form_label(form.societe,'société*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-position'} })}}
					    	<div class="col-6 text-danger">
					    		 {{form_widget(form.societe,{ 'attr' : { 'class': 'form-control' } })}}
					    		 {{ form_errors(form.societe) }}
					    	</div>
					    	
					    </div>
					   <div class="form-group row">
					   	{{form_label(form.address_1,'adresse postal*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-position'} })}}
					   	<div class="col-6 text-danger">
					   		{{form_widget(form.address_1,{ 'attr' : { 'class': 'form-control' } })}}
					   		{{ form_errors(form.address_1) }}
					   	</div>
					   
					   </div>
					    <div class="form-group row">
					    		{{form_label(form.postal_code,'code postal*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-position'} })}}
					    	<div class="col-6 text-danger">
					    		{{form_widget(form.postal_code,{ 'attr' : { 'class': 'form-control' } })}}
					    		{{ form_errors(form.postal_code) }}
					    	</div>
					    	
					    </div>
					    <div class="form-group row">
					    	{{form_label(form.city,'ville*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-position'} })}}
					    	<div class="col-6 text-danger">
					    		{{form_widget(form.city,{ 'attr' : { 'class': 'form-control' } })}}
					    		 {{ form_errors(form.city) }}
					    	</div>
					    	
					    </div>
					    <div class="checkbok condtion">
					    	{{form_label(form.accepte,'acceptation du réglement*',{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-acepte'} })}}
					    	<label>
					    		{{form_widget(form.accepte)}}
					    		<div class="text-danger">{{ form_errors(form.accepte) }}</div>
					    	</label>					    	
					    </div>
					    {% for nom in name %}
				    		{% if form.vars["form"].children[nom].children is empty %}
				    			<div class="form-group row">
				    			{{form_label(form.vars["form"].children[nom],form.vars["form"].children[nom].vars["label"],{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm label-position'} })}}
					    			<div class = "col-6 text-danger">
					    				{{form_widget(form.vars["form"].children[nom],{ 'attr' : { 'class': 'form-control' } })}}
					    				{{ form_errors(form.vars["form"].children[nom]) }}
					    			</div>				    	
					    		</div>
					    	{% else %}
					    	<div class="checkbok civility">
							 	{{form_label(form.vars["form"].children[nom],form.vars["form"].children[nom].vars["label"],{ 'label_attr': {'class': 'col-sm-4 col-form-label col-form-label-sm cv-label'} })}}
							 	<label>
							 		{{form_widget(form.vars["form"].children[nom], { 'attr': { 'class': 'checkbox' } })}}
							 	</label>						   
						  	</div>
			    			{% endif %}					    		
					    {% endfor %}
					   
					    <div class="text-danger recaptErreur">
					    	{{ form_errors(form.recaptcha) }}	
					    </div>
					    <div class="recapt">
					    	{{form_widget(form.recaptcha,{'attr': {'class': 'recaptcha'}})}}
					    </div>					    				    					    
					    
				<div class="valide">
	    			<input type="submit" value="valider" class="btn-valider valide-user" />
	    		</div>
				{{ form_end(form) }}
				<input type="hidden" type ="text" name="nom" value="{{radio}}">
				</div>
	    	</div>
		</div>
	</div>
</main>

{% block footer %}
		{% embed 'UserBundle::footer.html.twig' %}{% endembed %}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">

		var name = $('input[name=nom]').val();
		var tabs = JSON.parse(name);
		$("label[for=fos_user_registration_form_accepte_0]").addClass('civ3');
		$("label[for=fos_user_registration_form_civility_1]").addClass('civ2');
		$("label[for=fos_user_registration_form_civility_0]").addClass('civ1');
		$.each(tabs, function(index, val) {
			const add0 = "fos_user_registration_form_"+val+"_0";
			const add1 = "fos_user_registration_form_"+val+"_1";
			const add3 =  "fos_user_registration_form_"+val+"_placeholder";
			$("label[for="+add1+"]").addClass('civ2');
			$("label[for="+add0+"]").addClass('civ1');
			$("label[for="+add3+"]").css("display","none");
		});
	</script>
{% endblock %}
