<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-1">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarNiv1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand abs" href="#">
		<img src = "{{ asset('images/cloudsRewards/logo-cloud-rewards.png') }}" alt = "" title = "">
	</a>
	<div class="navbar-collapse collapse" id="collapsingNavbarNiv1">
		<div class="navbar-nav form-connexion col-12 col-sm-12 col-md-8 col-lg-8 col-xl-6 offset-md-2 offset-lg-4 offset-xl-6">
			<form role= "form" class = "form-connexion" name = "form-connexion" action = '{{ path("fos_user_security_check") }}' method="post">
				{% if csrf_token %}
					<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				{% endif %}
				
				{% if error %}
					<p class = "error_form">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
				{% else %}
					<p class = "lib_connexion">connexion</p>
				{% endif %}
				
				<p><span class = "lib-identifiant hidden-xs-down">identifiant</span><input class = "input-identifiant" type = "text" name = "_username" value = "{{ last_username }}" placeholder = "Identifiant..." required></p>
				<p>
					<span class = "lib-password hidden-xs-down">mot de passe</span>
					<input class = "input-password" type = "password" name = "_password" value = "" placeholder = "Mot de passe..." required>
					<input id = "submit-form-login" class = "btn-connexion" type = "submit" name = "_submit" value = "connexion">
				</p>
				<p>
					<span id = "checked-unchecked-radio-souvenir" class = "check-souvenir"></span>
					<input id = "remember_me" class = "input-souvenir" name = "_remember_me" type = "hidden" value = "on">
					<span class = "lib-souvenir">se souvenir de moi</span>
					<a class = "mot-de-passe-oublie" href = '{{ path("fos_user_resetting_request") }}'>mot de passe oublié</a>
				</p>
			</form>
		</div>
	</div>
</nav>