
{% if duplicateForm is defined %}
    {{ form_start(duplicateForm, {"attr": {"novalidate": "novalidate"}}) }}
    <div class="content-container">
        <span class="dialog-title">dupliquer la publication</span>
        <div class="form-element-container">
            <div>
                {{ form_label(duplicateForm.name, "titre de la nouvelle Sondage et Quiz",{ 'label_attr': {'class': 'new-duplicate'}}) }}
            </div>
            <div>
                <div class="input-container">
                    {{ form_widget(duplicateForm.name, {"attr": {"class": "input-text1 semi-large-input-text removable-content-input"}}) }}
                    {% set delete_input_visibility = 'style=display:none' %}
                    {% if duplicateForm.vars.value.name | trim is not empty %}
                        {% set delete_input_visibility = '' %}
                    {% endif %}
                    <span class="delete-input" {{ delete_input_visibility }}></span>
                </div>
                <div class="error-message-container">
                    {{ form_errors(duplicateForm.name) }}
                </div>
            </div>
        </div>
        {{ form_widget(duplicateForm.duplication_source_id, {"attr": {"class": "duplication-source-id"}}) }}
    </div>
    <div class="button-container">
        <button class ="btn-valider save save-duplication" data-target-url="{{ path("admin_communication_pre_sondage_duplicate", {"id": duplicateForm.vars.value.duplicationSourceId}) }}">
            enregistrer
        </button>
        <button class ="btn-valider cancel cancel-duplication">
            annuler
        </button>
    </div>
    {{ form_end(duplicateForm) }}
{% endif %}