{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet">
            <link href="{{ asset("chosen/chosen.css") }}" rel="stylesheet">
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
            <!-- jplist -->
            <link href="{{ asset("jplist/css/jplist.core.min.css") }}">
            <link href="{{ asset("jplist/css/jplist.textbox-filter.min.css") }}">
            <link href="{{ asset("jplist/css/jplist.checkbox-dropdown.min.css") }}">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':7})) }}
    <main class="col-md-9  offset-md-1 float-left main">
        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_e_learning_welcoming_banner") }}">bannière d'accueil </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_e_learning") }}">e-learning </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_e_learning_welcoming_banner") }}">bannière d'accueil </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset active main-section">
                    <div class="row">
                        <div class="col-lg-10 col-md-9 col-sm-12">
                            <h3 class="hidden-sm-down block-title">Création de la bannière e-learning</h3>
                            <h5 class="hidden-md-up block-title">Création de la bannière e-learning</h5>
                            <p>Personnalisez votre bannière d'accueil.</p>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="hidden-sm-down corner-circle-img img-e-learning-circle rounded-circle"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="part-title">Nom du menu et bannière haut de page</span>
                            <div class="row">
                                <div class="col-12 col-md-3 col-lg-2">
                                    <label>nom du menu</label>
                                </div>
                                <div class="col-12 col-md-9 col-lg-10">
                                    <input type="text" class="large-input-text removable-content-input quite-large-input-text" value="e-learning">
                                    <span class="delete-input"></span>
                                </div>
                            </div>
                            <span class="part-title">Bannière de haut de page</span>
                            <div class="row">
                                <div class="col-12 col-md-3 col-lg-2">
                                    <label>titre</label>
                                </div>
                                <div class="col-12 col-md-9 col-lg-10">
                                    <input type="text" class="large-input-text removable-content-input quite-large-input-text" value="E-LEARNING">
                                    <span class="delete-input"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-3 col-lg-2">
                                    <label>image</label>
                                </div>
                                <div class="col-12 col-md-9 col-lg-10">
                                    <button class="btn-valider btn-upload">
                                        <span class="upload"></span> Choisissez un fichier...
                                    </button>
                                    <div class="info-container">
                                        <p>taille optimale de l'image : <span class="bigger">L 1024 x H 243 px</span></p>
                                        <p>les fichiers doivent peser moins de <span class="bigger">8 Mo</span></p>
                                        <p>formats de fichier pris en charge : <span class="bigger">jpeg, png, gif</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>prévisualisation</label>
                                </div>
                            </div>
                            <div class="preview-container">
                                <span class="message-preview">E-LEARNING</span>
                                <img src="">
                            </div>
                            <div class="row submit-button-container">
                                <div class="col-12">
                                    <button class="btn-valider">valider</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <p class = "chargementAjax hidden">
            <img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
        </p>
    </main>
{% endblock %}