{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet">
            <link href="{{ asset("chosen/chosen.css") }}" rel="stylesheet">
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
            <!-- jplist -->
            <link href="{{ asset("jplist/css/jplist.core.min.css") }}">
            <link href="{{ asset("jplist/css/jplist.textbox-filter.min.css") }}">
            <link href="{{ asset("jplist/css/jplist.checkbox-dropdown.min.css") }}">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':7})) }}
    <main class="col-md-9  offset-md-1 float-left main">
        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_e_learning") }}">e-learning </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_e_learning") }}">e-learning </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_e_learning_welcoming_banner") }}">bannière d'accueil </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset active main-section">
                    <div class="row">
                        <div class="col-lg-10 col-md-9 col-sm-12">
                            <h3 class="hidden-sm-down block-title">Création et édition de pages e-learning</h3>
                            <h5 class="hidden-md-up block-title">Création et édition de pages e-learning</h5>
                            <p>Un onglet e-learning sera ajouté à votre menu</p>
                            <button class="btn-valider create-e-learning-button" data-target-url="">créer un nouveau e-learning</button>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="hidden-sm-down corner-circle-img img-e-learning-circle rounded-circle"></div>
                        </div>
                    </div>
                    <div class="row filter news-filter control-panel">
                        <div class="news-name-search-container filter-block-element-container">
                            <input type="text" class="input-search-list news-name-search-input removable-content-input" placeholder="rechercher par nom" data-path=".title" data-control-type="textbox" data-control-name="title-filter" data-control-action="filter">
                            <span class="delete-input" style="display: none;"></span>
                        </div>
                        <div class="send-state-filter-container filter-block-element-container">
                            <div class="jplist-drop-down status-filter-drop-down" data-control-type="filter-drop-down" data-control-name="status-filter" data-control-action="filter">
                                <ul>
                                    <li><span data-path="default">TOUS</span></li>
                                    <li><span data-path=".published">PUBLIÉ</span></li>
                                    <li><span data-path=".programmed">PROGRAMMÉ</span></li>
                                    <li><span data-path=".wait">EN ATTENTE</span></li>
                                </ul>
                            </div>
                            <span class="delete-input" style="display: none;"></span>
                        </div>
                        <div class="archived-element-container filter-block-element-container">
                            <a href="#" class="archived-elements" data-target-link="">
                                archivées
                            </a>
                        </div>
                    </div>
                    <div class="row filter selected-elements" style="display: none;">
                        <div class="elements-count">
                            <div class="selected-count">
                                <input class="selected-elements-input" type="text" value="post sélectionné" disabled>
                                <span class="delete-input"></span>
                            </div>
                        </div>
                        <div class="selected-elements-button-container">
                            <div class="dropdown-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-selected-element-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default-text="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-selected-element-action">
                                        {% if archived_state is defined and true == archived_state %}
                                            <a class="dropdown-item grouped-action-choice" href="#" data-grouped-action="restore">RESTAURER</a>
                                        {% else %}
                                            <a class="dropdown-item grouped-action-choice" href="#" data-grouped-action="archive">ARCHIVER</a>
                                        {% endif %}
                                        <a class="dropdown-item grouped-action-choice" href="#" data-grouped-action="delete">SUPPRIMER</a>
                                    </div>
                                </div>
                                <span class="delete-input" style="display: none;"></span>
                            </div>
                            <div class="button-container">
                                <button class="btn-valider" data-target-url="{{ path('admin_communication_news_group_action') }}">
                                    valider
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row list e-learning-list element-list">
                        <div class="row element published" data-status="">
                            <div class="col-12 col-lg-9 post-characteristics-container">
                                <div class="post-data-container">
                                    <div>
                                        <input id="el1" type="checkbox" class="styled-checkbox bigger">
                                        <label for="el1"></label>
                                    </div>
                                    <img src="{{ asset("images/cloudsRewards/square-academic-cap.png") }}">
                                    <div class="post-infos-container">
                                        <span class="title">Produits 1</span>
                                        <span class="date published">Publié - le 02 février 2018 à 14:44</span>
                                    </div>
                                </div>
                                <div class="view-number-container">
                                    <span class="number">10</span>
                                    <span>vues</span>
                                </div>
                                <div class="viewer-container">
                                    <span>Tous les participants</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 post-actions-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-action">
                                        {% if archived_state is not defined %}
                                            <a class="dropdown-item" href="#" data-target-url="">APERÇU</a>
                                        {% endif %}

                                        {% if archived_state is not defined %}
                                            <a class="dropdown-item" href="#" data-target-url="">ÉDITER</a>
                                        {% endif %}

                                        {% if archived_state is not defined %}
                                            <a class="dropdown-item" href="#" data-target-url="">DUPLIQUER</a>
                                        {% endif %}

                                        <a class="dropdown-item" href="#" data-target-url="">PUBLIER</a>

                                        {% if archived_state is defined and true == archived_state %}
                                            <a class="dropdown-item" href="#" data-target-url="">RESTAURER</a>
                                        {% else %}
                                            <a class="dropdown-item" href="#" data-target-url="">ARCHIVER</a>
                                        {% endif %}

                                        <a class="dropdown-item" href="#" data-target-url="">SUPPRIMER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row element wait" data-status="">
                            <div class="col-12 col-lg-9 post-characteristics-container">
                                <div class="post-data-container">
                                    <div>
                                        <input id="el2" type="checkbox" class="styled-checkbox bigger">
                                        <label for="el2"></label>
                                    </div>
                                    <img src="{{ asset("images/cloudsRewards/square-academic-cap.png") }}">
                                    <div class="post-infos-container">
                                        <span class="title">Actualité 2</span>
                                        <span class="date wait">En attente - modifié le 12 février 2018 à 14:44</span>
                                    </div>
                                </div>
                                <div class="view-number-container">
                                    <span class="number">0</span>
                                    <span>vues</span>
                                </div>
                                <div class="viewer-container">
                                    <span>Commercial</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 post-actions-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-action">
                                        {% if archived_state is not defined %}
                                            <a class="dropdown-item" href="#" data-target-url="">APERÇU</a>
                                        {% endif %}

                                        {% if archived_state is not defined %}
                                            <a class="dropdown-item" href="#" data-target-url="">ÉDITER</a>
                                        {% endif %}

                                        {% if archived_state is not defined %}
                                            <a class="dropdown-item" href="#" data-target-url="">DUPLIQUER</a>
                                        {% endif %}

                                        <a class="dropdown-item" href="#" data-target-url="">PUBLIER</a>

                                        {% if archived_state is defined and true == archived_state %}
                                            <a class="dropdown-item" href="#" data-target-url="">RESTAURER</a>
                                        {% else %}
                                            <a class="dropdown-item" href="#" data-target-url="">ARCHIVER</a>
                                        {% endif %}

                                        <a class="dropdown-item" href="#" data-target-url="">SUPPRIMER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jplist-no-results hidden-block">
                        <p>Aucun résultat</p>
                    </div>
                    <div class="control-panel pagination-container">
                        <div class="jplist-pagination" data-control-type="pagination" data-control-name="paging" data-control-action="paging" data-items-per-page="5" data-first="premier" data-last="dernier"></div>
                    </div>

                    <!-- Modal créer / éditer e-learning -->
                    <div id="create-edit-e-learning-modal" class="app-dialog modal semi-large-data-manipulation-modal" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg semi-large-fixed" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                        <span class="modal-body-title">Édition d'un e-learning</span>
                                        <div class="preview-news-button-container">
                                            <span class="preview-news-button">voir le post</span>
                                        </div>
                                        <div class="form-row">
                                            <label>titre</label>
                                            <input type="text" class="large-input-text removable-content-input">
                                            <span class="delete-input" style="display: none;"></span>
                                        </div>
                                        <div class="form-row vertical">
                                            <label>texte</label>
                                            <textarea class="large-textarea" id="news-text"></textarea>
                                        </div>
                                        <div class="title-separator">
                                            <span class="title">médias</span><span class="separator-line"></span>
                                        </div>

                                        <!-- content list element -->
                                        <div class="content-list-element">
                                            <div class="content-denomination">
                                                <div class="content-denomination-image">
                                                    <img src="{{ asset('images/cloudsRewards/pdf-file-icon.png') }}"><span>Lorem_ipsum.pdf</span>
                                                </div>
                                                <span class="content-denomination-name">Produits 2017</span>
                                            </div>
                                            <div class="actions-container">
                                                <span class="edit"></span>
                                                <span class="delete"></span>
                                                <div class="reorder disabled">
                                                    <span class="reorder-up"></span>
                                                    <span class="reorder-down"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="content-list-element">
                                            <div class="content-denomination">
                                                <div class="content-denomination-image">
                                                    <span class="video-icon"></span>
                                                </div>
                                                <span class="content-denomination-name">Vidéo de présentation</span>
                                            </div>
                                            <div class="actions-container">
                                                <span class="edit"></span>
                                                <span class="delete"></span>
                                                <div class="reorder disabled">
                                                    <span class="reorder-up"></span>
                                                    <span class="reorder-down"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="content-list-element">
                                            <div class="content-denomination">
                                                <div class="content-denomination-image">
                                                    <span class="gallery-icon"></span>
                                                </div>
                                                <span class="content-denomination-name">Galérie 1</span>
                                            </div>
                                            <div class="actions-container">
                                                <span class="edit"></span>
                                                <span class="delete"></span>
                                                <div class="reorder disabled">
                                                    <span class="reorder-up"></span>
                                                    <span class="reorder-down"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end - content list element -->

                                        <!-- add media by type -->
                                        <div class="content-block-container">
                                            <div class="block-title">
                                                <span>ajouter un nouveau média</span>
                                                <span class="delete-block"></span>
                                            </div>
                                            <div class="document-type-container">
                                                <div class="document-type-element">
                                                    <span class="document-type-document-icon icon"></span>
                                                    <span>document</span>
                                                </div>
                                                <div class="document-type-element">
                                                    <span class="document-type-gallery-icon icon"></span>
                                                    <span>galerie d'images</span>
                                                </div>
                                                <div class="document-type-element">
                                                    <span class="document-type-video-icon icon"></span>
                                                    <span>vidéo</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end - add media by type -->

                                        <!-- adding document media -->
                                        <div class="content-block-container">
                                            <div class="block-title">
                                                <span>ajouter un nouveau média</span>
                                                <span class="delete-block"></span>
                                            </div>
                                            <div class="add-content-block">
                                                <p class="main-info">ajouter un document format word, excel, powerwpoint, pdf etc.</p>
                                                <button class="btn-valider btn-upload">
                                                    <span class="upload"></span>choisissze un fichier...
                                                </button>
                                                <div class="info-container">
                                                    <p>les fichiers doivent peser moins de <span class="bigger">20 Mo</span></p>
                                                </div>
                                                <div class="upload-img-button-container">
                                                    <button class="upload-img-button">
                                                        <span class="blue-upload"></span><span class="img-name-container">Lorem_ipsum.pdf</span>
                                                    </button>
                                                </div>
                                                <a href="#" class="delete-link"></a>
                                                <div class="form-row document-name-container vertical-md">
                                                    <label>nom du document</label>
                                                    <div class="document-name">
                                                        <input class="standard-styled-input" type="text" value="Produits 2017">
                                                        <span class="delete-input"></span>
                                                    </div>
                                                </div>
                                                <div class="add-content-button-container">
                                                    <button class="btn-valider">ajouter</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end - adding document media -->

                                        <!-- adding vidéo media -->
                                        <div class="content-block-container video">
                                            <div class="block-title">
                                                <span>ajouter un nouveau média</span>
                                                <span class="delete-block"></span>
                                            </div>
                                            <div class="add-content-block">
                                                <p class="main-info">ajouter une vidéo</p>
                                                <div class="form-row vertical-xs">
                                                    <label>url de la vidéo</label>
                                                    <div class="form-element">
                                                        <input type="text" class="standard-styled-input large-input-text" value="https://monlienderedirection.com/challenge">
                                                        <span class="delete-input"></span>
                                                    </div>
                                                </div>
                                                <div class="info-container">
                                                    <p>url youtube, vimeo, depuis votre serveur, etc.</p>
                                                    <p>si toutefois votre vidéo n'est pas hebergée veuillez <a href="#" class="blue-anchor">nous contacter</a></p>
                                                </div>
                                                <div class="form-row video-name vertical-xs">
                                                    <label>nom de la vidéo</label>
                                                    <div class="form-element">
                                                        <input type="text" class="standard-styled-input" value="Vidéo de présentation">
                                                        <span class="delete-input"></span>
                                                    </div>
                                                </div>
                                                <div class="add-content-button-container">
                                                    <button class="btn-valider">ajouter</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end - adding vidéo media -->

                                        <div class="content-button-container">
                                            <a class="add">ajouter un média</a>
                                        </div>
                                        <div class="title-separator">
                                            <span class="title">quiz</span><span class="separator-line"></span>
                                        </div>
                                        <div class="content-button-container">
                                            <a class="add">ajouter un quiz</a>
                                        </div>
                                        <div class="title-separator">
                                            <span class="title">Bouton d'action</span><span class="separator-line"></span>
                                        </div>
                                        <div class="content-button-container">
                                            <a class="add">ajouter un bouton d'action</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - Modal créer / éditer e-learning-->
                </section>
            </div>
        </div>

        <p class = "chargementAjax hidden">
            <img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
        </p>
    </main>

    <input type="hidden" name="ckeditor_config_general_path" value="{{ asset('ckeditor/custom/config-general.js') }}">
{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
            <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('datepicker/i18n/datepicker-fr.js') }}"></script>
            <script src="{{ asset('chosen/chosen.jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap-multimodal/multimodal.min.js') }}"></script>
            <!-- jplist library -->
            <script src="{{ asset('jplist/js/jplist.core.min.js') }}"></script>
            <script src="{{ asset('jplist/js/jplist.sort-bundle.min.js') }}"></script>
            <script src="{{ asset('jplist/js/jplist.pagination-bundle.min.js') }}"></script>
            <script src="{{ asset('jplist/js/jplist.textbox-filter.min.js') }}"></script>
            <script src="{{ asset('jplist/js/jplist.filter-dropdown-bundle.min.js') }}"></script>
            <script src="{{ asset("js/admin-communication-e-learning.js") }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}