{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet">
            <link href="{{ asset("chosen/chosen.css") }}" rel="stylesheet">
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
            <!-- jplist -->
            <link href="{{ asset("jplist/css/jplist.core.min.css") }}">
            <link href="{{ asset("jplist/css/jplist.textbox-filter.min.css") }}">
            <link href="{{ asset("jplist/css/jplist.checkbox-dropdown.min.css") }}">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':7})) }}
    <main class="col-md-9  offset-md-1 float-left main">
        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_e_learning_welcoming_banner") }}">bannière d'accueil </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_e_learning") }}">e-learning </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_e_learning_welcoming_banner") }}">bannière d'accueil </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12 col-md-12">
                {% if elearning_data_form is defined %}
                {{ form_start(elearning_data_form, {"attr": {"novalidate": "novalidate"}}) }}

                {#{ form_widget(elearning_data_form) }#}

                <section class="fieldset active main-section">
                    <div class="row">
                        <div class="col-lg-10 col-md-9 col-sm-12">
                            <h3 class="hidden-sm-down block-title">Création de la bannière e-learning</h3>
                            <h5 class="hidden-md-up block-title">Création de la bannière e-learning</h5>
                            <p>Personnalisez votre bannière d'accueil.</p>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="hidden-sm-down corner-circle-img img-e-learning-circle rounded-circle"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="part-title">Nom du menu et bannière haut de page</span>
                            <div class="row">
                                <div class="col-12 col-md-3 col-lg-2">
                                    <label>nom du menu</label>
                                </div>
                                <div class="col-12 col-md-9 col-lg-10">
                                    {{ form_widget(elearning_data_form.menuName, { 'attr': {'placeholder':'', 'class': 'large-input-text removable-content-input quite-large-input-text'} }) }}
                                    {#<input type="text" class="large-input-text removable-content-input quite-large-input-text" value="e-learning"> #}
                                    <span class="delete-input"></span>
                                </div>
                            </div>
                            <span class="part-title">Bannière de haut de page</span>
                            <div class="row">
                                <div class="col-12 col-md-3 col-lg-2">
                                    <label>titre</label>
                                </div>
                                <div class="col-12 col-md-9 col-lg-10 message-input">
                                    {#<input type="text" class="large-input-text removable-content-input quite-large-input-text" value="E-LEARNING"> #}
                                    {% set input_size_class = '' %}
                                    {% set delete_input_visibility = 'style=display:none' %}
                                    {% if elearning_data_form.vars.value is not null %}
                                        {% if elearning_data_form.vars.value.imageTitle | trim is not empty %}
                                            {% set input_size_class = 'quite-large-input-text' %}
                                            {% set delete_input_visibility = '' %}
                                        {% endif %}
                                    {% endif %}
                                    {{ form_widget(elearning_data_form.imageTitle, {"attr": {'placeholder':'', "class": "large-input-text header-message-input removable-content-input "~input_size_class}}) }}
                                    <span class="delete-input" {{ delete_input_visibility }}></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-3 col-lg-2">
                                    <label>image</label>
                                </div>
                                <div class="col-12 col-md-9 col-lg-10">
                                    {{ form_widget(elearning_data_form.imageFile, {"attr": {"class": "header-image-input hidden-input-file"}}) }}
                                    {% if current_header_image is defined and current_header_image is not empty %}
                                        <button class="btn-valider btn-upload choose-upload-img-button hidden-button">
                                            <span class="upload"></span> Choisissez un fichier...
                                        </button>
                                        <div class="upload-img-button-container">
                                            <button class="upload-img-button">
                                                <span class="blue-upload"></span><span class="img-name-container">{{ current_header_image }}</span>
                                            </button>
                                        </div>
                                        <a href="#" class="delete-link delete-form-header-image"></a>
                                        <input type="hidden" name="initial_image" value="{{ asset(registration_header_image_location~current_header_image) }}">
                                        <input type="hidden" name="initial_image_name" value="{{ current_header_image }}">
                                    {% else %}
                                        <button class="btn-valider btn-upload choose-upload-img-button">
                                            <span class="upload"></span> Choisissez un fichier...
                                        </button>
                                        <div class="upload-img-button-container hidden-button">
                                            <button class="upload-img-button hidden-button">
                                                <span class="blue-upload"></span><span class="img-name-container"></span>
                                            </button>
                                        </div>
                                        <a href="#" class="delete-link delete-form-header-image" style="display: none"></a>
                                        <input type="hidden" name="initial_image" value="">
                                        <input type="hidden" name="initial_image_name" value="">
                                    {% endif %}
                                    <input type="hidden" name="delete_header_image_url" value="{{ path('admin_parameters_registration_delete_header_image') }}">


                                    {#
                                    <button class="btn-valider btn-upload">
                                        <span class="upload"></span> Choisissez un fichier...
                                    </button>
                                    #}
                                    <div class="info-container">
                                        <p>taille optimale de l'image : <span class="bigger">L 1024 x H 243 px</span></p>
                                        <p>les fichiers doivent peser moins de <span class="bigger">8 Mo</span></p>
                                        <p>formats de fichier pris en charge : <span class="bigger">jpeg, png, gif</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>prévisualisation</label>
                                </div>
                            </div>
                            {#<div class="preview-container">
                                <span class="message-preview">E-LEARNING</span>
                                <img src="">
                            </div>#}
                            <div class="row row-header-preview-container">
                                <div class="col-lg-12 header-preview-container">
                                    {% if elearning_data_form.vars.value is not null %}
                                        <span class="header-message-preview message-preview">{{ elearning_data_form.vars.value.imageTitle }}</span>
                                    {% endif %}
                                    {% set header_image_src = (current_header_image is null) or ("" == current_header_image) ? '' : e_learning_media_document_location ~ current_header_image %}
                                    <img class="header-image-preview-img" src="{{ "" == header_image_src ? "" : asset(header_image_src) }}">
                                </div>
                            </div>
                            {{ form_widget(elearning_data_form.delete_image_command, {"attr": {"class": "delete-command-input"}}) }}
                            <div class="row submit-button-container">
                                <div class="col-12">
                                    <button class="btn-valider">valider</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {{ form_end(elearning_data_form) }}
                {% endif %}
            </div>
        </div>

        <p class = "chargementAjax hidden">
            <img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
        </p>
    </main>
{% endblock %}
{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('js/admin-parameters-content-learning.js') }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}