{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("chosen/chosen.css") }}" rel="stylesheet">
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="{{ asset("css/bootstrap/dataTables.bootstrap4.min.css") }}" rel="stylesheet">
            <link href="{{ asset("css/bootstrap/buttons.dataTables.min.css") }}" rel="stylesheet">
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':1})) }}

    <main class="col-md-9  offset-md-1 float-left main">
        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_emailing_templates") }}">modèles d'e-mails </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_compaign") }}">campagne </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_emailing_templates") }}">modèles d'e-mails </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_list_contact", { 'trie': 'recents' }) }}">liste des contacts </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            {#<li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">statistiques </a>
                                <span class = "bulle-aide"></span>
                            </li>#}
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_custom") }}">sur-mesures </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>

        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset active">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="row filter">
                                <div class="create">
                                    <button class="btn-valider create-template-button">
                                        créer un modèle
                                    </button>
                                </div>
                                <div class="next-create">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuFiltre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                            TRI
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuFiltre">
                                            <a class="dropdown-item template-sorting-element" href="#" data-sorting-parameter="{{ constant('RECENT', template_sorting_parameter_class) }}">RÉCENTS</a>
                                            <a class="dropdown-item template-sorting-element" href="#" data-sorting-parameter="{{ constant('A_TO_Z', template_sorting_parameter_class) }}">A/Z</a>
                                            <a class="dropdown-item template-sorting-element" href="#" data-sorting-parameter="{{ constant('Z_TO_A', template_sorting_parameter_class) }}">Z/A</a>
                                        </div>
                                        <span class="delete-input"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row list template-list">
                                {% if template_data_list is defined and template_data_list is not empty %}
                                    {% for template_data in template_data_list %}
                                        {% set template = template_data['template_data'] %}
                                <div class="row">
                                    <div class="col-12 col-lg-9 template-characteristic">
                                        {#<div>
                                            <input id="template-element-{{ loop.index }}-check" class="styled-checkbox bigger" type="checkbox">
                                            <label for="template-element-{{ loop.index }}-check"></label>
                                        </div>#}
                                        {#<img src="{{ asset("images/cloudsRewards/temp.png") }}" class="template-img hidden-xs-down">#}
                                        <div class="template-img-container">
                                            <img src="{{ asset(template_data['template_thumbnail_image']) }}" class="template-img">
                                        </div>
                                        <div class="template-info">
                                            <span class="template-name">{{ template.name }}</span>
                                            <span class="template-edit-info">Modifiée le {{ template.lastEdit | localizeddate('none', 'none', locale, null, "dd MMMM yyyy à kk:mm")}} par {{ template.lastEditUser.username }}</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3 template-action-container">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                                ACTIONS
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                <a class="dropdown-item edit-template" href="#" data-target-url="{{ path("admin_communication_emailing_templates_edit_template", {"template_id": template.getId}) }}">ÉDITER</a>
                                                <a class="dropdown-item create-campaign-from-template" href="#" data-distant-template-id="{{ template.distantTemplateId }}">CRÉER UNE CAMPAGNE</a>
                                                <a class="dropdown-item preview-template" href="#" data-target-url="{{ path("admin_communication_emailing_templates_preview_template", {"template_id": template.getId}) }}">PRÉVISUALISER</a>
                                                <a class="dropdown-item duplicate-template" href="#" data-target-url="{{ path("admin_communication_emailing_templates_duplicate_template", {"template_id": template.getId}) }}">DUPLIQUER</a>
                                                <a class="dropdown-item delete-template" href="#" data-template-id="{{ template.getId }}" data-toggle="modal" data-target="#confirm-delete-template">SUPPRIMER</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <!-- dialog - selection modèle -->
                            {#<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#choose-model-dialog"></button>#}
                            <div id="choose-model-dialog" class="app-dialog modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body-container">
                                                <div class="content-container">
                                                    <span class="dialog-title">sélectionner un modèle à personnaliser</span>
                                                    <div class="container-fluid template-choice-list-container">
                                                        <div class="row">
                                                            <div class="col-12 col-lg-6 template-choice-container">
                                                                <div class="template-choice">
                                                                    <img src="{{ asset("images/cloudsRewards/template_text_image.png") }}">
                                                                    <div class="checkbox-choice-container">
                                                                        <input checked id="text-image-option-radio" type="radio" class="styled-radio bigger" name="template_choice_option">
                                                                        <label for="text-image-option-radio" class="bordered-styled-choice-el"></label>
                                                                    </div>
                                                                </div>
                                                                <span class="template-choice-name">Texte et image</span>
                                                            </div>
                                                            <div class="col-12 col-lg-6 template-choice-container">
                                                                <div class="template-choice">
                                                                    <img src="{{ asset("images/cloudsRewards/template_text_simple.png") }}">
                                                                    <div class="checkbox-choice-container">
                                                                        <input id="simple-text-option-radio" type="radio" class="styled-radio bigger" name="template_choice_option">
                                                                        <label for="simple-text-option-radio" class="bordered-styled-choice-el"></label>
                                                                    </div>
                                                                </div>
                                                                <span class="template-choice-name">Texte simple</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button class ="btn-valider continue">
                                                        continuer
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - selection modèle -->

                            <!-- dialog - création template  -->
                            {#<button id="create-template-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-template-dialog"></button>#}
                            <div id="create-template-dialog" class="app-dialog modal" tabindex="-1" role="dialog" data-backdrop="static">
                                <div class="modal-dialog modal-lg larger" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="previous"></a>
                                            <a class="close-modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="error-message-container centered-message general-message"></div>
                                            <div class="modal-body-container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - création template -->

                            <!-- dialog - prévisulisation template-->
                            <div id="preview-template-dialog" class="app-dialog modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="error-message-container centered-message general-message"></div>
                                            <div class="modal-body-container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - prévisulisation template-->

                            <!-- dialog - Alerte - suppression élément footer -->
                            <div id="alert-footer-element-dialog" class="app-dialog modal simple-message-modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body-container">
                                                <div class="text-container">
                                                    <span class="message-title">éléments du footer</span>
                                                    <p class="message">Vous ne pouvez pas laisser ce champ vide, mais en personnaliser le texte.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - Alerte - suppression élément footer -->

                            <!-- dialog - confirmation suppression template -->
                            <div id="confirm-delete-template" class="modal fade confirm-delete-dialog" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body-container">
                                                <div class="text-container">
                                                    <span class="confirm-dialog-title">Suppression</span>
                                                    <p class="message">Êtes-vous sûr de vouloir supprimer définitivement ce modèle ?</p>
                                                </div>
                                                <div>
                                                    <button class ="btn-valider confirm-delete">
                                                        valider
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="template_id" value="">
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - confirmation suppression template -->

                            <!-- dialog - prévisulisation instantanée template-->
                            <div id="instantaneous-preview-template-dialog" class="app-dialog modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="error-message-container centered-message general-message"></div>
                                            <div class="modal-body-container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - prévisulisation instantanée template-->

                            <!-- dialog - enregistrement template à la fermeture -->
                            <div id="save-template-on-close-dialog" class="modal app-dialog" tabindex="-1" role="dialog" data-backdrop="static">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body-container">
                                                <div class="content-container">
                                                    <span class="dialog-title">enregistrer votre modèle</span>
                                                    <p class="message">vous pourrez le modifier ultérieurement à partir de la liste des modèles</p>
                                                    <div class="form-element-container">
                                                        <div>
                                                            <label>nom du modèle</label>
                                                        </div>
                                                        <div>
                                                            <div class="input-container">
                                                                {#<input type="text" class="input-text semi-large-input-text">#}
                                                                <span class="delete-input" style="display: none;"></span>
                                                            </div>
                                                            <div class="error-message-container">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="button-container">
                                                    <button class ="btn-valider save">
                                                        enregistrer
                                                    </button>
                                                    <button class ="btn-valider cancel">
                                                        annuler
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="template_id" value="">
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - enregistrement template à la fermeture -->

                            <!-- dialog - duplication template -->
                            <div id="duplicate-template-dialog" class="modal app-dialog duplication-dialog" tabindex="-1" role="dialog" data-backdrop="static">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close" style="display: none"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="error-message-container centered-message general-message"></div>
                                            <div class="modal-body-container"></div>
                                        </div>
                                        <input type="hidden" name="template_id" value="">
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - duplication template -->

                            <!-- Modal créer nouveau-->
                            <div id="new-campaign-modal" class="modal bs-example-modal-lg app-dialog" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg big" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="previous"></a>
                                            <a class="close-modal" data-target="#abort-new-campaign-modal" data-toggle="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="error-message-container centered-message general-message"></div>
                                        <div class="content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - Modal créer nouveau-->

                            <!-- modal - créer liste des contacts -->
                            <div id="create-contact-list-modal" class="app-dialog modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="error-message-container centered-message general-message"></div>
                                            <div class="modal-body-container">
                                                <div class="content-container">
                                                    <span class="dialog-title">créer une liste de contacts</span>
                                                    <div class = "body-container"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - modal - créer liste des contacts -->

                            <!-- Modal suspendre création nouveau-->
                            <div id="abort-new-campaign-modal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg " role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="content">
                                            <div class="error-message-container centered-message general-message"></div>
                                            <div class="modal-body-container">
                                                <div class="modal-title">Suspendre la création d'une campagne</div>
                                                <div class="row btn-new-campaign-folder">
                                                    <label>Vous allez suspendre le processus de création d'une campagne. <br> Celle-ci va s'enregistrer dans la liste de vos campagnes, vous pourrez ainsi l'éditer ultérieurement</label>
                                                </div>
                                                <div class="row centered">
                                                    <button class="btn-valider btn-abort-creation">
                                                        suspendre
                                                    </button>
                                                </div>
                                                <div class="add-campaign-folder-error"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - Modal suspendre création nouveau-->

                            <!-- Modal création envoyé-->
                            <div id="sent-campaign-modal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg big" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="content">
                                            <div><h4>Envoyé !</h4></div>
                                            <div>
                                                <p>
                                                    Votre campagne a été envoyée avec succès.
                                                </p>
                                            </div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - Modal création envoyé-->

                            <!-- Modal création programmé-->
                            <div id="done-campaign-modal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg big" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="content">
                                            <div><h4>c'est parti !</h4></div>
                                            <div>
                                                <p>
                                                    Votre campagne est programmée pour le <span class="date-envoi"></span>.
                                                </p>
                                                <p>
                                                    Vous pourrez la retrouver, la modifier ou l'éditer dans la liste des campagnes.
                                                </p>
                                            </div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - Modal création programmé-->


                            <input type="hidden" name="add_template_form_url" value="{{ path("admin_communication_emailing_templates_add_template") }}">
                            <input type="hidden" name="template_model_text_and_image" value="{{ constant('TEXT_AND_IMAGE', template_model_class) }}">
                            <input type="hidden" name="template_model_text_only" value="{{ constant('TEXT_ONLY', template_model_class) }}">
                            <input type="hidden" name="ckeditor_config_light_path" value="{{ asset('ckeditor/custom/config-light.js') }}">
                            <input type="hidden" name="template_list_url" value="{{ path("admin_communication_emailing_templates") }}">
                            <input type="hidden" name="template_content_type_image" value="{{ constant('IMAGE', content_type_class) }}">
                            <input type="hidden" name="template_content_type_text" value="{{ constant('TEXT', content_type_class) }}">
                            <input type="hidden" name="template_content_type_button" value="{{ constant('BUTTON', content_type_class) }}">
                            <input type="hidden" name="delete_template_url" value="{{ path("admin_communication_emailing_templates_delete_template", {"template_id": "__id__"}) }}">
                            <input type="hidden" name="sort_template_list_url" value="{{ path("admin_communication_emailing_templates_sort", {"sorting_parameter": "__param__"}) }}">
                            <input type="hidden" name="edit_template_url" value="{{ path("admin_communication_emailing_templates_edit_template", {"template_id": "__id__"}) }}">
                            <input type="hidden" name="duplicate_template_url" value="{{ path("admin_communication_emailing_templates_duplicate_template") }}">
                            <input type="hidden" name="new_campaign_url" value="{{ path("admin_communication_emailing_compaign_new") }}">
                            <input type="hidden" name="create_contact_list_url" value = "{{ path("admin_communication_emailing_list_contact_creation") }}">
                            <input type="hidden" name="submit_create_contact_list_url" value = "{{ path("admin_communication_emailing_campaign_create_contact_list") }}">
                            <input type="hidden" name="campaign_draft_creation_mode_by_halt" value="{{ constant('BY_HALT', campaign_draft_creation_mode_class) }}">
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class = "row separator"></div>

        <p class = "chargementAjax hidden">
            <img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
        </p>
    </main>
{% endblock %}
{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>
            <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script> {# utile pour soumettre le formlaire par ajax #}
            <script src="{{ asset('js/bootstrap-multimodal/multimodal.min.js') }}"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('datepicker/i18n/datepicker-fr.js') }}"></script>
            <script src="{{ asset('chosen/chosen.jquery.js') }}"></script>
            <script src="{{ asset('js/jquery/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-dataTable/dataTables.buttons.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-dataTable/buttons.bootstrap4.min.js') }}"></script>
            <script src="{{ asset("js/admin-communication.js") }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}