{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':1})) }}

    <main class="col-md-9  offset-md-1 float-left main">
        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_emailing_templates") }}">modèles d'e-mails </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_compaign") }}">campagne </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_emailing_templates") }}">modèles d'e-mails </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">liste des contacts </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">statistiques </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">sur-mesures </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>

        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset active">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="row filter">
                                <div class="create">
                                    <button class="btn-valider create-template-button">
                                        créer un modèle
                                    </button>
                                </div>
                                <div class="next-create">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuFiltre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                            FILTRES
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuFiltre">
                                            <a class="dropdown-item" href="#">OPTION</a>
                                            <a class="dropdown-item" href="#">OPTION</a>
                                            <a class="dropdown-item" href="#">OPTION</a>
                                        </div>
                                        <span class="delete-input"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row list template-list">
                                {% if template_list is defined and template_list is not empty %}
                                    {% for template in template_list %}
                                        {% set template_data = template %}
                                        {% set template = template['template_data'] %}
                                <div class="row">
                                    <div class="col-12 col-lg-9 template-characteristic">
                                        {#<div>
                                            <input id="template-element-{{ loop.index }}-check" class="styled-checkbox bigger" type="checkbox">
                                            <label for="template-element-{{ loop.index }}-check"></label>
                                        </div>#}
                                        {#<img src="{{ asset("images/cloudsRewards/temp.png") }}" class="template-img hidden-xs-down">#}
                                        <div class="template-img-container">
                                            <img src="{{ asset(template_data['template_thumbnail_image']) }}" class="template-img">
                                        </div>
                                        <div class="template-info">
                                            <span class="template-name">{{ template.name }}</span>
                                            <span class="template-edit-info">Modifiée le {{ template.lastEdit | localizeddate('none', 'none', locale, null, "dd MMMM yyyy à kk:mm")}} par {{ template.lastEditUser.username }}</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3 template-action-container">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                                ACTIONS
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                <a class="dropdown-item edit-template" href="#" data-target-url="{{ path("admin_communication_emailing_templates_edit_template", {"template_id": template.getId}) }}">ÉDITER</a>
                                                <a class="dropdown-item" href="#">CRÉER UNE CAMPAGNE</a>
                                                <a class="dropdown-item preview-template" href="#" data-target-url="{{ path("admin_communication_emailing_templates_preview_template", {"template_id": template.getId}) }}">PRÉVISUALISER</a>
                                                <a class="dropdown-item" href="{{ path("admin_communication_emailing_templates_duplicate_template", {"template_id": template.getId}) }}">DUPLIQUER</a>
                                                <a class="dropdown-item delete-template" href="#" data-template-id="{{ template.getId }}" data-toggle="modal" data-target="#confirm-delete-template">SUPPRIMER</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <!-- dialog - selection modèle -->
                            {#<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#choose-model-dialog"></button>#}
                            <div id="choose-model-dialog" class="app-dialog modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body-container">
                                                <div class="content-container">
                                                    <span class="dialog-title">sélectionner un modèle à personnaliser</span>
                                                    <div class="container-fluid template-choice-list-container">
                                                        <div class="row">
                                                            <div class="col-12 col-lg-6 template-choice-container">
                                                                <div class="template-choice">
                                                                    <img src="{{ asset("images/cloudsRewards/template_text_image.png") }}">
                                                                    <div class="checkbox-choice-container">
                                                                        <input checked id="text-image-option-radio" type="radio" class="styled-radio bigger" name="template_choice_option">
                                                                        <label for="text-image-option-radio" class="bordered-styled-choice-el"></label>
                                                                    </div>
                                                                </div>
                                                                <span class="template-choice-name">Texte et image</span>
                                                            </div>
                                                            <div class="col-12 col-lg-6 template-choice-container">
                                                                <div class="template-choice">
                                                                    <img src="{{ asset("images/cloudsRewards/template_text_simple.png") }}">
                                                                    <div class="checkbox-choice-container">
                                                                        <input id="simple-text-option-radio" type="radio" class="styled-radio bigger" name="template_choice_option">
                                                                        <label for="simple-text-option-radio" class="bordered-styled-choice-el"></label>
                                                                    </div>
                                                                </div>
                                                                <span class="template-choice-name">Texte simple</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button class ="btn-valider continue">
                                                        continuer
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - selection modèle -->

                            <!-- dialog - création template  -->
                            {#<button id="create-template-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-template-dialog"></button>#}
                            <div id="create-template-dialog" class="app-dialog modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg larger" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="previous"></a>
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="error-message-container centered-message general-message"></div>
                                            <div class="modal-body-container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - création template -->

                            <!-- dialog - prévisulisation template-->
                            <div id="preview-template-dialog" class="app-dialog modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="error-message-container centered-message general-message"></div>
                                            <div class="modal-body-container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - prévisulisation template-->

                            <!-- dialog - Alerte - suppression élément footer -->
                            <div id="alert-footer-element-dialog" class="app-dialog modal simple-message-modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body-container">
                                                <div class="text-container">
                                                    <span class="message-title">éléments du footer</span>
                                                    <p class="message">Vous ne pouvez pas laisser ce champ vide, mais en personnaliser le texte.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - Alerte - suppression élément footer -->

                            <!-- dialog - confirmation suppression template -->
                            <div id="confirm-delete-template" class="modal fade confirm-delete-dialog" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body-container">
                                                <div class="text-container">
                                                    <span class="confirm-dialog-title">Suppression</span>
                                                    <p class="message">Êtes-vous sûr de vouloir supprimer définitivement ce modèle?</p>
                                                </div>
                                                <div>
                                                    <button class ="btn-valider confirm-delete">
                                                        valider
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="template_id" value="">
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - dialog - confirmation suppression template -->

                            <input type="hidden" name="add_template_form_url" value="{{ path("admin_communication_emailing_templates_add_template") }}">
                            <input type="hidden" name="template_model_text_and_image" value="{{ constant('TEXT_AND_IMAGE', template_model_class) }}">
                            <input type="hidden" name="template_model_text_only" value="{{ constant('TEXT_ONLY', template_model_class) }}">
                            <input type="hidden" name="ckeditor_config_light_path" value="{{ asset('ckeditor/custom/config-light.js') }}">
                            <input type="hidden" name="template_list_url" value="{{ path("admin_communication_emailing_templates") }}">
                            <input type="hidden" name="template_content_type_image" value="{{ constant('IMAGE', content_type_class) }}">
                            <input type="hidden" name="template_content_type_text" value="{{ constant('TEXT', content_type_class) }}">
                            <input type="hidden" name="template_content_type_button" value="{{ constant('BUTTON', content_type_class) }}">
                            <input type="hidden" name="delete_template_url" value="{{ path("admin_communication_emailing_templates_delete_template", {"template_id": "__id__"}) }}">
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class = "row separator"></div>

        <p class = "chargementAjax hidden">
            <img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
        </p>
    </main>
{% endblock %}
{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>
            <script src="{{ asset("js/admin-communication.js") }}"></script>
            <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script> {# utile pour soumettre le forme par ajax #}
            <script src="{{ asset('js/bootstrap-multimodal/multimodal.min.js') }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}