{% if list is not empty %}
    {% for campaign_data in list %}
        {% set campaign_draft_data = campaign_data['campaign_draft_data'] %}
        {% set overview = campaign_data['campaign_overview_data'] %}
        <div class="row campaign-{{campaign_draft_data.id}}">
            <div class="campagne-name">
                <input type="checkbox" class="styled-checkbox bigger" id="{{campaign_draft_data.id}}">
                <label for="{{campaign_draft_data.id}}">
                    <span></span>
                    <div class="campagne-name-name">
                        {{ campaign_draft_data.title }}
                    </div>
                    {% set class= "" %}
                    {% if campaign_draft_data.status == 2 or (campaign_draft_data.status == -1 and campaign_draft_data.deliveredAt != '') %}
                        {% set date = campaign_draft_data.deliveredAt %}
                        {% set status = "Envoyé" %}
                        {% set pre = "" %}
                        {% set class= "" %}
                    {% elseif campaign_draft_data.status == 1 %}
                        {% set date = campaign_draft_data.deliveredAt %}
                        {% set status = "Programmé" %}
                        {% set pre = "" %}
                        {% set class= "programmed" %}
                    {% elseif campaign_draft_data.status == 0 or (campaign_draft_data.status == -1 and campaign_draft_data.deliveredAt == '') %}
                        {% set date = campaign_draft_data.modifiedAt %}
                        {% set status = "En attente" %}
                        {% set pre = "modifié " %}
                        {% set class= "wait" %}
                    {% endif %}
                    <div class="campagne-name-date {{ class }}">
                        {% if campaign_draft_data.status == -1 or campaign_draft_data.status == 0 or campaign_draft_data.status == 1 or campaign_draft_data.status == 2 %}
                            {{ status }} - {{ pre }}{{ date | localizeddate('none', 'none', locale, null, "'le' d MMMM Y 'à' H:mm") }}
                        {% endif %}
                    </div>
                </label>
            </div>
            <div class="campagne-metric">
                <div class="metric-1">
                    <span class="metric-value">
                        {#{{ (campaign_draft_data.recipients["recipient_count"] is defined)?campaign_draft_data.recipients["recipient_count"]:0 }}#}
                        {% set recipient_value = 0 %}
                        {% if overview is not null %}
                            {% set recipient_value = overview['ProcessedCount'] %}
                        {% endif %}
                        {{ recipient_value }}
                    </span>
                    <span class="metric-desc">inscrits</span>
                </div>
                <div class="metric-2">
                    <span class="metric-value">
                        {#{{ (campaign_draft_data.openTracked is defined)?campaign_draft_data.openTracked:0 }} %#}
                        {% set open_value = 0 %}
                        {% if overview is not null and overview['ProcessedCount'] > 0 %}
                            {% set open_value = overview['OpenedCount']/overview['ProcessedCount']*100 %}
                        {% endif %}
                        {{ open_value~' %' }}
                    </span>
                    <span class="metric-desc">ouvertures</span>
                </div>
                <div class="metric-3">
                    <span class="metric-value">
                        {#{{ (campaign_draft_data.clickTracked is defined)?campaign_draft_data.clickTracked:0}} %#}
                        {% set click_value = 0 %}
                        {% if overview is not null and overview['ProcessedCount'] > 0 %}
                            {% set click_value = overview['ClickedCount']/overview['ProcessedCount']*100 %}
                        {% endif %}
                        {{ click_value~' %' }}
                    </span>
                    <span class="metric-desc">clics</span>
                </div>
            </div>
            <div class="campagne-action">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                        ACTIONS
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                        {% if archived_mode is not defined %}
                        <a class="dropdown-item" href="#">STATISTIQUES</a>
                        {% endif %}
                        <a class="dropdown-item campaign-preview" data-url="{{ campaign_draft_data.url }}" style = "cursor:pointer;">APERÇU</a>
                        <a class="dropdown-item campaign-duplicate" href="#" data-campaign-draft-id="{{ campaign_draft_data.id }}">DUPLIQUER</a>
                        {% if archived_mode is not defined %}
                        <a class="dropdown-item campaign-archive" href="#"  data-campaign-draft-id="{{ campaign_draft_data.id }}">ARCHIVER</a>
                        {% endif %}
                        <input type="hidden" name="campaign-id" value="{{ campaign_draft_data.id }}">
                    </div>
                </div>
            </div>                            
        </div>
    {% endfor %}  
{% else %}
    <div class="no-result">Aucun résultat trouvé</div>
{% endif %}