{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("chosen/chosen.css") }}" rel="stylesheet">
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
             <link href="{{ asset("css/admin-campaign-stat.css") }}" rel="stylesheet">
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet">
            <link href="{{ asset("css/bootstrap/dataTables.bootstrap4.min.css") }}" rel="stylesheet">
            <link href="{{ asset("css/bootstrap/buttons.dataTables.min.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':1})) }}

    <main class="col-md-9  offset-md-1 float-left main">

        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_emailing_compaign") }}">campagnes </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_emailing_compaign") }}">campagnes </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_templates") }}">modèles d'e-mails </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_list_contact", { 'trie': 'recents' }) }}">liste des contacts </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            {#<li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{path('admin_communication_statistiques')}}">statistiques </a>
                                <span class = "bulle-aide"></span>
                            </li>#}
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_custom") }}">sur-mesures </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>

        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset slideshow active">
                    <div class="row filter">
                        <div class="create">
                            <button class="btn-valider create-campaign-button">
                                créer une campagne
                            </button>
                            <button class="btn-valider restore-campaign-button">
                                restaurer campagne
                            </button>
                        </div>
                        <div class="next-create">                            
                            <div class="dropdown clearable filtres campaign-state-filter">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuFiltre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                    FILTRES
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuFiltre">
                                    <a class="dropdown-item" href="#">
                                        RÉCENTS
                                        <span>Recent</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        ENVOYÉS
                                        <span>Sent</span>
                                    </a>
                                    <a class="dropdown-item programmed-item" href="#">
                                        EN COURS
                                        <span>Programmed</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        EN ATTENTE
                                        <span>Draft</span>
                                    </a>
                                </div>
                                <span class="delete-input"></span>
                            </div>

                            <div class="dropdown clearable filtres campaign-type-filter">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownTypeFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                    TYPE DE CAMPAGNE
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownTypeFilter">
                                    <a class="dropdown-item" href="#">
                                        TOUTES
                                        <span>All</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        NEWSLETTER
                                        <span>Newsletter</span>
                                    </a>
                                    <a class="dropdown-item programmed-item" href="#">
                                        E-MAILS AUTOMATIQUES
                                        <span>Auto</span>
                                    </a>
                                </div>
                                <span class="delete-input"></span>
                            </div>

                            <div>
                                <a href="#" class="add add-folder-link add-to-archive archived-campaign" data-target-link="{{ path("admin_communication_emailing_compaign_archived") }}">
                                    archivées
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row filter selected-campaign">
                        <div class="create campagne-count">
                            <div class="selected-count">
                                <input type="text" value="campagne sélectionnée" disabled>
                                <span class="delete-input"></span>
                            </div>
                        </div>
                        <div class="next-create campaign-delete-move">                            
                            <div class="campaign-archive">
                                <button class="btn-valider btn btn-primary archive-campaign-button">
                                    archiver
                                </button> 
                            </div>
                            <div class="campaign-delete">
                                <button class="btn-valider btn btn-primary delete-campaign-button">
                                    supprimer
                                </button> 
                            </div>
                        </div>
                    </div> 
                    <div class="row list">
                        {% for campaign_data in list %}
                            {% set campaign_draft_data = campaign_data['campaign_draft_data'] %}
                            {% set overview = campaign_data['campaign_overview_data'] %}
                            {% set contact_list = campaign_data['contact_list_data'] %}
                            <div class="row campaign-{{campaign_draft_data.id}}">
                                <div class="campagne-name">
                                    <input type="checkbox" class="styled-checkbox bigger" id="{{campaign_draft_data.id}}">
                                    <label for="{{campaign_draft_data.id}}">
                                        <span></span>
                                        <div class="campagne-name-name">
                                            {{ campaign_draft_data.title }}
                                        </div>
                                        {% set class= "" %}
                                        {% if campaign_draft_data.status == 2 or (campaign_draft_data.status == -1 and campaign_draft_data.deliveredAt is not empty) %}
                                            {% set date = campaign_draft_data.deliveredAt %}
                                            {% set status = "Envoyé" %}
                                            {% set pre = "" %}
                                            {% set class= "" %}
                                        {% elseif campaign_draft_data.status == 1 %}
                                            {% set date = campaign_draft_data.deliveredAt %}
                                            {% set status = "Programmé" %}
                                            {% set pre = "" %}
                                            {% set class= "programmed" %}
                                        {% elseif campaign_draft_data.status == 0 or (campaign_draft_data.status == -1 and campaign_draft_data.deliveredAt is empty) %}
                                            {% set date = campaign_draft_data.modifiedAt is not empty ? campaign_draft_data.modifiedAt : campaign_draft_data.createdAt %}
                                            {% set status = "En attente" %}
                                            {% set pre = "modifié " %}
                                            {% set class= "wait" %}
                                        {% endif %}
                                        <div class="campagne-name-date {{ class }}">
                                            {% if campaign_draft_data.status == 0 or campaign_draft_data.status == 1 or campaign_draft_data.status == 2 %}
                                            {{ status }} - {{ pre }}{{ date | localizeddate('none', 'none', locale, null, "'le' d MMMM Y 'à' H:mm") }}
                                            {% endif %}
                                        </div>
                                    </label>                           
                                </div>
                                <div class="campagne-metric">
                                    <div class="metric-1">
                                        <span class="metric-value">
                                            {#{{ (campaign_draft_data.recipients["recipient_count"] is defined)?campaign_draft_data.recipients["recipient_count"]:0 }}#}
                                            {% set recipient_value = 0 %}
                                            {% if contact_list is not null %}
                                                {% set recipient_value = contact_list['SubscriberCount'] %}
                                            {% endif %}
                                            {{ recipient_value }}
                                        </span>
                                        <span class="metric-desc">inscrits</span>
                                    </div>
                                    <div class="metric-2">
                                        <span class="metric-value">
                                            {#{{ (campaign_draft_data.openTracked is defined)?campaign_draft_data.openTracked:0 }} %#}
                                            {% set open_value = 0 %}
                                            {% if overview is not null and overview['ProcessedCount'] > 0 %}
                                                {% set open_value = overview['OpenedCount']/overview['ProcessedCount']*100 %}
                                            {% endif %}
                                            {{ open_value~' %' }}
                                        </span>
                                        <span class="metric-desc">ouvertures</span>
                                    </div>
                                    <div class="metric-3">
                                        <span class="metric-value">
                                            {#{{ (campaign_draft_data.clickTracked is defined)?campaign_draft_data.clickTracked:0}} %#}
                                            {% set click_value = 0 %}
                                            {% if overview is not null and overview['ProcessedCount'] > 0 %}
                                                {% set click_value = overview['ClickedCount']/overview['ProcessedCount']*100 %}
                                            {% endif %}
                                            {{ click_value~' %' }}
                                        </span>
                                        <span class="metric-desc">clics</span>
                                    </div>
                                </div>
                                <div class="campagne-action">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                            ACTIONS
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                            {% if campaign_draft_data.status == 2 %}
                                           {% if overview is not null %}
                                            <a class="dropdown-item campaign-statistique" href="#" data-campaign = "{{overview['ID']}}" data-title = "{{overview['Title']}}">STATISTIQUES</a>
                                            {% endif %}
                                            {% endif %}
                                            {% if campaign_draft_data.status == 0 or campaign_draft_data.status == 1 %}
                                                <a class="dropdown-item campaign-edit" href="#" data-target-url="{{ path("admin_communication_emailing_campaign_edit", {"campaign_draft_id": campaign_draft_data.id }) }}">ÉDITER</a>
                                            {% endif %}
                                            <a id = "apercu_campagne" class="dropdown-item campaign-preview" data-url = "{{ campaign_draft_data.url }}" style = "cursor:pointer;">APERÇU</a>
                                            <a class="dropdown-item campaign-duplicate" href="#" data-campaign-draft-id="{{ campaign_draft_data.id }}">DUPLIQUER</a>
                                            {% if campaign_draft_data.status != 1 %}
                                            <a class="dropdown-item campaign-archive" href="#" data-campaign-draft-id="{{ campaign_draft_data.id }}">ARCHIVER</a>
                                            {% endif %}
                                            <input type="hidden" name="campaign-id" value="{{ campaign_draft_data.id }}">
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        {% endfor %}                    
                    </div>                    
                    <div class="row ending">
                        
                    </div>
                    {# modal rename #}
                    <button type="button" id="btn-modal-rename" class="btn btn-primary" data-toggle="modal" data-target="#rename-modal-campaign"></button>
                    <!-- Modal dupliquer-->
                    <div id="rename-modal-campaign" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="content">
                                    <div><h4>renommer la campagne</h4></div>
                                    <div class="row btn-new-campaign-folder">
                                        <label for="campaign_new_name">nom de la campagne </label>
                                        <input id="campaign_new_name" name="campaign_new_name" value="" type="text">
                                        <input name="campaign-id" type="hidden" value="">
                                    </div>                                
                                    <div class="row centered">
                                        <button class="btn-valider btn-rename-campaign">
                                            valider
                                        </button>
                                    </div>
                                    <div class="add-campaign-folder-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal - confirmation suppression campagne -->
                    <div id="confirm-delete-campaign" class="modal confirm-delete-dialog" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body-container">
                                        <div class="text-container">
                                            <span class="confirm-dialog-title">Suppression</span>
                                            <p class="message">Êtes-vous sûr de vouloir supprimer définitivement cette campagne?</p>
                                        </div>
                                        <div>
                                            <button class ="btn-valider confirm-delete">
                                                valider
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="campaign_draft_ids" value="">
                            </div>
                        </div>
                    </div>
                    <!-- FIN - modal - confirmation suppression campagne -->

                    <!-- Modal créer nouveau-->
                    <div id="new-campaign-modal" class="modal bs-example-modal-lg app-dialog" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg big" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="previous"></a>
                                    <a class="close-modal" data-target="#abort-new-campaign-modal" data-toggle="modal" aria-label="Close"></a>
                                </div>
                                <div class="error-message-container centered-message general-message"></div>
                                <div class="content">
                                </div>
                                {#<div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                    </div>
                                </div>#}
                            </div>
                        </div>
                    </div> 
                    <!-- Modal création programmé-->
                    <div id="done-campaign-modal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg big" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="content"> 
                                    <div><h4>c'est parti !</h4></div>
                                    <div>
                                        <p>
                                            Votre campagne est programmée pour le <span class="date-envoi"></span>.
                                        </p>
                                        <p>
                                            Vous pourrez la retrouver, la modifier ou l'éditer dans la liste des campagnes.
                                        </p>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal création envoyé-->
                    <div id="sent-campaign-modal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg big" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="content">
                                    <div><h4>Envoyé !</h4></div>
                                    <div>
                                        <p>
                                            Votre campagne a été envoyée avec succès.
                                        </p>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal suspendre création nouveau-->                    
                    <div id="abort-new-campaign-modal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="content">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                        <div class="modal-title">Suspendre la création d'une campagne</div>
                                        <div class="row btn-new-campaign-folder">
                                            <label>Vous allez suspendre le processus de création d'une campagne. <br> Celle-ci va s'enregistrer dans la liste de vos campagnes, vous pourrez ainsi l'éditer ultérieurement</label>
                                        </div>
                                        <div class="row centered">
                                            <button class="btn-valider btn-abort-creation">
                                                suspendre
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - Modal suspendre création nouveau-->

                    <!-- Modal suspendre édition campgne-->
                    <div id="abort-edit-campaign-modal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="content">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                        <div class="modal-title">Suspendre l'édition de la campagne</div>
                                        <div class="row btn-new-campaign-folder">
                                            <label>Vous allez suspendre le processus d'édition de la campagne. <br> Celle-ci va s'enregistrer dans la liste de vos campagnes, vous pourrez ainsi l'éditer ultérieurement</label>
                                        </div>
                                        <div class="row centered">
                                            <button class="btn-valider btn-abort-edit">
                                                suspendre
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - Modal suspendre édition campgne -->

                    <!-- modal - duplication campagne -->
                    <div id="duplicate-campaign-dialog" class="modal app-dialog duplication-dialog" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container"></div>
                                </div>
                                <input type="hidden" name="template_id" value="">
                            </div>
                        </div>
                    </div>
                    <!-- FIN - modal - duplication campagne -->

                    <!-- modal - créer liste des contacts -->
                    <div id="create-contact-list-modal" class="app-dialog modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                        <div class="content-container">
                                            <span class="dialog-title">créer une liste de contacts</span>
                                            <div class = "body-container"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - modal - créer liste des contacts -->

                    <!-- dialog - prévisulisation instantanée template-->
                    <div id="instantaneous-preview-template-dialog" class="app-dialog modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - dialog - prévisulisation instantanée template-->

                    <!-- dialog - Alerte - suppression élément footer -->
                    <div id="alert-footer-element-dialog" class="app-dialog modal simple-message-modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body-container">
                                        <div class="text-container">
                                            <span class="message-title">éléments du footer</span>
                                            <p class="message">Vous ne pouvez pas laisser ce champ vide, mais en personnaliser le texte.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - dialog - Alerte - suppression élément footer -->

                    <!-- dialog - création template  -->
                    <div id="create-template-dialog" class="app-dialog modal" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg larger" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="previous"></a>
                                    <a class="close-modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - dialog - création template -->
                </section>
                <input id="preview_template_campagne" type="hidden" value="{{ path("admin_communication_emailing_campagne_preview_template") }}">
                <input type="hidden" name="filtered" value="{{ path("admin_communication_emailing_compaign_filter") }}">
                <input type="hidden" name="add_template_form_url" value="{{ path("admin_communication_emailing_templates_add_template") }}">
                <input type="hidden" name="new_campaign_url" value="{{ path("admin_communication_emailing_compaign_new") }}">
                <input type="hidden" name="ckeditor_config_light_path" value="{{ asset('ckeditor/custom/config-light.js') }}">
                <input type="hidden" name="template_content_type_image" value="{{ constant('IMAGE', content_type_class) }}">
                <input type="hidden" name="template_content_type_text" value="{{ constant('TEXT', content_type_class) }}">
                <input type="hidden" name="archive_campaign_url" value="{{ path("admin_communication_emailing_campaign_archive") }}">
                <input type="hidden" name="campaign_list_url" value="{{ path("admin_communication_emailing_compaign") }}">
                <input type="hidden" name="restore_campaign_url" value="{{ path("admin_communication_emailing_campaign_restore_archived") }}">
                <input type="hidden" name="duplicate_campaign_url" value="{{ path("admin_communication_emailing_campaign_duplicate") }}">
                <input type="hidden" name="delete_campaign_url" value="{{ path("admin_communication_emailing_campaign_delete") }}">
                <input type="hidden" name="create_contact_list_url" value = "{{ path("admin_communication_emailing_list_contact_creation") }}">
                <input type="hidden" name="submit_create_contact_list_url" value = "{{ path("admin_communication_emailing_campaign_create_contact_list") }}">
                <input type="hidden" name="template_model_text_and_image" value="{{ constant('TEXT_AND_IMAGE', template_model_class) }}">
                <input type="hidden" name="campaign_draft_creation_mode_by_halt" value="{{ constant('BY_HALT', campaign_draft_creation_mode_class) }}">

                <input type="hidden" name="statistique_campaign_url" value="{{ path("admin_communication_emailing_campaign_statistique") }}">

                <div class="hidden-image">
                    <div id="loading-image">
                        <img src="{{ asset("images/cloudsRewards/loading.gif") }}" />
                    </div>
                </div>                
            </div>
        </div>

        <div class = "row separator"></div>
        
        <p class = "chargementAjax hidden">
            <img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
        </p>
    </main>
    
    <!-- dialog - prévisulisation template-->
    <div id="preview-template-dialog" class="app-dialog modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body">
                    <div class="error-message-container centered-message general-message"></div>
                    <div class="modal-body-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--dialog - visualisation statistique-->
    <div id="statistique-campaign-dialog" class="app-dialog modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body">
                    <div class="error-message-container centered-message general-message"></div>
                    <div class="modal-body-container">
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--fin statistique campagne -->

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>   
            <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>                     
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('js/bootstrap-multimodal/multimodal.min.js') }}"></script>
            <script src="{{ asset('datepicker/i18n/datepicker-fr.js') }}"></script>
            <script src="{{ asset('js/admin-parameters-contents.js') }}"></script>            
            <script src="{{ asset('chosen/chosen.jquery.js') }}"></script>
            <script src="{{ asset('js/jquery/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-dataTable/dataTables.buttons.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-dataTable/buttons.bootstrap4.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('js/admin-emailing-campaign.js') }}"></script>
            <script src="{{ asset('js/statistique/campaignStat.js') }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}