{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':1})) }}

    <main class="col-md-9  offset-md-1 float-left main">

        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_emailing_compaign") }}">campagne </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_emailing_compaign") }}">campagne </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_templates") }}">templates </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">liste de diffusion </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">rapports </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">sur-mesures </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>

        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset slideshow active">
                    <div class="row filter">
                        <div class="create">
                            <button class="btn-valider">
                                créer une campagne
                            </button>
                        </div>
                        <div class="next-create">
                            <div class="dropdown dossiers">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuDossier" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="DOSSIERS">
                                    DOSSIERS
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuDossier">
                                    {% for folder in folders %}
                                        <a class="dropdown-item" href="#">
                                            {{ folder["name"] }}
                                            <span class="folder_count">{{ folder["count"] }}</span>
                                            <span class="folder_id">{{ folder["id"] }} </span>
                                        </a>
                                    {% endfor %}
                                </div>
                                <span class="delete-input"></span>
                            </div>
                            
                            <div class="dropdown filtres">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuFiltre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                    FILTRES
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuFiltre">
                                    <a class="dropdown-item" href="#">
                                        Date de création
                                        <span>create_time</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        Dernière mise à jour
                                        <span>send_time</span>
                                    </a>
                                </div>
                                <span class="delete-input"></span>
                            </div>

                            <div>
                                <a href="#" class="add add-folder-link">
                                    créer un dossier
                                </a>
                            </div>
                        </div>
                    </div> 
                    <div class="row list">
                        {% for li in list %}
                            <div class="row campaign-{{li["id"]}}">
                                <div class="campagne-name">
                                    <input type="checkbox" class="styled-checkbox bigger" id="{{li["id"]}}">
                                    <label for="{{li["id"]}}">
                                        <span></span>
                                        <div class="campagne-name-name">
                                            {{ li["settings"]["title"] }}
                                        </div>
                                        <div class="campagne-name-date">
                                            {{ li["status"] }} - {{ li["create_time"] | localizeddate('none', 'none', locale, null, "'le' d MMMM Y 'à' H:mm") }}
                                        </div>
                                    </label>                           
                                </div>
                                <div class="campagne-metric">
                                    <div class="metric-1">
                                        <span class="metric-value">
                                            {{ (li["recipients"]["recipient_count"] is defined)?li["recipients"]["recipient_count"]:0 }}
                                        </span>
                                        <span class="metric-desc">inscrits</span>
                                    </div>
                                    <div class="metric-2">
                                        <span class="metric-value">
                                            {{ (li["report_summary"]["open_rate"] is defined)?li["report_summary"]["open_rate"]:0 }} %
                                        </span>
                                        <span class="metric-desc">ouvertures</span>
                                    </div>
                                    <div class="metric-3">
                                        <span class="metric-value">
                                            {{ (li["report_summary"]["click_rate"] is defined)?li["report_summary"]["click_rate"]:0}} %
                                        </span>
                                        <span class="metric-desc">clics</span>
                                    </div>
                                </div>
                                <div class="campagne-action">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                            ACTIONS
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                            <a class="dropdown-item" href="#">VOIR LE RAPPORT</a>
                                            <a class="dropdown-item" href="#">VOIR EMAIL</a>
                                            <a class="dropdown-item campaign-rename" href="#">RENOMMER</a>
                                            <a class="dropdown-item campaign-replicate" href="#">DUPLIQUER</a>                                            
                                            <input type="hidden" name="campaign-id" value="{{ li["id"] }}">                                           
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        {% endfor %}                    
                    </div>                    
                    <div class="row ending">
                        
                    </div>  
                    {# modal new folder #}
                    <button type="button" id="btn-modal-new-folder" class="btn btn-primary" data-toggle="modal" data-target="#new-folder-modal-campaign"></button>
                    <!-- Modal -->
                    <div id="new-folder-modal-campaign" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="content">
                                    <div><h4>créer un dossier</h4></div>
                                    <div class="row btn-new-campaign-folder">
                                        <label for="campaign_new_folder">nom du dossier </label>
                                        <input id="campaign_new_folder" name="campaign_new_folder" value="" type="text">
                                    </div>                                
                                    <div class="row centered">
                                        <button class="btn-valider btn-new-campaign-folder">
                                            valider
                                        </button>
                                    </div>
                                    <div class="add-campaign-folder-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# modal rename #}
                    <button type="button" id="btn-modal-rename" class="btn btn-primary" data-toggle="modal" data-target="#rename-modal-campaign"></button>
                    <!-- Modal -->
                    <div id="rename-modal-campaign" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="content">
                                    <div><h4>renommer la compaigne</h4></div>
                                    <div class="row btn-new-campaign-folder">
                                        <label for="campaign_new_name">nom de la compaigne </label>
                                        <input id="campaign_new_name" name="campaign_new_name" value="" type="text">
                                        <input name="campaign-id" type="hidden" value="">
                                    </div>                                
                                    <div class="row centered">
                                        <button class="btn-valider btn-rename-campaign">
                                            valider
                                        </button>
                                    </div>
                                    <div class="add-campaign-folder-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>               
                </section>
                <input id="new_folder_link" type="hidden" value="{{ path("admin_communication_emailing_compaign_new_folder") }}">
                <input type="hidden" name="replicate" value="{{ path("admin_communication_emailing_compaign_replicate") }}">
                <input type="hidden" name="rename" value="{{ path("admin_communication_emailing_compaign_rename") }}">
                <input type="hidden" name="filtered" value="{{ path("admin_communication_emailing_compaign_filter") }}">
            </div>
        </div>

        <div class = "row separator"></div>
    </main>

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('js/admin-parameters-contents.js') }}"></script>
            <script src="{{ asset('js/admin-emailing-campaign.js') }}"></script>                 
        {% endblock %}
    {% endembed %}
{% endblock %}