{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':1})) }}

    <main class="col-md-9  offset-md-1 float-left main">

        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_emailing_compaign") }}">campagne </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_emailing_compaign") }}">campagne </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_templates") }}">templates </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">liste de diffusion </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">rapports </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">sur-mesures </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>

        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset slideshow active">
                    <div class="row filter">
                        <div class="create">
                            <button class="btn-valider">
                                créer une campagne
                            </button>
                        </div>
                        <div class="next-create">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuDossier" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="DOSSIERS">
                                    DOSSIERS
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuDossier">
                                    {% for folder in folders %}
                                        <a class="dropdown-item" href="#">
                                            {{ folder["name"] }}
                                            <span>{{ folder["count"] }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                                <span class="delete-input"></span>
                            </div>
                            
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuFiltre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                    FILTRES
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuFiltre">
                                    <a class="dropdown-item" href="#">Date de création</a>
                                    <a class="dropdown-item" href="#">Dernière mise à jour</a>
                                </div>
                                <span class="delete-input"></span>
                            </div>

                            <div>
                                <a href="#" class="add add-folder-link">
                                    créer un dossier
                                </a>
                            </div>
                        </div>
                    </div> 
                    <div class="row list">
                        <div class="row">
                            <div class="campagne-name">
                                <input type="checkbox" class="styled-checkbox bigger" id="campagne_0">
                                <label for="campagne_0">
                                    <span></span>
                                    <div class="campagne-name-name">Relance ATN Challenge</div>
                                    <div class="campagne-name-date">Envoyé - le 02 mai 2017 à 15:06</div>
                                </label>                           
                            </div>
                            <div class="campagne-metric">
                                <div class="metric-1">
                                    <span class="metric-value">233</span>
                                    <span class="metric-desc">inscrits</span>
                                </div>
                                <div class="metric-2">
                                    <span class="metric-value">4.3%</span>
                                    <span class="metric-desc">ouvertures</span>
                                </div>
                                <div class="metric-3">
                                    <span class="metric-value">0.5%</span>
                                    <span class="metric-desc">clics</span>
                                </div>
                            </div>
                            <div class="campagne-action">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                        <a class="dropdown-item" href="#">VOIR LE RAPPORT</a>
                                        <a class="dropdown-item" href="#">VOIR EMAIL</a>
                                        <a class="dropdown-item" href="#">RENOMMER</a>
                                        <a class="dropdown-item" href="#">DUPLIQUER</a>
                                    </div>
                                </div>
                            </div>                            
                        </div> 
                        <div class="row">
                            <div class="campagne-name">
                                <input type="checkbox" class="styled-checkbox bigger" id="campagne_1">
                                <label for="campagne_1">
                                    <span></span>
                                    <div class="campagne-name-name">ATN Challenge</div>
                                    <div class="campagne-name-date">Envoyé - le 17 avril 2017 à 13:06</div>
                                </label>                           
                            </div>
                            <div class="campagne-metric">
                                <div class="metric-1">
                                    <span class="metric-value">2033</span>
                                    <span class="metric-desc">inscrits</span>
                                </div>
                                <div class="metric-2">
                                    <span class="metric-value">18%</span>
                                    <span class="metric-desc">ouvertures</span>
                                </div>
                                <div class="metric-3">
                                    <span class="metric-value">0.8%</span>
                                    <span class="metric-desc">clics</span>
                                </div>
                            </div>
                            <div class="campagne-action">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                        <a class="dropdown-item" href="#">VOIR LE RAPPORT</a>
                                        <a class="dropdown-item" href="#">VOIR EMAIL</a>
                                        <a class="dropdown-item" href="#">RENOMMER</a>
                                        <a class="dropdown-item" href="#">DUPLIQUER</a>
                                    </div>
                                </div>
                            </div>                            
                        </div> 
                        <div class="row">
                            <div class="campagne-name">
                                <input type="checkbox" class="styled-checkbox bigger" id="campagne_2">
                                <label for="campagne_2">
                                    <span></span>
                                    <div class="campagne-name-name">ATN Challenge Actualité</div>
                                    <div class="campagne-name-date">Envoyé - le 05 mars 2017 à 08:00</div>
                                </label>                           
                            </div>
                            <div class="campagne-metric">
                                <div class="metric-1">
                                    <span class="metric-value">1200</span>
                                    <span class="metric-desc">inscrits</span>
                                </div>
                                <div class="metric-2">
                                    <span class="metric-value">27.7%</span>
                                    <span class="metric-desc">ouvertures</span>
                                </div>
                                <div class="metric-3">
                                    <span class="metric-value">1%</span>
                                    <span class="metric-desc">clics</span>
                                </div>
                            </div>
                            <div class="campagne-action">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                        <a class="dropdown-item" href="#">VOIR LE RAPPORT</a>
                                        <a class="dropdown-item" href="#">VOIR EMAIL</a>
                                        <a class="dropdown-item" href="#">RENOMMER</a>
                                        <a class="dropdown-item" href="#">DUPLIQUER</a>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="campagne-name">
                                <input type="checkbox" class="styled-checkbox bigger" id="campagne_3">
                                <label for="campagne_3">
                                    <span></span>
                                    <div class="campagne-name-name">Dassault Systèmes</div>
                                    <div class="campagne-name-date wait">En attente - modifié le 02 avril à 14:00</div>
                                </label>                           
                            </div>
                            <div class="campagne-metric">
                                <div class="metric-1">
                                    <span class="metric-value">0</span>
                                    <span class="metric-desc">inscrits</span>
                                </div>
                                <div class="metric-2">
                                    <span class="metric-value">0</span>
                                    <span class="metric-desc">ouvertures</span>
                                </div>
                                <div class="metric-3">
                                    <span class="metric-value">0.7%</span>
                                    <span class="metric-desc">clics</span>
                                </div>
                            </div>
                            <div class="campagne-action">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                        <a class="dropdown-item" href="#">VOIR LE RAPPORT</a>
                                        <a class="dropdown-item" href="#">VOIR EMAIL</a>
                                        <a class="dropdown-item" href="#">RENOMMER</a>
                                        <a class="dropdown-item" href="#">DUPLIQUER</a>
                                    </div>
                                </div>
                            </div>                            
                        </div>                       
                    </div>                    
                    <div class="row ending">
                        
                    </div>  

                    <button type="button" id="btn-modal-new-folder" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"></button>
                    <!-- Modal -->
                    <div id="new-folder-modal-campaign" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                            </div>
                            <div class="content">
                                <div><h4>créer un dossier</h4></div>
                                <div class="row btn-new-campaign-folder">
                                    <label for="campaign_new_folder">nom du dossier </label>
                                    <input id="campaign_new_folder" name="campaign_new_folder" value="" type="text">
                                </div>                                
                                <div class="row centered">
                                    <button class="btn-valider btn-new-campaign-folder">
                                        valider
                                    </button>
                                </div>
                                <div class="add-campaign-folder-error"></div>
                            <div>
                            
                        </div>
                      </div>
                    </div>                
                </section>
                <input id="new_folder_link" type="hidden" value="{{ path("admin_communication_emailing_compaign_new_folder") }}">
            </div>
        </div>

        <div class = "row separator"></div>
    </main>

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('js/admin-parameters-contents.js') }}"></script>         
        {% endblock %}
    {% endembed %}
{% endblock %}