{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("chosen/chosen.css") }}" rel="stylesheet">
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':1})) }}

    <main class="col-md-9  offset-md-1 float-left main">

        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_emailing_compaign") }}">campagnes </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_emailing_compaign") }}">campagnes </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_templates") }}">templates </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">liste de diffusion </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">rapports </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">sur-mesures </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>

        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset slideshow active">
                    <div class="row filter">
                        <div class="create">
                            <button class="btn-valider" data-toggle="modal" data-target="#new-campaign-modal">
                                créer une campagne
                            </button>
                        </div>
                        <div class="next-create">
                            <div class="dropdown clearable dossiers">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuDossier" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="DOSSIERS">
                                    DOSSIERS
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuDossier">
                                    {% for folder in folders %}
                                        <a class="dropdown-item" href="#">
                                            {{ folder["name"] }}
                                            <span class="folder_count">{{ folder["count"] }}</span>
                                            <span class="folder_id">{{ folder["id"] }} </span>
                                        </a>
                                    {% endfor %}
                                </div>
                                <span class="delete-input"></span>
                            </div>
                            
                            <div class="dropdown clearable filtres">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuFiltre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                    FILTRES
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuFiltre">
                                    <a class="dropdown-item" href="#">
                                        Date de création
                                        <span>create_time</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        Dernière mise à jour
                                        <span>send_time</span>
                                    </a>
                                </div>
                                <span class="delete-input"></span>
                            </div>

                            <div>
                                <a href="#" class="add add-folder-link" data-toggle="modal" data-target="#new-folder-modal-campaign">
                                    créer un dossier
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row filter selected-campaign">
                        <div class="create campagne-count">
                            <div class="selected-count">
                                <input type="text" value="campagne sélectionnée">
                                <span class="delete-input"></span>
                            </div>
                        </div>
                        <div class="next-create campaign-delete-move">
                            <div class="dropdown clearable move-to">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuDossier" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="DÉPLACER DANS DOSSIER">
                                    DÉPLACER DANS DOSSIER
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuDossier">
                                    {% for folder in folders %}
                                        <a class="dropdown-item" href="#">
                                            {{ folder["name"] }}
                                            <span class="folder_count">{{ folder["count"] }}</span>
                                            <span class="folder_id">{{ folder["id"] }} </span>
                                        </a>
                                    {% endfor %}
                                    <a href="#" class="add dropdown-item add-folder-link" data-toggle="modal" data-target="#new-folder-modal-campaign">
                                        créer un dossier
                                    </a>
                                </div>                                
                            </div>
                            <div class="campaign-delete">
                                <button class="btn-valider" class="btn btn-primary" data-toggle="modal" data-target="#delete-modal-campaign">
                                    supprimer
                                </button> 
                            </div>
                        </div>
                    </div> 
                    <div class="row list">
                        {% for li in list %}
                            <div class="row campaign-{{li.id}}">
                                <div class="campagne-name">
                                    <input type="checkbox" class="styled-checkbox bigger" id="{{li.id}}">
                                    <label for="{{li.id}}">
                                        <span></span>
                                        <div class="campagne-name-name">
                                            {{ li.settings["title"] }}
                                        </div>
                                        <div class="campagne-name-date">
                                            {{ li.status }} - {{ li.createTime | localizeddate('none', 'none', locale, null, "'le' d MMMM Y 'à' H:mm") }}
                                        </div>
                                    </label>                           
                                </div>
                                <div class="campagne-metric">
                                    <div class="metric-1">
                                        <span class="metric-value">
                                            {{ (li.recipients["recipient_count"] is defined)?li.recipients["recipient_count"]:0 }}
                                        </span>
                                        <span class="metric-desc">inscrits</span>
                                    </div>
                                    <div class="metric-2">
                                        <span class="metric-value">
                                            {{ (li.reportSummary["open_rate"] is defined)?li.reportSummary["open_rate"]:0 }} %
                                        </span>
                                        <span class="metric-desc">ouvertures</span>
                                    </div>
                                    <div class="metric-3">
                                        <span class="metric-value">
                                            {{ (li.reportSummary["click_rate"] is defined)?li.reportSummary["click_rate"]:0}} %
                                        </span>
                                        <span class="metric-desc">clics</span>
                                    </div>
                                </div>
                                <div class="campagne-action">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                            ACTIONS
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                            <a class="dropdown-item" href="#">VOIR LE RAPPORT</a>
                                            <a class="dropdown-item" href="#">VOIR EMAIL</a>
                                            <a class="dropdown-item campaign-rename" href="#">RENOMMER</a>
                                            <a class="dropdown-item campaign-replicate" href="#">DUPLIQUER</a>                                            
                                            <input type="hidden" name="campaign-id" value="{{ li.id }}">                                           
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        {% endfor %}                    
                    </div>                    
                    <div class="row ending">
                        
                    </div>  
                    {# modal new folder #}
                    <!-- Modal -->
                    <div id="new-folder-modal-campaign" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="content">
                                    <div><h4>créer un dossier</h4></div>
                                    <div class="row btn-new-campaign-folder">
                                        <label for="campaign_new_folder">nom du dossier </label>
                                        <input id="campaign_new_folder" name="campaign_new_folder" value="" type="text">
                                    </div>                                
                                    <div class="row centered">
                                        <button class="btn-valider btn-new-campaign-folder">
                                            valider
                                        </button>
                                    </div>
                                    <div class="add-campaign-folder-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# modal rename #}
                    <button type="button" id="btn-modal-rename" class="btn btn-primary" data-toggle="modal" data-target="#rename-modal-campaign"></button>
                    <!-- Modal dupliquer-->
                    <div id="rename-modal-campaign" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="content">
                                    <div><h4>renommer la compaigne</h4></div>
                                    <div class="row btn-new-campaign-folder">
                                        <label for="campaign_new_name">nom de la compaigne </label>
                                        <input id="campaign_new_name" name="campaign_new_name" value="" type="text">
                                        <input name="campaign-id" type="hidden" value="">
                                    </div>                                
                                    <div class="row centered">
                                        <button class="btn-valider btn-rename-campaign">
                                            valider
                                        </button>
                                    </div>
                                    <div class="add-campaign-folder-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#modal delete#}                    
                    <!-- Modal supprimer-->
                    <div id="delete-modal-campaign" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="content">
                                    <div><h4>suppression</h4></div>
                                    <div class="row btn-new-campaign-folder">
                                        <label for="">Êtes-vous sûr de vouloir supprimer définitivement cette campagne ?</label>
                                    </div>                                
                                    <div class="row centered">
                                        <button class="btn-valider btn-delete-campaign">
                                            valider
                                        </button>
                                    </div>
                                    <div class="add-campaign-folder-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal créer nouveau-->                    
                    <div id="new-campaign-modal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg big" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="previous"></a>
                                    <a class="close-modal" data-target="#abort-new-campaign-modal" data-toggle="modal" aria-label="Close"></a>
                                </div>
                                <div class="content">
                                    <div><h4>créer une campagne</h4></div>
                                    <div class = "row">
                                        <div class= "col-12 col-md-12 navbar">
                                            <ul class="nav navbar-nav" id="create-tabs">
                                                <a class="activated done" data-toggle="tab"  href="#tab-form-level-1">
                                                    étape 1<br>
                                                    <span class="tab-spec">nom et objet de la campagne</span>
                                                    <span class="fullfilled"></span>
                                                </a>
                                                <a class="activated" data-toggle="tab"  href="#tab-form-level-2">
                                                    étape 2<br>
                                                    <span class="tab-spec">liste de diffusion</span>
                                                    <span class="fullfilled"></span>
                                                </a>
                                                <a class="activated" data-toggle="tab"  href="#tab-form-level-3">
                                                    étape 3<br>
                                                    <span class="tab-spec">template</span>
                                                    <span class="fullfilled"></span>
                                                </a>
                                                <a class="activated" data-toggle="tab"  href="#tab-form-level-4">
                                                    étape 4<br>
                                                    <span class="tab-spec">envoi de la campagne</span>
                                                    <span class="fullfilled"></span>
                                                </a>                                
                                            </ul>
                                        </div>
                                    </div>

                                    <div class = "row tab-content">                    
                                        <div class = "col-12 col-md-12 tab-pane" id="tab-form-level-1">
                                            <p class="form-line">
                                                <label>renseignez le nom de la campagne</label>
                                                <input type="text" value="">
                                                <span class="delete-input"></span>
                                            </p>
                                            <p class="form-line">
                                                <label>renseignez le nom de la campagne</label>
                                                <input type="text" value="">
                                                <span class="delete-input"></span>
                                            </p>
                                            <p>L'e-mail d'envoie de votre campagne sera : contact@monchallenge2017.sorewards.com</p>
                                            <p>
                                                Pour toute modification de cet e-mail veuillez <a href="#" class="nous-contactez">nous contacter</a>
                                            </p>

                                            <div class="row centered">
                                                <button class="btn-valider btn-end-step-1">
                                                    continuer
                                                </button>
                                            </div>                                            
                                        </div>
                                        <div class = "col-12 col-md-12 tab-pane" id="tab-form-level-2">
                                            <div class="modal-step-2">
                                                <label>sélectionner une liste de diffusion</label>
                                                <div class="list-choice">
                                                    <div class="dropdown clearable">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuListe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="CHOISIR UNE LISTE">
                                                            CHOISIR UNE LISTE
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuListe">
                                                            <a class="dropdown-item" href="#">
                                                                LISTE 1
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                LISTE 2
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                MA LISTE
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                SHORT LIST
                                                            </a>                
                                                        </div>
                                                        <span class="delete-input"></span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <a href="#" class="add free-add add-template">
                                                        créer une nouvelle liste
                                                    </a>
                                                </div>
                                            </div> 
                                            <div class="row centered">
                                                <button class="btn-valider btn-end-step-2">
                                                    continuer
                                                </button>
                                            </div>                                            
                                        </div>
                                        <div class = "col-12 col-md-12 tab-pane" id="tab-form-level-3">
                                            <div class="modal-step-3">
                                                <div>
                                                    <p>sélectionner le template d'e-mail que vous souhaitez utiliser ou modifier</p>
                                                </div>                                                
                                                <div class="create-new-template">
                                                    <a href="#" class="add free-add add-list">
                                                        créer un template
                                                    </a>
                                                </div>
                                                <div class="template-lists">
                                                    <div class="template-choice-container">
                                                        <div class="template-choice">
                                                            <img src="{{ asset("images/cloudsRewards/template_text_image.png") }}">
                                                            <div class="checkbox-choice-container">
                                                                <input id="text-image-option-radio" class="styled-radio" name="template_choice_option" type="radio">
                                                                <label for="text-image-option-radio" ></label>
                                                            </div>
                                                        </div>
                                                    </div>                                       
                                                </div>
                                                <div class="error-message-container"></div>
                                            </div>
                                            <div class="row centered">
                                                <button class="btn-valider btn-end-step-3">
                                                    continuer
                                                </button>
                                            </div> 
                                        </div>
                                        <div class = "col-12 col-md-12 tab-pane" id="tab-form-level-4">
                                            <div class="modal-step-4">
                                                <div>
                                                    <input checked="checked" type="radio" id="send-now" name="program-campaign" value="now">
                                                    <label for="send-now">
                                                        <span></span>
                                                        envoyer la campagne maintenant
                                                    </label>
                                                </div>                                                
                                                <div>
                                                    <input type="radio" id="programed-later" name="program-campaign" value="">
                                                    <label for="programed-later">
                                                        <span></span>
                                                        programmer l'envoi de la campagne
                                                    </label>
                                                    <div class="select-date">
                                                        {# {{ dump(programmed.date_launch.time) }} #}
                                                        {{ form_start(programmed) }}
                                                        <p>choisissez le jour</p>
                                                        <div>             
                                                            {{ form_widget(programmed.date_launch.date, {"attr": {"class" : "date_launch_campaign", "style": "display:none;"}}) }}
                                                            <div id="calendar"></div>
                                                        </div>
                                                        <p>et l'heure</p>
                                                        <div>
                                                            {{ form_widget(programmed.date_launch.time.hour, {"attr":  {"class" : "chosen-select"}}) }}
                                                            <span class="between-hour">:</span>
                                                            {{ form_widget(programmed.date_launch.time.minute, {"attr":  {"class" : "chosen-select"}}) }} 
                                                        </div>
                                                        {{ form_end(programmed) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row centered">
                                                <button class="btn-valider btn-end-step-4">
                                                    envoyer
                                                </button>
                                                <button class="btn-valider btn-program-step-4">
                                                    programmer
                                                </button>
                                            </div> 
                                        </div>
                                    </div>                              
                                    
                                    <div class="add-campaign-folder-error"></div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!-- Modal suspendre création nouveau-->                    
                    <div id="abort-new-campaign-modal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="content">
                                    <div><h4>Suspendre la création d'une campagne</h4></div>
                                    <div class="row btn-new-campaign-folder">
                                        <label>Vous allez suspendre le processus de création d'une campagne. <br> Celle-ci va s'enregistrer dans la liste de vos campagnes, vous pourrrez ainsi l'éditer ultérieurement</label>
                                    </div>                                
                                    <div class="row centered">
                                        <button class="btn-valider btn-abort-creation" data-dismiss="modal" data-toggle="modal" data-target="#new-campaign-modal">
                                            suspendre
                                        </button>
                                    </div>
                                    <div class="add-campaign-folder-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>             
                </section>
                <input id="new_folder_link" type="hidden" value="{{ path("admin_communication_emailing_compaign_new_folder") }}">
                <input type="hidden" name="replicate" value="{{ path("admin_communication_emailing_compaign_replicate") }}">
                <input type="hidden" name="rename" value="{{ path("admin_communication_emailing_compaign_rename") }}">
                <input type="hidden" name="filtered" value="{{ path("admin_communication_emailing_compaign_filter") }}">
                <input type="hidden" name="delete-campaign-link" value="{{ path("admin_communication_emailing_compaign_delete") }}">
                <input type="hidden" name="add_template_form_url" value="{{ path("admin_communication_emailing_templates_add_template") }}">
                <input type="hidden" name="ckeditor_config_light_path" value="{{ asset('ckeditor/custom/config-light.js') }}">
                <input type="hidden" name="template_content_type_image" value="{{ constant('IMAGE', content_type_class) }}">
                <input type="hidden" name="template_content_type_text" value="{{ constant('TEXT', content_type_class) }}">
            </div>
        </div>

        <div class = "row separator"></div>
    </main>

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>   
            <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>                     
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('datepicker/i18n/datepicker-fr.js') }}"></script>
            <script src="{{ asset('js/admin-parameters-contents.js') }}"></script>            
            <script src="{{ asset('chosen/chosen.jquery.js') }}"></script>
            <script src="{{ asset('js/admin-emailing-campaign.js') }}"></script>             
        {% endblock %}
    {% endembed %}
{% endblock %}