{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("chosen/chosen.css") }}" rel="stylesheet">
            <link href="{{ asset("css/admin-statisques.css") }}" rel="stylesheet">
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':1})) }}

    <main class="col-md-9  offset-md-1 float-left main">
        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_compaign") }}">campagnes </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_compaign") }}">campagnes </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_communication_emailing_templates") }}">modèles d'e-mails </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">liste des contacts </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page-active" href="{{path("admin_communication_statistiques")}}">statistiques </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">sur-mesures </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>
         <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset slideshow active">
                    <div class="row filter">
                        <div class="create">                            
                            <div class="dropdown clearable filtres">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAdress" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                    TOUTES LES ADRESSES
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuFiltre">
                                    <a class="dropdown-itemAd" href="#">
                                        OPTION1
                                        <span>fff</span>
                                    </a>
                                    <a class="dropdown-itemAd" href="#">
                                        OPTION2
                                        <span>Sent</span>
                                    </a>
                                    <a class="dropdown-itemAd" href="#">
                                        OPTION3
                                        <span>Programmed</span>
                                    </a>
                                    <a class="dropdown-itemAd" href="#">
                                        OPTION4
                                        <span>Draft</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="next-create">                            
                            <div class="dropdown clearable filtres">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                    TOUS LES TYPES
                                </button>
                                <div class="dropdown-menu menuType" aria-labelledby="dropdownMenuFiltre">
                                    <a class="dropdown-itemTY" href="#">
                                        {{"Campaign Seulement"|upper}}
                                        <span>campaign</span>
                                    </a>
                                    <a class="dropdown-itemTY" href="#">
                                        {{"Transaction Seulement"|upper}}
                                        <span>transaction</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="now-create">                            
                            <div class="dropdown clearable filtres">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuNow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                    AUJOURD'HUI
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuFiltre">
                                    <a class="dropdown-itemNo" href="#">
                                         AUJOURD'HUI
                                        <span>Today</span>
                                    </a>
                                    <a class="dropdown-itemNo" href="#">
                                        HIER
                                        <span>Yesterday</span>
                                    </a>
                                    <a class="dropdown-itemNo" href="#">
                                        {{"7 dernier jours"|upper}}
                                        <span>last7days</span>
                                    </a>
                                    <a class="dropdown-itemNo" href="#">
                                        {{"ce mois"|upper}}
                                        <span>thismonth</span>
                                    </a>
                                    <a class="dropdown-itemNo" href="#">
                                        {{"mois dernier"|upper}}
                                        <span>lastmonth</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="stat-per-date">
                            <p id="perDate"> période</p>
                             <input type="text" name="periode" class="periode" id="calendar">
                                <div class="suiv">
                                    <div class="first-date">
                                        <input type="text" name="statDays" class="statDays" id="d2">
                                        <input type="text" name="statMonths" class="statMonths" id="m2">
                                        <input type="text" name="statYear" class="statYear" id="y2">
                                        <input type="submit" id="question" value="" class="with">
                                        <label for="question" id="qst"></label>
                                        <input type="submit" id="question2" value="" class="with2">
                                        <label for="question2" id="qst2"></label>
                                    </div>
                                    <div class="secondDate">
                                        <input type="text" name="periode1" class="periode1">
                                        <input type="text" name="statDays" class="statDays1" id="d1">
                                        <input type="text" name="statMonths" class="statMonths1" id="m1" >
                                        <input type="text" name="statYear" class="statYear1" id="y1">
                                        <input type="submit"id="question3" value=""class="with3">
                                        <label for="question3" id="qst3"></label>
                                        <input type="submit" id="question4" value="" class="with4">
                                        <label for="question4" id="qst4"></label>
                                    </div>
                                </div>
                        </div>                       
                    </div>
                    <div class="row choice">
                            <label id="mode-radio" class="checkboxBtn est-mode">
                                <input type="hidden" name="challenge_mode">
                            </label>
                            <p class="libelle-modeE">ENVOYÉS</p>
                          <label id="mode-radio" class="checkboxBtn est-mode">
                                <input type="hidden" name="challenge_mode">
                            </label>
                            <p class="libelle-modeD">{{"délivrés"|upper}}</p>
                            <label id="mode-radio" class="checkboxBtn est-mode">
                                <input type="hidden" name="challenge_mode">
                            </label>
                            <p class="libelle-modeO">{{"ouverts"|upper}}</p>
                            <label id="mode-radio" class="checkboxBtn est-mode">
                                <input type="hidden" name="challenge_mode">
                            </label>
                            <p class="libelle-modeC">{{"cliqués"|upper}}</p>
                            <label id="mode-radio" class="checkboxBtn est-mode">
                                <input type="hidden" name="challenge_mode">
                            </label>
                            <p class="libelle-modeDe">{{"désabo."|upper}}</p>
                            <label id="mode-radio" class="checkboxBtn est-mode">
                                <input type="hidden" name="challenge_mode">
                            </label>
                            <p class="libelle-modeBl">{{"bloqués"|upper}}</p>
                            <label id="mode-radio" class="checkboxBtn est-mode">
                                <input type="hidden" name="challenge_mode">
                            </label>
                            <p class="libelle-modeSp">{{"spam"|upper}}</p>
                            <label id="mode-radio" class="checkboxBtn est-mode">
                                <input type="hidden" name="challenge_mode">
                            </label>
                            <p class="libelle-modeErr ">{{"erreurs"|upper}}</p>
                            <div class="row filter12 hours12">
                         <div class="heure-create">                            
                                <div class="dropdown clearable filtres">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownHeure" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                        HEURES
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuFiltre">
                                        <a class="dropdown-itemH" href="#">
                                            OPTION1
                                            <span>fff</span>
                                        </a>
                                        <a class="dropdown-itemH" href="#">
                                            OPTION2
                                            <span>Sent</span>
                                        </a>
                                        <a class="dropdown-itemH" href="#">
                                            OPTION3
                                            <span>Programmed</span>
                                        </a>
                                    </div>
                                </div>
                    </div>  
                    <div class="graphique">
                         <div id="container"></div>
                    </div>                 
                        <div class="message">
                            <h6 id="messag">Pendant cette période, vous envoyé <span id="nbrMail">{{total<10? 0~total:total}}</span> <span id="nbrMail2"></span>e-mails.</h6><span id="nbrMail3"></span></h6>
                                <h6 id="messagSelect">Sélectionnez une autre période pour voir plus de statistiques.</h6>
                        </div>                   
                    <div class="row result">
                            <div class=" total">
                                <div class="totalTitreVal">
                                    <p id="titreT">{{"total"|upper}}</p>
                                    <h4 class="valTot2"></h4>
                                    <h4 class="valTot3"></h4>
                                    {% if total is not empty %}
                                        <h4 class="valTot">{{total<10? 0~total:total}}</h4>
                                    {% else %}
                                        <h4 class="valTot1"></h4>
                                    {% endif %}
                                    <p class="mailTot">e-mails</p>
                                </div>
                            </div>
                                <div class=" delivrer">
                                    <div class="delTitreVal">
                                        <p id="titreDel">{{"délivrés"|upper}}</p>
                                        <h4 class="valDel2"></h4>
                                        <h4 class="valDel3"></h4>
                                        {% if delivre is not empty %}
                                            <h4 class="valDel">{{delivre<10?0~delivre:delivre}}</h4>
                                        {% else %}
                                            <h4 class="valDel1"></h4>
                                        {% endif %} 
                                        <p class="mailTot">e-mails</p>
                                    </div>                                   
                                </div>
                                <div class="ouvert" >
                                    <div class="ouvTitreVal">
                                        <p id="titreOuv">{{"ouverts"|upper}}</p>
                                         <h4 class="valOuv2"></h4>
                                          <h4 class="valOuv3"></h4>
                                        {% if ouvert is not empty %}
                                            <h4 class="valOuv">{{ouvert<10? 0~ouvert:ouvert}}</h4>
                                        {% else %}
                                            <h4 class="valOuv1"></h4>
                                        {% endif %} 
                                        <p class="mailTot">e-mails</p> 
                                    </div>             
                                </div>                                                                                              
                                <div class=" clique">
                                    <div class="cliTitreVal">
                                        <p id="titreClik">{{"cliqués"|upper}}</p>
                                        <h4 class="valClik2"></h4>
                                         <h4 class="valClik3"></h4>
                                        {% if cliquer is not empty %} 
                                            <h4 class="valClik">{{cliquer<10? 0~cliquer:cliquer}}</h4>
                                         {% else %}
                                             <h4 class="valClik1"></h4>
                                         {% endif %} 
                                        <p class="mailTot">e-mails</p>
                                    </div>
                                </div>
                                <div class="bloque">
                                    <div class="titreEtat">
                                        <p class="blbl">{{"bloqués"|upper}} </p>
                                        <p class="blbl2">{{"bloqués"|upper}} </p>
                                        <p class="blbl3">{{"bloqués"|upper}} </p>
                                        <p class="blErr">{{"erreurs"|upper}}</p>
                                        <p class="blErr2">{{"erreurs"|upper}}</p>
                                        <p class="blErr3">{{"erreurs"|upper}}</p>
                                        <p class="blDesa">{{"désabo."|upper}} </p>
                                        <p class="blDesa2">{{"désabo."|upper}} </p>
                                        <p class="blDesa3">{{"désabo."|upper}} </p>
                                        <p class="blSp">{{"spam"|upper}} </p>
                                        <p class="blSp2">{{"spam"|upper}} </p>
                                        <p class="blSp3">{{"spam"|upper}} </p>
                                    </div>
                                    <div class="valEtat">
                                        <p id="blbl2"></p>
                                         <p id="blbl3"></p>
                                        {% if bloque is not empty %}
                                            <p class="blbl">{{bloque<10? 0~bloque:bloque}}</p>
                                        {% else %}
                                             <p class="blbl1"></p>
                                        {% endif %}
                                        <p id="blErr2"></p>
                                        <p id="blErr3"></p>
                                        {% if erreur is not empty %} 
                                            <p class="blErr">{{erreur<10? 0~erreur:erreur}}</p>
                                        {% else %}
                                            <p class="blErr1"></p>
                                        {% endif %}
                                        <p id="blDesa2"></p>
                                        <p id="blDesa3"></p>
                                        {% if desabo is not empty %} 
                                            <p class="blDesa">{{desabo<10? 0~desabo:desabo}}</p>
                                        {% else %}
                                            <p class="blDesa1">{{desabo<10? 0~desabo:desabo}}</p>
                                        {% endif %}
                                         <p id="blSp2"></p>
                                         <p id="blSp3"></p>
                                        {% if spam is not empty %} 
                                            <p class="blSp">{{spam<10? 0~spam:spam}}</p>
                                        {% else %}
                                             <p class="blSp1"></p>
                                        {% endif %}
                                    </div>
                                </div>
                    </div>
                    <div class="detaile">
                        <h6 id="detaStat">Statistiques détaileés sur la période sélectionnée</h6><br>
                        <p style="font-size:1.1rem">Pour voir les statistiques détaillées (liste des emails, liste des contatcs qui ont l'email, liens les plus cliqués,etc),</p><p>cliquez sur le buton ci-dessus:</p>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <button class="btn-valider btn-download" id="vueStat">
                                <span class="vueStat">voir les statistiques détailées</span>
                            </button>
                        </div> 
                    </div>
                    <div class="ensemble">
                        <div class="row filter1 hours1">
                             <p class="listeEmail">Liste des e-mails</p>
                            <div class="heure-create">                            
                                        <div class="dropdown clearable filtres email">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownEmail" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                                E-MAILS
                                            </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuFiltre">
                                                    <a class="dropdownMail1" href="#">
                                                        OPTION1
                                                        <span></span>
                                                    </a>
                                                    <a class="dropdownMail2" href="#">
                                                        OPTION2
                                                        <span>Sent</span>
                                                    </a>
                                                    <a class="dropdownMail3" href="#">
                                                        OPTION3
                                                        <span>Programmed</span>
                                                    </a>
                                                </div>
                                        </div>
                            </div>
                        </div>
                                <div class="row filter2 hours2">
                                         <div class="heure-create">                            
                                                    <div class="dropdown clearable filtres delivrerEmail">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownDelivre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                                            {{"délivrés"|upper}}
                                                        </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuFiltre">
                                                                <a class="dropdownDel3" href="#">
                                                                    {{"délivrés"|upper}}
                                                                    <span>delivred</span>
                                                                </a>
                                                                <a class="dropdownDel1" href="#">
                                                                    {{"envoyés"|upper}}
                                                                    <span>Sent</span>
                                                                </a>
                                                                <a class="dropdownDel2" href="#">
                                                                    {{"ouverts"|upper}}
                                                                    <span>opened</span>
                                                                </a>
                                                                <a class="dropdownDel3" href="#">
                                                                    {{"cliqués"|upper}}
                                                                    <span>clicked</span>
                                                                </a>
                                                                <a class="dropdownDel3" href="#">
                                                                    {{"erreur"|upper}}
                                                                    <span>bounce</span>
                                                                </a>
                                                                <a class="dropdownDel3" href="#">
                                                                    {{"spam"|upper}}
                                                                    <span>spam</span>
                                                                </a>
                                                                <a class="dropdownDel3" href="#">
                                                                    {{"désabo."|upper}}
                                                                    <span>unsub</span>
                                                                </a>
                                                                <a class="dropdownDel3" href="#">
                                                                    {{"bloqués"|upper}}
                                                                    <span>blocked</span>
                                                                </a>
                                                            </div>
                                                    </div>
                                            </div>
                                </div> 
                                <div class="tableDetail ">
                                    <table class="table table-responsive">
                                        <thead>
                                            <th>sujet</th>
                                            <th class="de">de</th>
                                            <th class="a">à</th>
                                            <th class="dateDel">date</th>
                                        </thead>
                                        <tbody id="tableBody1">
                                        {% if fromSend is not empty %}
                                            {% for send in fromSend %}
                                                    <tr>
                                                        <td>{{send["sujet"]}}</td>
                                                        <td class="de">{{send["sender"]}}</td>
                                                            <td class="a">{{send["emailTo"]}}</td>
                                                        <td class="dateDel">{{send["date"]|date('d/m/Y')}}</td>
                                                    </tr>
                                                {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td></td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tableDetail2 ">
                                    <table class="table table-responsive">
                                        <thead>
                                            <th class="headSujet">sujet</th>
                                            <th  class="headDe">de</th>
                                            <th class="headA">à</th>
                                            <th class="headDate">date</th>
                                        </thead>
                                        <tbody id="tableBody2">
                                            
                                        </tbody>
                                    </table>
                                </div> 
                                 <div class="tableDetail3 ">
                                    <table class="table table-responsive">
                                        <thead>
                                            <th class="headSujet3">sujet</th>
                                            <th  class="headDe3">de</th>
                                            <th class="headA3">à</th>
                                            <th class="headDate3">date</th>
                                        </thead>
                                        <tbody id="tableBody3">
                                            
                                        </tbody>
                                    </table>
                                </div> 
                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
                                <button class="btn-valider btn-download">
                                    <span class="download">télécharger la liste au format csv</span>
                                </button>
                            </div>
                           <div class="legende">
                                <div class="legendeEnvoye">
                                  <p id="legendeEnvoye">O</p><p>{{"envoyés"|upper}}</p>
                                </div>
                                <div class="legendeDel">
                                     <p id="legendeDel">O</p><p>{{"délivrés"|upper}}</p>
                                </div>
                                <div class="legendeOuv">
                                    <p id="legendeOuv">O</p><p>{{"ouverts"|upper}}</p>
                                </div>
                                <div class="legendeCli">
                                     <p id="legendeCli">O</p><p>{{"cliqués"|upper}}</p>
                                </div>
                                <div class="legendeDesa">
                                    <p id="legendeDesa">O</p><p>{{"désabo."|upper}} </p>
                                </div>
                                <div class="legendeBlo">
                                    <p id="legendeBlo">O</p><p>{{"bloqués"|upper}} </p>
                                </div>
                                <div class="legendeSpam">
                                    <p id="legendeSpam">O</p><p>{{"spam"|upper}} </p>
                                </div>
                                <div class="legendeErr">
                                     <p id="legendeErr">O</p><p>{{"erreurs"|upper}}</p>
                                </div>
                            <input type="hidden" name="filterPeriode" value="{{path('admin_statistiques_filter')}}">
                            <input type="hidden" name="dataNow" value="{{json}}">
                            </div>
                    </div> 
                </div>
        </section>
    </main>
{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>   
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>                     
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('datepicker/i18n/datepicker-fr.js') }}"></script>
    <script src="{{ asset('js/admin-parameters-contents.js') }}"></script>            
    <script src="{{ asset('chosen/chosen.jquery.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{ asset('js/admin-emailing-campaign.js') }}"></script>  
    <script src="{{asset('js/statistique/admin-emailing-statistik.js')}}"></script>  
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>  
    <script type="text/javascript" src="{{ asset('js/statistique/graph.js')}}"></script>      
        {% endblock %}
    {% endembed %}
{% endblock %}