<div class="col-md-1 float-left col-1 pl-0 pr-0 collapse width show sidebar-container" id="sidebar">
    <div class="sidebar-menu-container list-group border-0 card text-center text-md-left">
        <a href="{{ path("admin_communication_emailing_compaign") }}" class="sidebar-menu list-group-item d-inline-block collapsed {{ (active == 1)?'active':'' }}" data-parent="#sidebar">
            <span class = "img-menu img-emailing"></span>
            <span class = "text-menu">e-mailing</span>
            <span class = "border-left-hover-active">&nbsp;</span>
        </a>
        <a href="{{ path("admin_communication_news") }}" class="sidebar-menu list-group-item d-inline-block collapsed {{ (active == 2)?'active':'' }}" data-parent="#sidebar">
            <span class = "img-menu img-news"></span>
            <span class = "text-menu">fil d'actualité</span>
            <span class = "border-left-hover-active">&nbsp;</span>
        </a>
        {#<a href="{{ path("admin_communication_editorial") }}" class="sidebar-menu list-group-item d-inline-block collapsed {{ (active == 3)?'active':'' }}" data-parent="#sidebar">
            <span class = "img-menu img-editorial"></span>
            <span class = "text-menu">édito</span>
            <span class = "border-left-hover-active">&nbsp;</span>
        </a>#}
        <a href="{{ path("admin_communication_slideshow") }}" class="sidebar-menu list-group-item d-inline-block collapsed {{ (active == 4)?'active':'' }}" data-parent="#sidebar">
            <span class = "img-menu img-slideshow"></span>
            <span class = "text-menu">slideshow</span>
            <span class = "border-left-hover-active">&nbsp;</span>
        </a>
        <a href="{{ path("admin_communication_sondage_quiz") }}" class="sidebar-menu list-group-item d-inline-block collapsed {{ (active == 5)?'active':'' }}" data-parent="#sidebar">
            <span class = "img-menu img-quizz"></span>
            <span class = "text-menu">sondage<br>quiz</span>
            <span class = "border-left-hover-active">&nbsp;</span>
        </a>
        <a href="#" class="sidebar-menu list-group-item d-inline-block collapsed {{ (active == 6)?'active':'' }}" data-parent="#sidebar">
            <span class = "img-menu img-booster"></span>
            <span class = "text-menu">booster</span>
            <span class = "border-left-hover-active">&nbsp;</span>
        </a>
        <a href="#" class="sidebar-menu list-group-item d-inline-block collapsed {{ (active == 7)?'active':'' }}" data-parent="#sidebar">
            <span class = "img-menu img-e-learning"></span>
            <span class = "text-menu">e-learning</span>
            <span class = "border-left-hover-active">&nbsp;</span>
        </a>
        <a href="#" class="sidebar-menu list-group-item d-inline-block collapsed {{ (active == 8)?'active':'' }}" data-parent="#sidebar">
            <span class = "img-menu img-new-page"></span>
            <span class = "text-menu">nouvelle<br>page</span>
            <span class = "border-left-hover-active">&nbsp;</span>
        </a>
    </div>
</div>