{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet">
            <link href="{{ asset("chosen/chosen.css") }}" rel="stylesheet">
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
            <!-- jplist -->
            <link href="{{ asset("jplist/css/jplist.core.min.css") }}">
            <link href="{{ asset("jplist/css/jplist.textbox-filter.min.css") }}">
            <link href="{{ asset("jplist/css/jplist.checkbox-dropdown.min.css") }}">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% if welcoming_news_post_type is defined and true == welcoming_news_post_type %}
    {% set main_sub_menu_label = 'publications d\'accueil' %}
    {% set main_sub_menu_url = path("admin_communication_news", {'post_type_label': constant('WELCOMING', post_type_label_class)}) %}
    {% set main_section_title = 'Création et édition de publications d\'accueil' %}
    {% set main_section_description = 'La publication d\'accueil est une publication qui s\'affichera automatiquement dans le fil d\'actualité du participant lors de sa 1<sup>ère</sup> connexion sur la plateform. C\'est un message d\'accueil sur la plateforme.' %}
    {% set archived_post_path = path('admin_communication_news_archived', {'post_type_label': constant('WELCOMING', post_type_label_class)}) %}
    {% set post_element_icon = asset("images/cloudsRewards/post-auto-icon.png") %}
{% else %}
    {% set main_sub_menu_label = 'publications' %}
    {% set main_sub_menu_url = path("admin_communication_news") %}
    {% set main_section_title = 'Création et édition de publications' %}
    {% set main_section_description = 'Les publications s\'afficheront dans le fil d\'actualité du participant de manière instantanée ou programmée.' %}
    {% set archived_post_path = path('admin_communication_news_archived') %}
    {% set post_element_icon = asset("images/cloudsRewards/post-icon.png") %}
{% endif %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':2})) }}
    <main class="col-md-9  offset-md-1 float-left main">
        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ main_sub_menu_url }}">{{ main_sub_menu_label }} </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription {{ welcoming_news_post_type is defined and true == welcoming_news_post_type ? '' : 'hidden-md-down' }}">
                                <a class="nav-link-niv-3 {{ welcoming_news_post_type is defined and true == welcoming_news_post_type ? 'menu-page' : 'menu-page-active' }}" href="{{ path("admin_communication_news") }}">publications </a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription {{ welcoming_news_post_type is defined and true == welcoming_news_post_type ? 'hidden-md-down' : '' }}">
                                <a class="nav-link-niv-3 {{ welcoming_news_post_type is defined and true == welcoming_news_post_type ? 'menu-page-active' : 'menu-page' }}" href="{{ path("admin_communication_news", {'post_type_label': constant('WELCOMING', post_type_label_class)}) }}">publications d'accueil </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset active main-section">
                    <div class="row">
                        <div class="col-lg-10 col-md-9 col-sm-12">
                            <h3 class="hidden-sm-down block-title">{{ main_section_title }}</h3>
                            <h5 class="hidden-md-up block-title">{{ main_section_title }}</h5>
                            <p>{{ main_section_description | raw }}</p>
                            {% if archived_state is defined and true == archived_state %}
                            <button class="btn-valider restore-news-button" data-target-url="{{ path('admin_communication_news_group_action') }}">réstaurer publication</button>
                            {% else %}
                            <button class="btn-valider create-news-button">créer une nouvelle publication</button>
                            {% endif %}
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="hidden-sm-down corner-circle-img img-post rounded-circle"></div>
                        </div>
                    </div>
                    <div class="row filter news-filter control-panel">
                        <div class="news-name-search-container filter-block-element-container">
                            <input type="text" class="input-search-list news-name-search-input removable-content-input" placeholder="filtrer par nom" data-path=".title" data-control-type="textbox" data-control-name="title-filter" data-control-action="filter">
                            <span class="delete-input" style="display: none;"></span>
                        </div>
                        <div class="send-state-filter-container filter-block-element-container">
                            <div class="jplist-drop-down status-filter-drop-down" data-control-type="filter-drop-down" data-control-name="status-filter" data-control-action="filter">
                                <ul>
                                    <li><span data-path="default">TOUS</span></li>
                                    <li><span data-path=".published">PUBLIÉ</span></li>
                                    {% if welcoming_news_post_type is not defined %}
                                    <li><span data-path=".programmed">PROGRAMMÉ</span></li>
                                    {% endif %}
                                    <li><span data-path=".wait">EN ATTENTE</span></li>
                                </ul>
                            </div>
                            <span class="delete-input" style="display: none;"></span>
                        </div>
                        <div class="archived-element-container filter-block-element-container">
                            <a href="{{ archived_post_path }}" class="archived-elements" data-target-link="{{ path("admin_communication_emailing_compaign_archived") }}">
                                archivées
                            </a>
                        </div>
                    </div>
                    <div class="row filter selected-elements" style="display: none;">
                        <div class="elements-count">
                            <div class="selected-count">
                                <input class="selected-elements-input" type="text" value="post sélectionné" disabled>
                                <span class="delete-input"></span>
                            </div>
                        </div>
                        <div class="selected-elements-button-container">
                            <div class="dropdown-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-selected-element-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default-text="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-selected-element-action">
                                        {% if archived_state is defined and true == archived_state %}
                                            <a class="dropdown-item grouped-action-choice" href="#" data-grouped-action="restore">RESTAURER</a>
                                        {% else %}
                                            <a class="dropdown-item grouped-action-choice" href="#" data-grouped-action="archive">ARCHIVER</a>
                                        {% endif %}
                                        <a class="dropdown-item grouped-action-choice" href="#" data-grouped-action="delete">SUPPRIMER</a>
                                    </div>
                                </div>
                                <span class="delete-input" style="display: none;"></span>
                            </div>
                            <div class="button-container">
                                <button class="btn-valider" data-target-url="{{ path('admin_communication_news_group_action') }}">
                                    valider
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row list news-post-list element-list" id="news-post-list">
                        {% if news_post_list is defined and news_post_list is not empty %}
                            {% for news_post in news_post_list %}
                                {% set post_state_text = '' %}
                                {% set date_prefix = 'le ' %}
                                {% set date = '' %}
                                {% set class= '' %}

                                {% if true == news_post.publishedState %}
                                    {% set post_state_text = 'Publié' %}
                                    {% set date = news_post.publicationDatetime %}
                                    {% set class= 'published' %}
                                {% endif %}
                                {% if true == news_post.programmedInProgressState %}
                                    {% set post_state_text = 'Programmé' %}
                                    {% set date_prefix = 'pour le ' %}
                                    {% set date = news_post.programmedPublicationDatetime %}
                                    {% set class= "programmed" %}
                                {% endif %}
                                {% if false == news_post.programmedInProgressState and false == news_post.publishedState %}
                                    {% set post_state_text = 'En attente' %}
                                    {% set date_prefix = 'modifié le ' %}
                                    {% set date = news_post.homePagePost.lastEdit %}
                                    {% set class= "wait" %}
                                {% endif %}
                        <div class="row news-post-element element {{ class }}" data-status="{{ class }}">
                            <div class="col-12 col-lg-9 post-characteristics-container">
                                <div class="post-data-container">
                                    <div>
                                        <input id="{{ news_post.getId }}" type="checkbox" class="styled-checkbox bigger">
                                        <label for="{{ news_post.getId }}"></label>
                                    </div>
                                    <img src="{{ post_element_icon }}">
                                    <div class="post-infos-container">
                                        <span class="title">{{ news_post.homePagePost.title }}</span>
                                        <span class="date {{ class }}">{{ post_state_text }} - {{ date_prefix }}{{ date is not empty ? date | localizeddate('none', 'none', locale, null, "d MMMM Y 'à' HH:mm") :'' }}</span>
                                    </div>
                                </div>
                                <div class="view-number-container">
                                    <span class="number">{{ news_post.viewNumber }}</span>
                                    <span>vues</span>
                                </div>
                                <div class="viewer-container">
                                    {% set authorization_all = constant('ALL', news_post_authorization_type_class) %}
                                    {% set authorization_by_role = constant('BY_ROLE', news_post_authorization_type_class)  %}
                                    {% set viewer_text = '' %}
                                    {% if authorization_all == news_post.viewerAuthorizationType %}
                                        {% set viewer_text = 'Tous les participants' %}
                                    {% endif %}
                                    {% if news_post.viewerAuthorizationType matches '{^'~authorization_by_role~'_[0-9]+$}' %}
                                        {% set viewer_text = news_post.authorizedViewerRole %}
                                    {% endif %}
                                    <span>{{ viewer_text }}</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 post-actions-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-action">
                                        {% if archived_state is not defined %}
                                        <a class="dropdown-item preview-news-post" href="#" data-target-url="{{ path('admin_communication_news_preview', {'id': news_post.getId}) }}">APERÇU</a>
                                        {% endif %}

                                        {% if archived_state is not defined %}
                                        <a class="dropdown-item edit-news-post" href="#" data-target-url="{{ path('admin_communication_news_edit', {'id': news_post.getId}) }}">ÉDITER</a>
                                        {% endif %}

                                        {% if archived_state is not defined %}
                                        <a class="dropdown-item duplicate-news-post" href="#" data-target-url="{{ path('admin_communication_news_duplicate', {'id': news_post.getId}) }}">DUPLIQUER</a>
                                        {% endif %}

                                        {% if archived_state is not defined %}
                                            {% if true == news_post.publishedState %}
                                        <a class="dropdown-item unpublish-news-post publish-unpublish-news-post" href="#" data-target-url="{{ path('admin_communication_news_unpublish', {'id': news_post.getId}) }}">DÉPUBLIER</a>
                                            {% else %}
                                        <a class="dropdown-item publish-news-post publish-unpublish-news-post" href="#" data-target-url="{{ path('admin_communication_news_publish', {'id': news_post.getId}) }}">PUBLIER</a>
                                            {% endif %}
                                        {% endif %}

                                        {% if archived_state is defined and true == archived_state %}
                                        <a class="dropdown-item restore-news-post" href="#" data-target-url="{{ path('admin_communication_news_restore', {'id': news_post.getId}) }}">RESTAURER</a>
                                        {% else %}
                                        <a class="dropdown-item archive-news-post" href="#" data-target-url="{{ path('admin_communication_news_archive', {'id': news_post.getId}) }}">ARCHIVER</a>
                                        {% endif %}

                                        <a class="dropdown-item delete-news-post" href="#" data-target-url="{{ path('admin_communication_news_delete', {'id': news_post.getId}) }}">SUPPRIMER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="jplist-no-results hidden-block">
                        <p>Aucun résultat</p>
                    </div>
                    <div class="control-panel pagination-container">
                        <div class="jplist-pagination" data-control-type="pagination" data-control-name="paging" data-control-action="paging" data-items-per-page="5" data-first="premier" data-last="dernier"></div>
                    </div>

                    {#<div class="pagination-container">
                        <ul class="post-pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li class="last"><a href="#">dernier</a></li>
                        </ul>
                    </div>#}

                    <!-- Modal créer / éditer actu -->
                    <div id="create-edit-news-modal" class="app-dialog modal" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg semi-large-fixed" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - Modal créer / éditer actu-->

                    <!-- modal - duplication actu -->
                    <div id="duplicate-news-modal" class="modal app-dialog duplication-dialog" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close" style="display: none"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container"></div>
                                </div>
                                <input type="hidden" name="template_id" value="">
                            </div>
                        </div>
                    </div>
                    <!-- modal - duplication actu -->

                    <!-- modal - confirmation suppression actu -->
                    <div id="confirm-delete-news-modal" class="modal confirm-delete-dialog" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body-container">
                                        <div class="text-container">
                                            <span class="confirm-dialog-title">Suppression</span>
                                            <p class="message">Êtes-vous sûr de vouloir supprimer définitivement cette publication ?</p>
                                        </div>
                                        <div>
                                            <button class ="btn-valider confirm-delete">
                                                valider
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="template_id" value="">
                            </div>
                        </div>
                    </div>
                    <!-- FIN - modal - confirmation suppression actu -->

                    <!-- modal - prévisualisation post -->
                    <div id="preview-news-modal" class="app-dialog modal" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - modal - prévisualisation post -->

                    <!-- modal - prévisualisation instantanée post -->
                    <div id="instantaneous-preview-news-modal" class="app-dialog modal" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                        <div class = "content-edito">
                                            <p class = "block-active-hover"></p>
                                            <p class = "titre-block-centre">
                                                <span class = "lib-titre-block-centre light">[titre]</span>
                                                <span class = "lib-date-block-centre regular">[date]</span>
                                                <span class = "lib-date-block-centre-large bold">{#Loren ipsum dolor sit amet, consectetur adipiscing elit#}</span>
                                            </p>
                                            <p class = "img-titre-block-centre hidden-xs-down">
                                                <img src = "{{ asset('bundles/beneficiary/images/cloudsRewards/edito.png') }}" width = "107" height = "107" class = "img-fluid">
                                            </p>
                                            <div class = "descr-block-centre">
                                                [contenu]
                                            </div>
                                            <div class="button-container" style="display: none;">
                                                <a class="action-button-preview" href="#" target="_blank" style=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - modal - prévisualisation instantanée post -->
                </section>
            </div>
        </div>
        <p class = "chargementAjax hidden">
            <img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
        </p>
    </main>

    <input type="hidden" name="ckeditor_config_general_path" value="{{ asset('ckeditor/custom/config-general.js') }}">
    <input type="hidden" name="create_news_post_url" value="{{ path('admin_communication_news_create') }}">
    <input type="hidden" name="submission_type_save" value="{{ constant('SAVE', news_post_submission_type_class) }}">
    <input type="hidden" name="submission_type_publish" value="{{ constant('PUBLISH', news_post_submission_type_class) }}">
    <input type="hidden" name="create_news_post_url" value="{{ path('admin_communication_news_create') }}">
    <input type="hidden" name="news_post_list_url" value="{{ path('admin_communication_news') }}">
    <input type="hidden" name="welcoming_news_post_list_url" value="{{ path('admin_communication_news', {'post_type_label': constant('WELCOMING', post_type_label_class)}) }}">
    <input type="hidden" name="archived_news_post_list_url" value="{{ path('admin_communication_news_archived') }}">
    <input type="hidden" name="archived_welcoming_news_post_list_url" value="{{ path('admin_communication_news_archived', {'post_type_label': constant('WELCOMING', post_type_label_class)}) }}">
    <input type="hidden" name="standard_post_type_label" value="{{ constant('STANDARD', post_type_label_class) }}">
    <input type="hidden" name="welcoming_post_type_label" value="{{ constant('WELCOMING', post_type_label_class) }}">

    {% if archived_state is defined and true == archived_state %}
    <input type="hidden" name="archived_state" value="true">
    {% endif %}

    {% if welcoming_news_post_type is defined and true == welcoming_news_post_type %}
    <input type="hidden" name="welcoming_news_post_type" value="true">
    {% endif %}

{% endblock %}
{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
            <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('datepicker/i18n/datepicker-fr.js') }}"></script>
            <script src="{{ asset('chosen/chosen.jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap-multimodal/multimodal.min.js') }}"></script>
            <!-- jplist library -->
            <script src="{{ asset('jplist/js/jplist.core.min.js') }}"></script>
            <script src="{{ asset('jplist/js/jplist.sort-bundle.min.js') }}"></script>
            <script src="{{ asset('jplist/js/jplist.pagination-bundle.min.js') }}"></script>
            <script src="{{ asset('jplist/js/jplist.textbox-filter.min.js') }}"></script>
            <script src="{{ asset('jplist/js/jplist.filter-dropdown-bundle.min.js') }}"></script>
            <script src="{{ asset("js/admin-communication-news.js") }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}