{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet">
            <link href="{{ asset("chosen/chosen.css") }}" rel="stylesheet">
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':2})) }}
    <main class="col-md-9  offset-md-1 float-left main">
        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <div class="navbar" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3 single">
                            <li class="nav-item-niv-3 single form-inscription">
                                <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_news") }}">actualités </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset active">
                    <div class="row">
                        <div class="col-lg-10 col-md-9 col-sm-12">
                            <h3 class="hidden-sm-down block-title">Création / édition d'un post</h3>
                            <h5 class="hidden-md-up block-title">Création / édition d'un post</h5>
                            <p>celui-ci apparaîtra dans le fil d'actualité sur la homepage à date  de création</p>
                            <button class="btn-valider create-news-button">créer une actualité</button>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="hidden-sm-down corner-circle-img img-post rounded-circle"></div>
                        </div>
                    </div>
                    <div class="row filter news-filter">
                        <div class="news-name-search-container filter-block-element-container">
                            <input class="input-search-list news-name-search-input" placeholder="filtrer par nom">
                        </div>
                        <div class="send-state-filter-container filter-block-element-container">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-send-state-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    FILTRER PAR
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdown-send-state-filter">
                                    <a class="dropdown-item" href="#">TOUS</a>
                                    <a class="dropdown-item" href="#">PUBLIÉ</a>
                                    <a class="dropdown-item" href="#">PROGRAMMÉ</a>
                                    <a class="dropdown-item" href="#">EN ATTENTE</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-type-filter-container filter-block-element-container">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-post-type-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    TYPE DE POST
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdown-post-type-filter">
                                    <a class="dropdown-item" href="#">TOUS</a>
                                    <a class="dropdown-item" href="#">POST CLASSIQUE</a>
                                    <a class="dropdown-item" href="#">POST AUTOMATIQUE</a>
                                </div>
                            </div>
                        </div>
                        <div class="archived-element-container filter-block-element-container">
                            <a href="#" class="archived-elements" data-target-link="{{ path("admin_communication_emailing_compaign_archived") }}">
                                archivées
                            </a>
                        </div>
                    </div>
                    {#<div class="row filter selected-elements">
                        <div class="elements-count">
                            <div class="selected-count">
                                <input class="selected-elements-input" type="text" value="post sélectionné" disabled>
                                <span class="delete-input"></span>
                            </div>
                        </div>
                        <div class="selected-elements-button-container">
                            <div class="post-archive">
                                <button class="btn-valider btn btn-primary selected-elements-button">
                                    archiver
                                </button>
                            </div>
                            <div class="post-delete">
                                <button class="btn-valider btn btn-primary selected-elements-button">
                                    supprimer
                                </button>
                            </div>
                        </div>
                    </div>#}
                    <div class="row list news-post-list" id="news-post-list">
                        {% if news_post_list is defined and news_post_list is not empty %}
                            {% for news_post in news_post_list %}
                        <div class="row news-post-element">
                            <div class="col-12 col-lg-9 post-characteristics-container">
                                <div class="post-data-container">
                                    <div>
                                        <input id="{{ news_post.getId }}" type="checkbox" class="styled-checkbox bigger">
                                        <label for="{{ news_post.getId }}"></label>
                                    </div>
                                    <img src="{{ asset("images/cloudsRewards/post-icon.png") }}">
                                    <div class="post-infos-container">
                                        <span class="title">{{ news_post.homePagePost.title }}</span>
                                        {% set post_state_text = '' %}
                                        {% set date_prefix = 'le ' %}
                                        {% set date = '' %}
                                        {% set class= '' %}

                                        {% if true == news_post.publishedState %}
                                            {% set post_state_text = 'Publié' %}
                                            {% set date = news_post.publicationDatetime %}
                                            {% set class= 'published' %}
                                        {% endif %}
                                        {% if true == news_post.programmedInProgressState %}
                                            {% set post_state_text = 'Programmé' %}
                                            {% set date_prefix = 'pour le ' %}
                                            {% set date = news_post.programmedPublicationDatetime %}
                                            {% set class= "programmed" %}
                                        {% endif %}
                                        {% if false == news_post.programmedInProgressState and false == news_post.publishedState %}
                                            {% set post_state_text = 'En attente' %}
                                            {% set date_prefix = 'modifié le ' %}
                                            {% set date = news_post.homePagePost.lastEdit %}
                                            {% set class= "wait" %}
                                        {% endif %}
                                        <span class="date {{ class }}">{{ post_state_text }} - {{ date_prefix }}{{ date | localizeddate('none', 'none', locale, null, "d MMMM Y 'à' HH:mm") }}</span>
                                    </div>
                                </div>
                                <div class="view-number-container">
                                    <span class="number">{{ news_post.viewNumber }}</span>
                                    <span>vues</span>
                                </div>
                                <div class="viewer-container">
                                    {% set authorization_all = constant('ALL', news_post_authorization_type_class) %}
                                    {% set authorization_by_role = constant('BY_ROLE', news_post_authorization_type_class)  %}
                                    {% set viewer_text = '' %}
                                    {% if authorization_all == news_post.viewerAuthorizationType %}
                                        {% set viewer_text = 'Tous les participants' %}
                                    {% endif %}
                                    {% if news_post.viewerAuthorizationType matches '{^'~authorization_by_role~'_[0-9]+$}' %}
                                        {% set viewer_text = news_post.authorizedViewerRole %}
                                    {% endif %}
                                    <span>{{ viewer_text }}</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 post-actions-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-action">
                                        <a class="dropdown-item" href="#">APERÇU</a>
                                        <a class="dropdown-item" href="#">ÉDITER</a>
                                        <a class="dropdown-item" href="#">DUPLIQUER</a>
                                        {% if true == news_post.publishedState %}
                                        <a class="dropdown-item" href="#">DÉPUBLIER</a>
                                        {% else %}
                                        <a class="dropdown-item" href="#">PUBLIER</a>
                                        {% endif %}
                                        <a class="dropdown-item" href="#">ARCHIVER</a>
                                        <a class="dropdown-item" href="#">SUPPRIMER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endfor %}
                        {% endif %}
                        {#<div class="row">
                            <div class="col-12 col-lg-9 post-characteristics-container">
                                <div class="post-data-container">
                                    <div>
                                        <input id="post-checkbox-1" type="checkbox" class="styled-checkbox bigger">
                                        <label for="post-checkbox-1"></label>
                                    </div>
                                    <img src="{{ asset("images/cloudsRewards/post-icon.png") }}">
                                    <div class="post-infos-container">
                                        <span class="title">Bonjour Bienvenue</span>
                                        <span class="date published">Publié - le 02 février 2018 à 14:44</span>
                                    </div>
                                </div>
                                <div class="view-number-container">
                                    <span class="number">10</span>
                                    <span>vues</span>
                                </div>
                                <div class="viewer-container">
                                    <span>Tous les participants</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 post-actions-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-action">
                                        <a class="dropdown-item" href="#">APERÇU</a>
                                        <a class="dropdown-item" href="#">ÉDITER</a>
                                        <a class="dropdown-item" href="#">DUPLIQUER</a>
                                        <a class="dropdown-item" href="#">DÉPUBLIER</a>
                                        <a class="dropdown-item" href="#">ARCHIVER</a>
                                        <a class="dropdown-item" href="#">SUPPRIMER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-9 post-characteristics-container">
                                <div class="post-data-container">
                                    <div>
                                        <input id="post-checkbox-2" type="checkbox" class="styled-checkbox bigger">
                                        <label for="post-checkbox-2"></label>
                                    </div>
                                    <img src="{{ asset("images/cloudsRewards/post-icon.png") }}">
                                    <div class="post-infos-container">
                                        <span class="title">Actualité 1</span>
                                        <span class="date programmed">Programmé - pour le 28 février 2018 à 14:44</span>
                                    </div>
                                </div>
                                <div class="view-number-container">
                                    <span class="number">0</span>
                                    <span>vues</span>
                                </div>
                                <div class="viewer-container">
                                    <span>Directeur commercial</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 post-actions-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-action">
                                        <a class="dropdown-item" href="#">APERÇU</a>
                                        <a class="dropdown-item" href="#">ÉDITER</a>
                                        <a class="dropdown-item" href="#">DUPLIQUER</a>
                                        <a class="dropdown-item" href="#">DEPUBLIER</a>
                                        <a class="dropdown-item" href="#">ARCHIVER</a>
                                        <a class="dropdown-item" href="#">SUPPRIMER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-9 post-characteristics-container">
                                <div class="post-data-container">
                                    <div>
                                        <input id="post-checkbox-3" type="checkbox" class="styled-checkbox bigger">
                                        <label for="post-checkbox-3"></label>
                                    </div>
                                    <img src="{{ asset("images/cloudsRewards/post-icon.png") }}">
                                    <div class="post-infos-container">
                                        <span class="title">Actualité 2</span>
                                        <span class="date">En attente - modifié le 01 février 2018 à 14:44</span>
                                    </div>
                                </div>
                                <div class="view-number-container">
                                    <span class="number">0</span>
                                    <span>vues</span>
                                </div>
                                <div class="viewer-container">
                                    <span>Commercial</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 post-actions-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-action">
                                        <a class="dropdown-item" href="#">APERÇU</a>
                                        <a class="dropdown-item" href="#">ÉDITER</a>
                                        <a class="dropdown-item" href="#">DUPLIQUER</a>
                                        <a class="dropdown-item" href="#">PUBLIER</a>
                                        <a class="dropdown-item" href="#">ARCHIVER</a>
                                        <a class="dropdown-item" href="#">SUPPRIMER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-9 post-characteristics-container">
                                <div class="post-data-container">
                                    <div>
                                        <input id="post-checkbox-4" type="checkbox" class="styled-checkbox bigger">
                                        <label for="post-checkbox-4"></label>
                                    </div>
                                    <img src="{{ asset("images/cloudsRewards/post-auto-icon.png") }}">
                                    <div class="post-infos-container">
                                        <span class="title">Edito commercial</span>
                                        <span class="date published">Publié - le le 01 février 2018 à 14:44</span>
                                    </div>
                                </div>
                                <div class="view-number-container">
                                    <span class="number">5</span>
                                    <span>vues</span>
                                </div>
                                <div class="viewer-container">
                                    <span>Commercial</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 post-actions-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-action">
                                        <a class="dropdown-item" href="#">APERÇU</a>
                                        <a class="dropdown-item" href="#">ÉDITER</a>
                                        <a class="dropdown-item" href="#">DÉPUBLIER</a>
                                    </div>
                                </div>
                            </div>
                        </div>#}
                    </div>
                    {#<div class="pagination-container">
                        <ul class="post-pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li class="last"><a href="#">dernier</a></li>
                        </ul>
                    </div>#}
                    <div class="pagination-container">
                    </div>

                    <!-- Modal créer / éditer actu -->
                    <div id="create-edit-news-modal" class="app-dialog modal" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg semi-large-fixed" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - Modal créer / éditer actu-->
                </section>
            </div>
        </div>
        <p class = "chargementAjax hidden">
            <img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
        </p>
    </main>

    <input type="hidden" name="ckeditor_config_general_path" value="{{ asset('ckeditor/custom/config-general.js') }}">
    <input type="hidden" name="create_news_post_url" value="{{ path('admin_communication_news_create') }}">
    <input type="hidden" name="submission_type_save" value="{{ constant('SAVE', news_post_submission_type_class) }}">
    <input type="hidden" name="submission_type_publish" value="{{ constant('PUBLISH', news_post_submission_type_class) }}">
    <input type="hidden" name="create_news_post_url" value="{{ path('admin_communication_news_create') }}">
    <input type="hidden" name="news_post_list_url" value="{{ path('admin_communication_news') }}">

{% endblock %}
{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
            <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('datepicker/i18n/datepicker-fr.js') }}"></script>
            <script src="{{ asset('chosen/chosen.jquery.js') }}"></script>
            <script src="{{ asset('js/jquery-paginate/jquery-paginate.min.js') }}"></script>
            <script src="{{ asset("js/admin-communication-news.js") }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}