{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet">
            <link href="{{ asset("chosen/chosen.css") }}" rel="stylesheet">
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':2})) }}
    <main class="col-md-9  offset-md-1 float-left main">
        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <div class="navbar" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3 single">
                            <li class="nav-item-niv-3 single form-inscription">
                                <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_news") }}">actualités </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset active">
                    <div class="row">
                        <div class="col-lg-10 col-md-9 col-sm-12">
                            <h3 class="hidden-sm-down block-title">Création / édition d'un post</h3>
                            <h5 class="hidden-md-up block-title">Création / édition d'un post</h5>
                            <p>celui-ci apparaîtra dans le fil d'actualité sur la homepage à date  de création</p>
                            <button class="btn-valider create-news-button">créer une actualité</button>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="hidden-sm-down corner-circle-img img-post rounded-circle"></div>
                        </div>
                    </div>
                    <div class="row filter news-filter">
                        <div class="news-name-search-container filter-block-element-container">
                            <input class="input-search-list news-name-search-input" placeholder="filtrer par nom">
                        </div>
                        <div class="send-state-filter-container filter-block-element-container">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-send-state-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    FILTRER PAR
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdown-send-state-filter">
                                    <a class="dropdown-item" href="#">TOUS</a>
                                    <a class="dropdown-item" href="#">PUBLIÉ</a>
                                    <a class="dropdown-item" href="#">PROGRAMMÉ</a>
                                    <a class="dropdown-item" href="#">EN ATTENTE</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-type-filter-container filter-block-element-container">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-post-type-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    TYPE DE POST
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdown-post-type-filter">
                                    <a class="dropdown-item" href="#">TOUS</a>
                                    <a class="dropdown-item" href="#">POST CLASSIQUE</a>
                                    <a class="dropdown-item" href="#">POST AUTOMATIQUE</a>
                                </div>
                            </div>
                        </div>
                        <div class="archived-element-container filter-block-element-container">
                            <a href="#" class="archived-elements" data-target-link="{{ path("admin_communication_emailing_compaign_archived") }}">
                                archivées
                            </a>
                        </div>
                    </div>
                    <div class="row filter selected-elements">
                        <div class="elements-count">
                            <div class="selected-count">
                                <input class="selected-elements-input" type="text" value="post sélectionné" disabled>
                                <span class="delete-input"></span>
                            </div>
                        </div>
                        <div class="selected-elements-button-container">
                            <div class="post-archive">
                                <button class="btn-valider btn btn-primary selected-elements-button">
                                    archiver
                                </button>
                            </div>
                            <div class="post-delete">
                                <button class="btn-valider btn btn-primary selected-elements-button">
                                    supprimer
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row list">
                        <div class="row">
                            <div class="col-12 col-lg-9 post-characteristics-container">
                                <div class="post-data-container">
                                    <div>
                                        <input id="post-checkbox-1" type="checkbox" class="styled-checkbox bigger">
                                        <label for="post-checkbox-1"></label>
                                    </div>
                                    <img src="{{ asset("images/cloudsRewards/post-icon.png") }}">
                                    <div class="post-infos-container">
                                        <span class="title">Bonjour Bienvenue</span>
                                        <span class="date published">Publié - le 02 février 2018 à 14:44</span>
                                    </div>
                                </div>
                                <div class="view-number-container">
                                    <span class="number">10</span>
                                    <span>vues</span>
                                </div>
                                <div class="viewer-container">
                                    <span>Tous les participants</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 post-actions-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-action">
                                        <a class="dropdown-item" href="#">APERÇU</a>
                                        <a class="dropdown-item" href="#">ÉDITER</a>
                                        <a class="dropdown-item" href="#">DUPLIQUER</a>
                                        <a class="dropdown-item" href="#">DÉPUBLIER</a>
                                        <a class="dropdown-item" href="#">ARCHIVER</a>
                                        <a class="dropdown-item" href="#">SUPPRIMER</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-9 post-characteristics-container">
                                <div class="post-data-container">
                                    <div>
                                        <input id="post-checkbox-2" type="checkbox" class="styled-checkbox bigger">
                                        <label for="post-checkbox-2"></label>
                                    </div>
                                    <img src="{{ asset("images/cloudsRewards/post-icon.png") }}">
                                    <div class="post-infos-container">
                                        <span class="title">Actualité 1</span>
                                        <span class="date programmed">Programmé - pour le 28 février 2018 à 14:44</span>
                                    </div>
                                </div>
                                <div class="view-number-container">
                                    <span class="number">0</span>
                                    <span>vues</span>
                                </div>
                                <div class="viewer-container">
                                    <span>Directeur commercial</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 post-actions-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-action">
                                        <a class="dropdown-item" href="#">APERÇU</a>
                                        <a class="dropdown-item" href="#">ÉDITER</a>
                                        <a class="dropdown-item" href="#">DUPLIQUER</a>
                                        <a class="dropdown-item" href="#">DEPUBLIER</a>
                                        <a class="dropdown-item" href="#">ARCHIVER</a>
                                        <a class="dropdown-item" href="#">SUPPRIMER</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-9 post-characteristics-container">
                                <div class="post-data-container">
                                    <div>
                                        <input id="post-checkbox-3" type="checkbox" class="styled-checkbox bigger">
                                        <label for="post-checkbox-3"></label>
                                    </div>
                                    <img src="{{ asset("images/cloudsRewards/post-icon.png") }}">
                                    <div class="post-infos-container">
                                        <span class="title">Actualité 2</span>
                                        <span class="date">En attente - modifié le 01 février 2018 à 14:44</span>
                                    </div>
                                </div>
                                <div class="view-number-container">
                                    <span class="number">0</span>
                                    <span>vues</span>
                                </div>
                                <div class="viewer-container">
                                    <span>Commercial</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 post-actions-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-action">
                                        <a class="dropdown-item" href="#">APERÇU</a>
                                        <a class="dropdown-item" href="#">ÉDITER</a>
                                        <a class="dropdown-item" href="#">DUPLIQUER</a>
                                        <a class="dropdown-item" href="#">PUBLIER</a>
                                        <a class="dropdown-item" href="#">ARCHIVER</a>
                                        <a class="dropdown-item" href="#">SUPPRIMER</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-9 post-characteristics-container">
                                <div class="post-data-container">
                                    <div>
                                        <input id="post-checkbox-4" type="checkbox" class="styled-checkbox bigger">
                                        <label for="post-checkbox-4"></label>
                                    </div>
                                    <img src="{{ asset("images/cloudsRewards/post-auto-icon.png") }}">
                                    <div class="post-infos-container">
                                        <span class="title">Edito commercial</span>
                                        <span class="date published">Publié - le le 01 février 2018 à 14:44</span>
                                    </div>
                                </div>
                                <div class="view-number-container">
                                    <span class="number">5</span>
                                    <span>vues</span>
                                </div>
                                <div class="viewer-container">
                                    <span>Commercial</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 post-actions-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-action">
                                        <a class="dropdown-item" href="#">APERÇU</a>
                                        <a class="dropdown-item" href="#">ÉDITER</a>
                                        <a class="dropdown-item" href="#">DÉPUBLIER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-container">
                        <ul class="post-pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li class="last"><a href="#">dernier</a></li>
                        </ul>
                    </div>

                    <!-- Modal créer / éditer actu -->
                    <div id="create-edit-news-modal" class="app-dialog modal" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg semi-large-fixed" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                        <span class="modal-body-title">Edition d'un nouveau post</span>
                                        <div class="preview-news-button-container">
                                            <span class="preview-news-button">voir le post</span>
                                        </div>
                                        <div class="preview-news-button-container">
                                            <span class="preview-news-button active">voir le post</span>
                                        </div>
                                        <div class="form-row">
                                            <label>titre</label>
                                            <input type="text" class="large-input-text removable-content-input">
                                            <span class="delete-input" style="display: none;"></span>
                                        </div>
                                        <div class="form-row vertical">
                                            <label>texte</label>
                                            <textarea class="large-textarea" id="news-text"></textarea>
                                        </div>
                                        <div class="action-button-container">
                                            <a class="add">ajouter un bouton d'action</a>
                                        </div>
                                        <div class="action-button-block-container">
                                            <div class="block-title">
                                                <span>bouton d'action</span>
                                                <span class="delete-block"></span>
                                            </div>
                                            <div class="form-row vertical-centered">
                                                <label class="fixed-width">texte du bouton</label>
                                                <input type="text" value="mon bouton d'action" class="removable-content-input action-button-input semi-large">
                                                <span class="delete-input" {#style="display: none;"#}></span>
                                            </div>
                                            <div class="form-row vertical-xs">
                                                <label>aspect du bouton</label>
                                                <div class="vertical-xs">
                                                    <div class="action-button-color-option">
                                                        <span class="option-title">Couleur</span>
                                                        <input type="text" class="color-value">
                                                    </div>
                                                    <div class="action-button-color-option">
                                                        <span class="option-title">Couleur du texte</span>
                                                        <input type="text" class="color-value">
                                                    </div>
                                                </div>
                                                <div class="action-button-preview">
                                                    mon bouton d'action
                                                </div>
                                            </div>
                                            <span class="form-row-group-title">lien de redirection du bouton d'action</span>
                                            <div class="form-row vertical-centered">
                                                <label class="fixed-width">renseigner une url</label>
                                                <input type="text" value="https://monliennderedirection.com/challenge" class="removable-content-input action-button-input large">
                                                <span class="delete-input" {#style="display: none;"#}></span>
                                            </div>
                                            <div class="form-row vertical-xs">
                                                <label>ou chercher une page du site</label>
                                                <div>
                                                    <div class="dropdown">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action-button-page-target" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            POINTER SUR
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdown-action-button-page-target">
                                                            <a class="dropdown-item" href="#">OPTION</a>
                                                            <a class="dropdown-item" href="#">OPTION</a>
                                                            <a class="dropdown-item" href="#">OPTION</a>
                                                        </div>
                                                        <span class="delete-input delete-selection"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <label>qui verra ce post?</label>
                                            <div>
                                                <div class="dropdown post-viewer-dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-news-viewer-group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        TOUS LES PARTICIPANTS
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdown-news-viewer-group">
                                                        <a class="dropdown-item" href="#">TOUS LES PARTICIPANTS</a>
                                                        <a class="dropdown-item" href="#">COMMERCIAL</a>
                                                        <a class="dropdown-item" href="#">DIRECTEUR COMMERCIAL</a>
                                                        <a class="dropdown-item" href="#" class="customize-viewer">PERSONNALISER</a>
                                                    </div>
                                                    <span class="delete-input delete-selection"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-viewer-selection-wrapper">
                                            <div class="post-viewer-selection-container">
                                                <span class="title">sélectionnez les contacts qui verront ce post</span>
                                                <div class="post-viewer-filter-container">
                                                    <div class="post-viewer-number-container">
                                                        <span>nombre de contacts sélectionnés : </span>
                                                        <input type="text" value="02">
                                                    </div>
                                                    <div class="post-viewer-data-search-container">
                                                        <input type="text" class="input-search-list" placeholder="recherche par nom, prénom, e-mail...">
                                                    </div>
                                                    <div class="post-viewer-list-filter-container">
                                                        <div class="dropdown">
                                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-post-viewer-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                FILTRER PAR
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdown-post-viewer-filter">
                                                                <a class="dropdown-item" href="#">OPTION</a>
                                                                <a class="dropdown-item" href="#">OPTION</a>
                                                                <a class="dropdown-item" href="#">OPTION</a>
                                                                <a class="dropdown-item" href="#">OPTION</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-viewer-table-container">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <input id="check-all" type="checkbox" class="styled-checkbox">
                                                                    <label for="check-all"></label>
                                                                </th>
                                                                <th class="post-viewer-data-head">prénom</th>
                                                                <th class="post-viewer-data-head">nom</th>
                                                                <th class="post-viewer-data-head">adresse e-mail</th>
                                                                <th class="post-viewer-data-head">rôle</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <input id="viewer-1" type="checkbox" class="styled-checkbox">
                                                                    <label for="viewer-1"></label>
                                                                </td>
                                                                <td>Martin</td>
                                                                <td>Bourdais</td>
                                                                <td>martin_bourdais@gmail.com</td>
                                                                <td>commercial</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input id="viewer-2" type="checkbox" class="styled-checkbox">
                                                                    <label for="viewer-2"></label>
                                                                </td>
                                                                <td>Martin</td>
                                                                <td>Bourdais</td>
                                                                <td>martin_bourdais@gmail.com</td>
                                                                <td>commercial</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input id="viewer-3" type="checkbox" class="styled-checkbox">
                                                                    <label for="viewer-3"></label>
                                                                </td>
                                                                <td>Martin</td>
                                                                <td>Bourdais</td>
                                                                <td>martin_bourdais@gmail.com</td>
                                                                <td>commercial</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="button-container">
                                                        <button class="btn-valider">valider les contacts</button>
                                                    </div>
                                                    <div class="pagination-container">
                                                        <ul class="post-pagination">
                                                            <li class="active"><a href="#">1</a></li>
                                                            <li><a href="#">2</a></li>
                                                            <li><a href="#">3</a></li>
                                                            <li><a href="#">4</a></li>
                                                            <li class="last"><a href="#">dernier</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="publish-program-container">
                                            <div class="programmed-state-container">
                                                <input type="radio" id="send-now" class="styled-radio-2 programmed-state-input" name="news_program_state" checked data-programmed-value="false">
                                                <label for="send-now"></label>
                                                <label for="send-now" class="text-label">publier maintenant</label>
                                            </div>
                                            <div>
                                                <div class="programmed-state-container">
                                                    <input type="radio" id="programmed" class="styled-radio-2 programmed-state-input" name="news_program_state" data-programmed-value="true">
                                                    <label for="programmed"></label>
                                                    <label for="programmed" class="text-label">programmer la publication</label>
                                                </div>
                                                <div class="select-date">
                                                    <p>choisissez le jour</p>
                                                    <div>
                                                        <input type="text" class="post-launch-date">
                                                        <div id="calendar"></div>
                                                    </div>
                                                    <p>et l'heure</p>
                                                    <div>
                                                        <select class="chosen-select">
                                                            <option>00</option>
                                                            <option>01</option>
                                                            <option>02</option>
                                                            <option>03</option>
                                                            <option>...</option>
                                                        </select>
                                                        <span class="between-hour">:</span>
                                                        <select class="chosen-select">
                                                            <option>00</option>
                                                            <option>01</option>
                                                            <option>02</option>
                                                            <option>03</option>
                                                            <option>...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="submit-block-container">
                                            <button class="btn-valider first-button">enregistrer</button>
                                            <button class="btn-valider second-button">publier</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - Modal créer / éditer actu-->
                </section>
            </div>
        </div>
    </main>

    <input type="hidden" name="ckeditor_config_general_path" value="{{ asset('ckeditor/custom/config-general.js') }}">


{% endblock %}
{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('datepicker/i18n/datepicker-fr.js') }}"></script>
            <script src="{{ asset('chosen/chosen.jquery.js') }}"></script>
            <script src="{{ asset("js/admin-communication-news.js") }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}