{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
			<link href="{{ asset("css/communications/sondages-quiz.css") }}" rel="stylesheet">
            <link href="{{ asset("css/communications/pre-sondages.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':5})) }}

    <main class="col-md-9  offset-md-1 float-left main">

        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="#">sondages / quiz</a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="#">sondages / quiz</a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">bannière d'accueil</a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <section  class = "fieldset active">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-12">
                             <h3 class="hidden-sm-down block-title">Création et édition de sondage et quiz</h3>
                             <p class = "descr-sondage-quiz">Un onglet sondage / quiz sera ajpouté à votre menu.</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                        <div class="hidden-sm-down corner-circle-img img-content-sondanges-quiz rounded-circle"></div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 creer-new">
                                <div class="chp" style="text-align:center; float:left;">
                                    <button class="btn-valider create_sondage_quiz" name = "btn-submit-form-etape-1" type = "submit">
                                            créer un nouveau sondage / quiz
                                    </button>
                                </div>
                        </div>
                    </div>
                    <div class="row trie-sondage preSondageQuiz"> 
                            <div class="col-sm-4 col-md-4">
                                <div class="dropdown clearable filtres all-filter quiz-filter">
                                        <button class="btn btn-secondary dropdown-toggle filtre" type="button" id="dropdownMenuFiltre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                            FILTRER PAR 
                                        </button>
                                        <div class="dropdown-menu quiz-menu" aria-labelledby="dropdownMenuFiltre">
                                            <a class="dropdown-item programmed-item" href="#">
                                                TOUS
                                                <span>tous</span>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                {{"publié"|upper}}
                                                <span>publie</span>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                EN ATTENTE
                                                <span>attente</span>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                 {{"clôturé"|upper}}
                                                <span>cloture</span>
                                            </a>
                                        </div>
                                    </div>
                            </div>                               
                            <div class="col-sm-5 col-md-5">
                                    <div class="dropdown clearable all-filter questionnaires quest-filter">
                                        <button class="btn btn-secondary dropdown-toggle quest" type="button" id="dropdownTypeFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                            TYPE DE QUESTIONNAIRE
                                        </button>
                                        <div class="dropdown-menu quest-menu" aria-labelledby="dropdownTypeFilter">
                                            <a class="dropdown-item tous-menu" href="#">
                                                TOUS
                                                <span>All</span>
                                            </a>
                                            <a class="dropdown-item quest-menu sondage-menu" href="#">
                                                SONDAGE
                                                <span>sondage</span>
                                            </a>
                                            <a class="dropdown-item quest-menu quiz-menu" href="#">
                                                QUIZ
                                                <span>quiz</span>
                                            </a>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                            <a href="{{path("admin_communication_pre_sondage_news_archived")}}" class="add add-folder-link add-to-archive archived-campaign" 
                            data-link="">
                                    archivées
                                </a>
                            </div>
                        </div>
                        <div class="row checked-quiz">
                            <div class="col-4 col-md-4 text-selected ">
                                <input type="text" name="sondage-selected" class="input-text sondage-selected">
                                <span class="delete-supp1"></span>
                            </div>
                            <div class="col-4 col-md-4 supp-supp">
                                <div class="dropdown clearable all-filter questionnaires suppr-filter">
                                        <button class="btn btn-secondary dropdown-toggle suppr" type="button" id="dropdownTypeFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="FILTRES">
                                            SUPPRIMER
                                        </button>
                                        <div class="dropdown-menu suppr-menu" aria-labelledby="dropdownTypeFilter">
                                            <a class="dropdown-item suppr-menu" href="#">
                                                SUPPRIMER
                                                <span>supp</span>
                                            </a>
                                            <a class="dropdown-item suppr-menu" href="#">
                                                SONDAGE
                                                <span>sondage</span>
                                            </a>
                                            <a class="dropdown-item suppr-menu" href="#">
                                                QUIZ
                                                <span>quiz</span>
                                            </a>
                                        </div>
                                    </div>
                                     <span class="delete-supp"></span>
                            </div>
                            <div class="col-4 col-md-4 btn-supp">
                                <button class="btn-valider valider submit-form" name = "btn-submit" type = "submit">
                                            valider
                                </button>
                            </div>
                        </div>
                         {% for view in data %}
                            {% if view.estArchived == false %}
                        <div class="row detaille">
                            <div class="col-12 col-lg-9 nom-test">
                                    <div class="data-container">
                                            <div>
                                                {#<label class="radioChecked notChecked">
                                                    <input type="checkbox" name="radio" class="styled-checkbox bigger" style="display:none">
                                                </label>#}
                                                <div>
                                                <input id="{{ view.id }}" type="checkbox" class="styled-checkbox bigger">
                                                <label for="{{ view.id }}"></label>
                                            </div>
                                            </div>
                                                {% if view.estPublier == true %}                           
                                                <div class="hidden-sm-down quest-image"></div>
                                                {% else %}
                                                <div class="hidden-sm-down percent-image"></div>
                                                {% endif %}
                                                <div class="titre-quiz">
                                                    <p id="nom-quest">{{view.titreQuestionnaire}}</p> 
                                                    {% if view.typeSondagesQuiz == 2 %}                               
                                                    <p id="type-quest">{{"Quiz"}}</p>
                                                    {% else %}
                                                     <p id="type-quest">{{"Sondage"}}</p>
                                                    {% endif %}
                                                    {% if view.estPublier == true %}
                                                    <p id="pub">{{"Publié-le"}} {{ view.dateCreation is not empty ? view.dateCreation  | localizeddate('none', 'none', locale, null, "d MMMM Y 'à' HH:mm") :'' }}</p>
                                                    {% elseif  view.estCloture == true  %}
                                                     <p id="cloture">{{"clôturé-le"}} {{ view.dateCreation is not empty ? view.dateCreation  | localizeddate('none', 'none', locale, null, "d MMMM Y 'à' HH:mm") :'' }}</p>
                                                    {% else %}
                                                      <p id="att">{{"En attente-modifié le"}} {{ view.dateCreation is not empty ? view.dateCreation  | localizeddate('none', 'none', locale, null, "d MMMM Y 'à' HH:mm") :'' }}</p>
                                                    {% endif %}
                                            </div> 
                                    </div>                      
                                        <div class="nombres">
                                             {% if view.viewNumber is empty %}
                                                <span id="number">0</span>
                                            {% else %}
                                                <span id="number">{{view.viewNumber}}</span>
                                             {% endif %}
                                            <span id="participation">participations</span>
                                        </div>
                                        <div class=" roles">
                                            {% if view.authorizedRole == 1 %}
                                                <span id="role">Tous les participants</span>
                                            {% else %}
                                                <span id="role">Commercial</span>
                                            {% endif %}
                                        </div>
                            </div>
                            <div class="col-12 col-lg-9 nom-test2" style="display:none">
                                    <div class="data-container2">
                                            <div>
                                                <label class="radioChecked2 notChecked2">
                                                    <input type="checkbox" name="radio" class="styled-checkbox bigger" style="display:none">
                                                </label>
                                            </div>
                                            <div class="hidden-sm-down quest-image2"></div>
                                            <div class="hidden-sm-down percent-image2"></div>
                                            <div class="titre-quiz2">
                                                <p id="nom-quest2"></p>                             
                                                <p id="type-quest2">{{"Quiz"}}</p>
                                                <p id="type-quest3">{{"Sondage"}}</p>
                                                <p id="pub2">{{"Publié-le"}}</p>
                                                <p id="cloture2">{{"clôturé-le"}} </p>                                                
                                                <p id="att2">{{"En attente-modifié le"}} </p>
                                            </div> 
                                        <div class="nombres2">
                                            <span id="number2">{{view.viewNumber}}</span>
                                            <span id="participation">participations</span>
                                        </div>
                                        <div class=" roles2">
                                            <span id="role2">{{view.authorizedRole}}</span>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-12 col-lg-3 campagne-action">
                                 {% if view.estPublier == true or view.estCloture == true %}
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle detail-action" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu action-menu" aria-labelledby="dropdownMenuAction">
                                    <a class="dropdown-item menu-stat stat-pre-sondage" href="#" data-campaign = "" data-title = "">STATISTIQUES</a>
                                    <a class="dropdown-item menu-duplique duplique-pre-sondage" href="#" data-url="{{ path('admin_communication_pre_sondage_duplicate', {"id": view.id}) }}">DUPLIQUER</a>
                                    {% if view.estCloture == false %}
                                    <a class="dropdown-item menu-cloture cloture-pre-sondage" data-url = "{{ path('admin_communication_pre_sondage_cloture', {"id": view.id}) }}" style = "cursor:pointer;">CLOTURE</a>
                                    {% endif %}
                                    <a class="dropdown-item menu-archived archived-pre-sondage" data-url = "{{ path('admin_communication_pre_sondage_archive', {"id": view.id}) }}" style = "cursor:pointer;">ARCHIVER</a>
                                    <a class="dropdown-item menu-delete delete-pre-sondage" href="#" data-campaign-draft-id="" data-url = "{{ path('admin_communication_pre_sondage_delete', {"id": view.id}) }}">SUPPRIMER</a>
                                    </div>
                                </div>
                                {% else %}
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle detail-action" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                            ACTIONS
                                        </button>
                                        <div class="dropdown-menu action-menu" aria-labelledby="dropdownMenuAction">
                                            <a class="dropdown-item edit-pre-sondage" href="#" data-url = "{{path("admin_communication_pre_sondage_edit",{"id":view.id})}}" data-title = "">EDITER</a>
                                             <a class="dropdown-item publier-pre-sondage" href="#" data-url = "{{ path("admin_communication_pre_sondage_publier", {"id": view.id}) }}">PUBLIER</a>
                                                <a class="dropdown-item action-menu duplique-pre-sondage" href="#" data-target-url="{{ path('admin_communication_pre_sondage_duplicate', {"id": view.id}) }}">DUPLIQUER</a>
                                            <a class="dropdown-item archived-pre-sondage" data-url = "{{ path('admin_communication_pre_sondage_archive', {"id": view.id}) }}" style = "cursor:pointer;">ARCHIVER</a>
                                            <a class="dropdown-item action-menu delete-pre-sondage" href="#" data-url = "{{ path('admin_communication_pre_sondage_delete', {"id": view.id}) }}">
                                            SUPPRIMER</a>
                                            <input type="hidden" name="campaign-id" value="">
                                        </div>
                                    </div>
                                {% endif %}              
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="not-results not-list">
                            <p>Aucun résultat</p>
                        </div>
                        <div class="container-page">ffyyy</div>
                        <!-- Modal créer sondage quiz -->
                    <div id="create-sondage-modal" class="app-dialog modal" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg modal-sondage" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal créer / éditer Sondage -->
                    <div id="edit-sondage-modal" class="app-dialog modal" tabindex="-1" role="dialog" data-backdrop="static">
                       <div class="modal-dialog modal-lg modal-sondage" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN - Modal créer / éditer Sondag-->

                    <!-- modal - duplication Sondag -->
                    <div id="duplicate-news-modal" class="modal app-dialog duplication-dialog" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close" style="display: none"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="error-message-container centered-message general-message"></div>
                                    <div class="modal-body-container"></div>
                                </div>
                                <input type="hidden" name="template_id" value="">
                            </div>
                        </div>
                    </div>
                    <!-- modal - duplication Sondag&Quiz -->
                    <!-- modal - confirmation suppression Sondag -->
                    <div id="confirm-delete-news-modal" class="modal confirm-delete-dialog" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body-container">
                                        <div class="text-container">
                                            <span class="confirm-dialog-title">Suppression</span>
                                            <p class="message">Êtes-vous sûr de vouloir supprimer définitivement cette publication ?</p>
                                        </div>
                                        <div>
                                            <button class ="btn-valider confirm-delete">
                                                valider
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="template_id" value="">
                            </div>
                        </div>
                    </div>        
                    <!-- FIN - Modal créer-->
                </section>
            </div>
        </div>
    </main>
    <p class = "chargementAjax hidden">
        <img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
    </p>
     <input type="hidden" name="create_sondage_quiz_url" value="{{ path('admin_communication_pre_sondage_create') }}">
     <input id = "UrlDeleteBanniere" type = "hidden" name = "UrlDeleteBanniere" value = "{{ path("admin_communication_sondage_quiz_delete_banniere") }}">
    <input id = "UriDeleteQuiz" type = "hidden" name = "UriDeleteQuiz" value = "{{ path("admin_communication_sondage_quiz_delete") }}">
    <input id = "UriDeleteReponsesSondagesQuiz" type = "hidden" name = "UriDeleteReponsesSondagesQuiz" value = "{{ path("admin_communication_sondage_quiz_delete_reponse") }}">
    <input id = "UriDeleteQuestions" type = "hidden" name = "UriDeleteQuestions" value = "{{ path("admin_communication_sondage_quiz_delete_questions") }}">
    <input id = "UriSondagesQuiz" type = "hidden" name = "UriSondagesQuiz" value = "{{ path("admin_communication_sondage_quiz") }}">
    <input type = "hidden" name ="obj" value ="{{obj}}"> 
    <input type="hidden" name="list-url" value="{{ path('admin_communication_pre_sondage') }}">
{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>   
            <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>                     
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('datepicker/i18n/datepicker-fr.js') }}"></script>
             <script src="{{ asset('js/pagination.min.js')}}"></script>
            {#<script src="{{ asset('js/communications/sondages-quiz.js') }}"></script>#}
            <script src="{{ asset("js/admin-widget-and-common-functions.js") }}"></script>
            <script type="text/javascript" src="{{asset("js/communications/pre-sondages.js")}}"></script> 
        {% endblock %}
    {% endembed %}
{% endblock %}

