{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="{{ asset("css/communications/sondages-quiz.css") }}" rel="stylesheet">
            <link href="{{ asset("css/communications/pre-sondages.css") }}" rel="stylesheet">

            <link href="{{ asset("jplist/css/jplist.core.min.css") }}">
            <link href="{{ asset("jplist/css/jplist.textbox-filter.min.css") }}">
            <link href="{{ asset("jplist/css/jplist.checkbox-dropdown.min.css") }}">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':5})) }}

    <main class="col-md-9  offset-md-1 float-left main">

        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="#">sondages / quiz</a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="#">sondages / quiz</a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">bannière d'accueil</a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <section  class = "fieldset active main-section">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-12">
                             <h3 class="hidden-sm-down block-title">Création et édition de sondage et quiz</h3>
                             <p class = "descr-sondage-quiz">Un onglet sondage / quiz sera ajpouté à votre menu.</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                        <div class="hidden-sm-down corner-circle-img img-content-sondanges-quiz rounded-circle"></div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 creer-new">
                                <div class="chp" style="text-align:center; float:left;">
                                    <button class="btn-valider restore-data" name = "btn-submit-form-etape-1" type = "submit" data-url = "{{path("admin_communication_pre_sondage_group_action")}}">
                                            réstaurer publication
                                    </button>
                                </div>
                        </div>
                    </div>
                        <div class="row filter news-filter control-panel trie-sondage preSondageQuiz">
                            <div class="col-sm-4 col-md-4 send-state-filter-container filter-block-element-container">
                                <div class="jplist-drop-down status-filter-drop-down" data-control-type="filter-drop-down" data-control-name="status-filter" data-control-action="filter">
                                    <ul>
                                        <li><span data-path="default">FILTRER PAR </span></li>
                                        <li><span data-path="default">TOUS</span></li>
                                        <li><span data-path=".published">PUBLIÉ</span></li>
                                        <li><span data-path=".attente">EN ATTENTE</span></li>
                                        <li><span data-path=".cloture">{{"clôturé"|upper}}</span></li>
                                    </ul>
                                </div>
                            </div>
                                <div class=" col-sm-5 col-md-5 send-state-filter-container filter-block-element-container">
                                    <div class="jplist-drop-down status-filter-drop-down questionnaires" data-control-type="filter-drop-down" data-control-name="status-filter" data-control-action="filter">
                                        <ul>
                                            <li class="default item"><span data-path="default">TYPE DE QUESTIONNAIRE</span></li>
                                            <li class="item"><span data-path="default">TOUS</span></li>
                                            <li class="item"><span data-path=".sondage">SONDAGE</span></li>
                                            <li class="item"><span data-path=".quiz">QUIZ</span></li>
                                        </ul>
                                    </div>
                                </div>
                            <div class="col-sm-3 col-md-3">
                            <a href="{{path("admin_communication_pre_sondage_news_archived")}}" class="add add-folder-link add-to-archive archived-campaign" 
                            data-link="">
                                    archivées
                                </a>
                            </div>
                        </div>
                        <div class="row checked-quiz">
                            <div class="col-4 col-md-4 text-selected ">
                                <input type="text" name="sondage-selected" class="input-text sondage-selected">
                                <span class="delete-supp1"></span>
                            </div>
                            <div class="col-4 col-md-4 supp-supp">
                                <div class="dropdown clearable all-filter questionnaires suppr-filter">
                                        <button class="btn btn-secondary dropdown-toggle suppr" type="button" id="dropdownTypeFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTION">
                                            ACTION
                                        </button>
                                        <div class="dropdown-menu suppr-menu" aria-labelledby="dropdownTypeFilter">
                                            <a class="dropdown-item grouped-action-choice" data-grouped-action="restore">
                                                RESTAURE
                                            </a>
                                            <a class="dropdown-item grouped-action-choice" data-grouped-action="delete">
                                                supprimer
                                            </a>
                                        </div>
                                    </div>
                                     <span class="delete-supp"></span>
                            </div>
                            <div class="col-4 col-md-4 btn-supp">
                                <button class="btn-valider valider submit-form" name = "btn-submit" type = "submit" data-target-url="{{ path('admin_communication_pre_sondage_group_action') }}">
                                    valider
                                </button>
                            </div>
                        </div>
                        <div class="list">
                        {% for view in data %}

                            {% set class= "" %}
                            {% set otherClass = "" %}
                            {% if view.typeSondagesQuiz == 2 %}
                                {% set otherClass = "quiz" %}
                            {% else %} 
                                {% set otherClass= 'sondage' %}
                            {% endif %}

                            {% if view.estArchived == true %}
                                {% if view.estPublier == true %}
                                    {% set class= "published" %}
                                {% elseif  view.estCloture == true  %}
                                    {% set class= "cloture" %}
                                {% else %}
                                    {% set class= "attente" %}
                                {% endif %}
                                
                            <div class="row detaille element {{ class }} {{otherClass}}" data-status="{{ class }} {{otherClass}}">
                                <div class="col-12 col-lg-9 nom-test">
                                    <div class="data-container">
                                            <div>
                                                {#<label class="radioChecked notChecked">
                                                    <input type="checkbox" name="radio" class="styled-checkbox bigger" style="display:none">
                                                </label>#}
                                                <div>
                                                <input id="{{ view.id }}" type="checkbox" class="styled-checkbox bigger">
                                                <label for="{{ view.id }}"></label>
                                            </div>
                                            </div>
                                                {% if view.estPublier == true %}                           
                                                <div class="hidden-sm-down quest-image"></div>
                                                {% else %}
                                                <div class="hidden-sm-down percent-image"></div>
                                                {% endif %}
                                                <div class="titre-quiz">
                                                    <p id="nom-quest">{{view.titreQuestionnaire}}</p> 
                                                    {% if view.typeSondagesQuiz == 2 %}                               
                                                    <p id="type-quest">{{"Quiz"}}</p>
                                                    {% else %}
                                                     <p id="type-quest">{{"Sondage"}}</p>
                                                    {% endif %}
                                                    {% if view.estPublier == true %}
                                                    <p id="pub">{{"Publié-le"}} {{ view.dateCreation is not empty ? view.dateCreation  | localizeddate('none', 'none', locale, null, "d MMMM Y 'à' HH:mm") :'' }}</p>
                                                    {% elseif  view.estCloture == true  %}
                                                     <p id="cloture">{{"clôturé-le"}} {{ view.dateCreation is not empty ? view.dateCreation  | localizeddate('none', 'none', locale, null, "d MMMM Y 'à' HH:mm") :'' }}</p>
                                                    {% else %}
                                                      <p id="att">{{"En attente-modifié le"}} {{ view.dateCreation is not empty ? view.dateCreation  | localizeddate('none', 'none', locale, null, "d MMMM Y 'à' HH:mm") :'' }}</p>
                                                    {% endif %}
                                            </div> 
                                    </div>                      
                                        <div class="nombres">
                                             {% if view.viewNumber is empty %}
                                                <span id="number">0</span>
                                            {% else %}
                                                <span id="number">{{view.viewNumber}}</span>
                                             {% endif %}
                                            <span id="participation">participations</span>
                                        </div>
                                        <div class=" roles">
                                                {% if view.authorizedRole is not empty %}
                                            <span id="role">{{view.authorizedRole.name}}</span>
                                                {% else %}
                                                        <span id="role"></span>
                                                {% endif %}
                                                
                                        </div>
                            </div>
                            <div class="col-12 col-lg-3 campagne-action">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle detail-action" type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
                                        ACTIONS
                                    </button>
                                    <div class="dropdown-menu action-menu" aria-labelledby="dropdownMenuAction">
                                    <a class="dropdown-item menu-archived restore-arhived-sondage" data-url = "{{ path('admin_communication_presondage_restore', {"id": view.id}) }}" style = "cursor:pointer;">RESTAURER</a>
                                    <a class="dropdown-item menu-delete delete-arhived-sondage" href="#" data-url = "{{ path('admin_communication_pre_sondage_delete', {"id": view.id}) }}">SUPPRIMER</a>
                                    </div>
                                </div>            
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {#<div class="not-results not-list">
                            <p>Aucun résultat</p>
                        </div>#}
                    </div>
                       <div class="jplist-no-results hidden-block">
                            <p>Aucun résultat</p>
                        </div>
                        <div class="control-panel pagination-container">
                            <div class="jplist-pagination" data-control-type="pagination" data-control-name="paging" data-control-action="paging" data-items-per-page="5" data-first="premier" data-last="dernier"></div>
                    </div>
                    <!-- modal - confirmation suppression Sondag -->
                    <div id="confirm-delete-news-modal" class="modal confirm-delete-dialog" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body-container">
                                        <div class="text-container">
                                            <span class="confirm-dialog-title">Suppression</span>
                                            <p class="message">Êtes-vous sûr de vouloir supprimer définitivement cette publication ?</p>
                                        </div>
                                        <div>
                                            <button class ="btn-valider confirm-delete-archive">
                                                valider
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="template_id" value="">
                            </div>
                        </div>
                    </div>
                    <!-- FIN - Modal créer-->
                </section>
            </div>
        </div>
    </main>
    <p class = "chargementAjax hidden">
        <img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
    </p>
     <input type="hidden" name="list-url" value="{{ path('admin_communication_pre_sondage') }}">
    <input type="hidden" name="archived_status" value="true">
    <input type="hidden" name="list-url-archived" value="{{path("admin_communication_pre_sondage_news_archived")}}">
{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>   
            <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>                     
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('datepicker/i18n/datepicker-fr.js') }}"></script>
            {#<script src="{{ asset('js/communications/sondages-quiz.js') }}"></script>#}
            <script src="{{ asset('js/pagination.min.js')}}"></script>
            <script src="{{ asset('jplist/js/jplist.core.min.js') }}"></script>
            <script src="{{ asset('jplist/js/jplist.sort-bundle.min.js') }}"></script>
            <script src="{{ asset('jplist/js/jplist.pagination-bundle.min.js') }}"></script>
            <script src="{{ asset('jplist/js/jplist.textbox-filter.min.js') }}"></script>
            <script src="{{ asset('jplist/js/jplist.filter-dropdown-bundle.min.js') }}"></script>
            <script src="{{ asset("js/admin-widget-and-common-functions.js") }}"></script>
            <script type="text/javascript" src="{{asset("js/communications/pre-sondages.js")}}"></script> 
        {% endblock %}
    {% endembed %}
{% endblock %}

