{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
			<link href="{{ asset("css/communications/sondages-quiz.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':5})) }}

    <main class="col-md-9  offset-md-1 float-left main">

        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_sondage_quiz") }}">sondages / quiz</a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="#">sondages / quiz</a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">post</a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">pop-up</a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">résultats</a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>

        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset active">
					<div class="block-active-hover" style = "display:block;"></div>
					<div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <h3 class="hidden-sm-down block-title">Création / édition d'un sondage ou d'un quiz</h3>
                            <h5 class="hidden-md-up block-title">Création / édition d'un sondage ou d'un quiz</h5>
							<p class = "descr-sondage-quiz">Un onglet sondage / quiz sera ajouté à votre menu. Vous avez la possibilité de commencer votre sondage / quiz et de le terminer plus tard, ainsi que de programmez sa publication.</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="hidden-sm-down corner-circle-img img-content-sondanges-quiz rounded-circle"></div>
                        </div>
                    </div>
					
					<div class="row">
						<div class="col-xl-4 col-lg-6 col-md-7 col-sm-12 titre-section-sondage-quiz">
							<span>Nom du menu et bannière haut de page</span>
						</div>
						
						<div class="col-xl-8 col-lg-6 col-md-5 col-sm-12">
							<div id = "id-ligne-separator" class = "ligne-separator">&nbsp;</div>
						</div>
					</div>
					
					<div class = "row separator"></div>
					{% if IsSondagesQuiz %}
					<div class = "conteneur-menu-banniere-sondage-quiz" style = "display:none;">
					{% else %}
					<div class = "conteneur-menu-banniere-sondage-quiz">
					{% endif %}
						{{ form_start(formSondagesQuiz) }}
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<label class="champForm">
									<span class="lib-form">nom du menu</span>
									{{ form_widget(formSondagesQuiz.nom_menu, {'attr': {'class': 'input-form-text'}}) }}
									<span class="delete-input"></span>
								</label>
								{{ form_errors(formSondagesQuiz.nom_menu) }}
							</div>
						</div>
						
						<div class = "row separator"></div>
						
						<div class="row">
							<div class="col-lg-4 col-md-12 col-sm-12 titre-section-sondage-quiz">
								<span>Bannière de haut de page</span>
							</div>
							
							<div class="col-lg-8 col-md-12 col-sm-12"></div>
						</div>
						
						<div class = "row separator"></div>
						
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<label class="champForm">
									<span class="lib-form">titre</span>
									{{ form_widget(formSondagesQuiz.titre, {'attr': {'class': 'input-form-text'}}) }}
									<span class="delete-input"></span>
								</label>
								{{ form_errors(formSondagesQuiz.titre) }}
							</div>
						</div>
						
						<div class = "row separator"></div>
						
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="champForm">
									<span class="lib-form">image</span>
									<div class = "action-btn">
										
										{% if IsBanniere %}
											<button id="btn-upload-img-sondage-quiz" class="btn-valider-etat btn-upload choose-upload-img-button btn-upload-img-sondage-quiz" type="button" style = "margin:0;">
												<span id="id-lib-upload" class="uploaded"></span> 
												<span id="lib-btn-pages">{{ BannierePath }}</span>
											</button>
											<img id="img-delete-img-banniere" class="img-delete-img" src="/web/images/cloudsRewards/delete.png">
										{% else %}
											<button id="btn-upload-img-sondage-quiz" class="btn-valider btn-upload choose-upload-img-button btn-upload-img-sondage-quiz" type="button" style = "margin:0;">
												<span id="id-lib-upload" class="upload"></span> 
												<span id="lib-btn-pages">choisissez un fichier...</span>
											</button>
										{% endif %}

										{{ form_widget(formSondagesQuiz.image, {'attr': {'class': 'input-upload-img-sondages-quizz'}}) }}
										<div class="info-container">
											<p>taille optimale de l'image : <span class="bigger">L 1024 X H 243px</span></p>
											<p>les fichiers doivent peser moins de <span class="bigger">8 Mo</span></p>
											<p>formats de fichier pris en charge : <span class="bigger">jpeg, png, gif</span></p>
										</div>
									</div>
									<div style = "clear:both;"></div>
								</div>
							</div>
						</div>
						
						<div class = "row separator"></div>
						
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<label class="champForm">
									<span class="lib-form block">prévisualisation</span>
									<span id="img-preview-15" class="previsualisation-im-sondage-quiz block">
										{% if IsBanniere %}
											<img id="img-preview" class = "img-preview" src="{{asset('/web/content/sondages_quiz/'~program.Id~'/'~BannierePath)}}" style = "display:block;" />
										{% else %}
											<img id="img-preview" class = "img-preview" src="#" />
										{% endif %}
									</span>
								</label>
							</div>
						</div>
						
						<div class = "row separator"></div>
						
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="champForm" style="text-align:center;">
									<button class="btn-valider valider submit-form" name = "btn-submit-form-etape-1" type = "submit">
										valider
									</button>
								</div>
							</div>
						</div>
						{{ form_end(formSondagesQuiz) }}
					</div>
					
				</section>
				
				<section class="fieldset inactive">
					<div class="block-active-hover"></div>
					
					{{ form_start(formQuestionnaires) }}
					<input id = "id_type_sondages_quiz" type = "hidden" name = "type_sondages_quiz_selection" value = "{{ formQuestionnaires.type_sondages_quiz.vars.value }}">
					<div class="row">
						{% for child in formQuestionnaires.type_sondages_quiz %}
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class = "check-creation-sondage">
								<p class = "check-creation-sondage-check">
									{{ form_widget(child, {'attr': {'class': 'form-field-mandatory styled-checkbox choix-type-action'}}) }}
									<label for="{{ child.vars.id }}"><span></span></label> 
								</p>
								<p class = "check-creation-sondage-libelle">
									<span class = "libelle-mode">{{ form_label(child) }}</span>
								</p>
								<div style = "clear:both;"></div>
							</div>
							{{ form_errors(child) }}
						</div>
						{% endfor %}
					</div>
					
					<div class = "row separator"></div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<label class="champForm">
								<span class="lib-form">titre du questionnaire</span>
								{{ form_widget(formQuestionnaires.titre_questionnaire, {'attr': {'class': 'input-form-text'}}) }}
								{{ form_errors(formQuestionnaires.titre_questionnaire) }}
								<span class="delete-input"></span>
							</label>
						</div>
					</div>
					
					<div class = "row separator"></div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<label class="champForm">
								<span class="lib-form block editeur">texte de description</span>
								{{ form_widget(formQuestionnaires.description_questionnaire, {'attr': {'class': 'large-textarea'}}) }}
								{{ form_errors(formQuestionnaires.description_questionnaire) }}
							</label>
						</div>
					</div>
					
					<div class = "row separator"></div>
					<div class = "row separator"></div>
					
					<div id="collectionQuestions" data-prototype-question="{% filter escape %} {{ include('AdminBundle:PartialPage/SiteFormField:questions-sondages-quiz.html.twig', { 'form': formQuestionnaires.sondages_quiz_questions.vars.prototype }) }} {% endfilter %}">
						{# QUESTIONS #}
							{% set NbreQuestion = 0 %}
							{% for ObjQuestions in formQuestionnaires.sondages_quiz_questions %}
								{% set NumeroQuestion = NbreQuestion + 1 %}
								
								<div id = "content-block-question-{{ NbreQuestion }}" class = "content-block-question">
									
									<div class = "row separator"></div>
									<div class="row">
										<div class="col-8 col-lg-4 col-md-4 col-sm-4 col-xl-4 titre-section-sondage-quiz">
											<span>QUESTION {{ NumeroQuestion }}<input class = "iterationQuestionForm" type = "hidden" name = "iterationQuestionForm" value = "0"></span>
										</div>
										
										<div class="col-4 col-lg-8 col-md-8 col-sm-8 col-xl-8">
											<div id = "ligne-separator-question-{{ NbreQuestion }}" class = "ligne-separator-question" style = "display:none;">&nbsp;</div>
										</div>
									</div>
									
									<div id = "content-questionnaire-apercu-{{ NbreQuestion }}" class = "content-questionnaire-apercu">
									
										<div class="row">
											<div class="col-12 col-sm-8 col-md-8">
												<h3 class="hidden-sm-down block-title">{{ ObjQuestions.questions.vars.value }}</h3>
												<h5 class="hidden-md-up block-title">{{ ObjQuestions.questions.vars.value }}</h5>
											</div>
											<div class="col-12 col-sm-4 col-md-4">
												<div class="option-container-question">
													<span id = "edit-post-questions-{{ NbreQuestion }}" class="edit-post-questions"></span>
													<span class="delete-post-questions" data-toggle = "modal" data-target = "#confirm-delete-question-dialog-{{ ObjQuestions.vars.value.id }}"></span>
													<span class="trie-post-questions">
														<a id="reorder-up-field-row-link-question-{{ NbreQuestion }}" href="#" class="reorder-up-field-row-link-question"></a>
														<a id="reorder-down-field-row-link-question-{{ NbreQuestion }}" href="#" class="reorder-down-field-row-link-question"></a>
													</span>
												</div>
											</div>
										</div>
										
										<!-- dialog - confirmation suppression questionnaires -->
										<div id="confirm-delete-question-dialog-{{ ObjQuestions.vars.value.id }}" class="modal fade confirm-delete-question-dialog" tabindex="-1" role="dialog">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
													</div>
													<div class="modal-body">
														<div class="modal-body-container">
															<div class="text-container">
																<span class="confirm-dialog-title">Suppression</span>
																<p class="message">Êtes-vous sûr de vouloir supprimer définitivement ?</p>
															</div>
															<div>
																<button id = "id-confirm-delete-question-{{ ObjQuestions.vars.value.id }}" class ="btn-valider confirm-delete-question">
																	valider
																</button>
															</div>
														</div>
													</div>
													<input type="hidden" name="edito_post_id" value="">
												</div>
											</div>
										</div>
										<!-- FIN - dialog - confirmation suppression questionnaires -->
									</div>

									<div id = "content-questionnaire-{{ NbreQuestion }}" class = "content-questionnaire"  style = "display:none;">
										<div class = "row separator"></div>
										
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<label class="champForm">
													<span class="lib-form">votre question</span>
													{{ form_widget(ObjQuestions.questions, {'attr': {'class': 'input-form-text'}}) }}
													<span class="delete-input"></span>
												</label>
											</div>
										</div>
										
										<div class = "row separator"></div>
										
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<label class="champForm">
													<span class="lib-form">commentaire</span>
													{{ form_widget(ObjQuestions.commentaire, {'attr': {'class': 'small-textarea'}}) }}
												</label>
											</div>
										</div>
										
										<div class = "row separator"></div>
										
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<label class="champForm">
													<span class="lib-form">type de question</span>
													<span class = "content-dropdown-toggle dropdown clearable filtres">
														<button class="btn btn-secondary dropdown-toggle dropdownMenuActionTypeQuestion" type="button" id="dropdownMenuActionTypeQuestion-{{ NbreQuestion }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="ACTIONS">
															cases à cocher
														</button>
														<div id = "dropdownMenuListeTypeUestion-{{ NbreQuestion }}" class="dropdown-menu dropdownMenuListeTypeUestion" aria-labelledby="dropdownMenuListeTypeUestion">
															<a class="dropdown-item" data-id = "{{ NbreQuestion }}" href="#">
																cases à cocher
															</a>
															<a class="dropdown-item" data-id = "{{ NbreQuestion }}" href="#">
																choix multiples
															</a>
															<a class="dropdown-item" data-id = "{{ NbreQuestion }}" href="#">
																échelle linéaire
															</a>
															<a class="dropdown-item" data-id = "{{ NbreQuestion }}" href="#">
																tableau à choix mutltiples
															</a>
														</div>
													</span>
												</label>
												{{ form_widget(ObjQuestions.type_question, {'attr': {'class': 'hidden'}}) }}
												{{ form_widget(ObjQuestions.ordre, {'attr': {'class': 'input-form-text-reponse ordre-questions hidden'}}) }}
											</div>
										</div>
										
										<div class = "row separator"></div>
										<div class = "row separator"></div>
										
										<input id = "nbre_reponses_par_questions_{{ NumeroQuestion }}" class = "nbre_reponses_par_questions" type = "hidden" value = "{{ ObjQuestions.sondages_quiz_reponses|length }}">
										
										<div id="collectionReponses-{{ NumeroQuestion }}" data-prototype-reponse="{% filter escape %} {{ include('AdminBundle:PartialPage/SiteFormField:reponses-sondages-quiz.html.twig', { 'formres': ObjQuestions.sondages_quiz_reponses.vars.prototype }) }} {% endfilter %}">
											{# REPONSES #}
												{% set NbreReponse = 0 %}
												{% for ObjReponses in ObjQuestions.sondages_quiz_reponses %}
													
													{% set NumeroReponse = NbreReponse + 1 %}
													<div id = "content-reponses-ligne-{{ NbreQuestion }}-{{ NbreReponse }}" class = "content-reponses-ligne-{{ NbreQuestion }}">
														<div class="row">
															<input class = "iterationReponsesForm" type = "hidden" name = "iterationReponsesForm" value = "0">
															<div class="col-lg-12 col-md-12 col-sm-12">
																<label class="champForm">
																	<span class="lib-form">reponse {{ NumeroReponse }}</span>
																	<span class = "content-champs-reponses">
																		<span id = "choice-input-bonne-reponse-{{ NbreQuestion }}-{{ NbreReponse }}" class="choice-input-bonne-reponse" style = "display:none;">
																			{{ form_widget(ObjReponses.est_bonne_reponse, {'attr': {'class': 'input-form-text-reponse form-field-mandatory-large styled-checkbox-large hidden'}}) }}
																			<label for="{{ ObjReponses.est_bonne_reponse.vars.id }}"><span></span></label>
																		</span>
																		
																		{{ form_widget(ObjReponses.reponses, {'attr': {'class': 'input-form-text-reponse-sondages input-switch-type'}}) }}
																		{{ form_widget(ObjReponses.ordre, {'attr': {'class': 'input-form-text-reponse ordre-reponses hidden'}}) }} 
																	</span>
																	<span id = "delete-input-reponse" class="delete-input-reponse"></span>
																	<span id = "corbeil-input-{{ NbreQuestion }}-{{ NbreReponse }}" class="corbeil-input" data-reponse = "{{ ObjReponses.vars.value.id }}"></span>
																	<span class="trie-input">
																		<a id = "reorder-up-field-row-link-{{ NbreQuestion }}-{{ NbreReponse }}" href="#" class="reorder-up-field-row-link"></a>
																		<a id = "reorder-down-field-row-link-{{ NbreQuestion }}-{{ NbreReponse }}" href="#" class="reorder-down-field-row-link"></a>
																	</span>
																</label>
															</div>
														</div>


														<div class = "row separator"></div>
													</div>
												{% set NbreReponse = NbreReponse + 1 %}
												{% endfor %}
											{# FIN REPONSES #}
										</div>
										
										<div class = "row separator"></div>
										<div class = "row separator"></div>
										
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<a id = "add-field-link-reponse-{{ NumeroQuestion }}" class="add-field-link add add-field-link-reponse" data-type = "1" href="#">ajouter une reponse (<span class="custom-field-allowed-container">7</span> maximum)</a>
											</div>
										</div>
										
										<div class = "row separator"></div>
										
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class = "check-reponse-obligatoire">
													<p class = "check-reponse-obligatoire-libelle">
														<span class = "libelle-mode">réponse obligatoire</span>
													</p>
													<p class = "check-reponse-obligatoire-check">
														{{ form_widget(ObjQuestions.est_reponse_obligatoire, {'attr': {'class': 'form-field-mandatory styled-checkbox'}}) }}
														<label for="{{ ObjQuestions.est_reponse_obligatoire.vars.id }}"><span></span></label> 
													</p>
													<div style = "clear:both;"></div>
												</div>
											</div>
											
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class = "legende-choix-sondages-quiz" style = "display:none;">
													<p class = "legende-choix-sondages-quiz-check">
														<label><span></span></label> 
													</p>
													<p class = "legende-choix-sondages-quiz-libelle">
														<span class = "libelle-mode">activer pour la/les bonne(s) réponse(s)</span>
													</p>
													<div style = "clear:both;"></div>
												</div>
											</div>
										</div>
										
										<div class = "row separator"></div>
									</div>
								</div>
							{% set NbreQuestion = NbreQuestion + 1 %}
							{% endfor %}
						{# FIN QUESTIONS #}
					</div>
					
					<div class = "row separator"></div>
					
					<div class = "content-questionnaire">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<a class="add-field-link add add-field-question" href="#">ajouter une question (<span class="custom-field-allowed-container">9</span> maximum)</a>
								<input id = "nbre_questions" type = "hidden" name = "nbre_questions" value = "{{ NbreQuestion }}">
							</div>
						</div>
					</div>
					
					<div class = "row separator"></div>
					<div class = "row separator"></div>
					
					<div class="row">
						<div class="col-12 col-md-6" style="text-align:center;">
							<button id = "enregistrer-All-form" class="btn-valider valider submit-form" data-id="426" name = "btn-enregistrer-sondages-quiz" type = "submit">enregistrer</button>
						</div>
						
						<div class="col-12 col-md-6" style="text-align:center;">
							<button id = "publier-All-form" class="btn-valider valider submit-form" name = "btn-publier-sondages-quiz" type = "submit">publier</button>
						</div>
					</div>
					{{ form_rest(formQuestionnaires) }}
					{{ form_end(formQuestionnaires) }}
				</section>
				
				{% for QuestionsInfos in QuestionsInfosArray%}
				<section class="fieldset inactive">
					<div class="block-active-hover"></div>
					<div class="row">
                        <div class="col-12 col-sm-9 col-md-9">
                            <h3 class="hidden-sm-down block-title">{{ QuestionsInfos.TitreQuestionnaire }}</h3>
                            <h5 class="hidden-md-up block-title">{{ QuestionsInfos.TitreQuestionnaire }}</h5>
                            <p class="date-info">créé le {{ QuestionsInfos.DateCreation | localizeddate('none', 'none', locale, null, "d MMMM yyyy") }}</p>

                        </div>
                        <div class="col-12 col-sm-3 col-md-3">
                            <div class="option-container">
                                <a href="{{ path("admin_communication_sondage_quiz", { 'id': QuestionsInfos.Id }) }}" class="edit-post"></a>
                                <a href="#" class="delete-post" data-sondages-quiz-post-id="{{ QuestionsInfos.Id }}" data-toggle="modal" data-target="#confirm-delete-dialog-{{ QuestionsInfos.Id }}"></a>
                                <a href="#" class="close-edit-post-form"></a>
                            </div>
                        </div>
                    </div>
				</section>
				
				<!-- dialog - confirmation suppression sondages/quiz -->
				<div id="confirm-delete-dialog-{{ QuestionsInfos.Id }}" class="modal fade confirm-delete-dialog" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
							</div>
							<div class="modal-body">
								<div class="modal-body-container">
									<div class="text-container">
										<span class="confirm-dialog-title">Suppression</span>
										<p class="message">Êtes-vous sûr de vouloir supprimer définitivement ?</p>
									</div>
									<div>
										<button id = "id-confirm-delete-{{ QuestionsInfos.Id }}" class ="btn-valider confirm-delete-quiz">
											valider
										</button>
									</div>
								</div>
							</div>
							<input type="hidden" name="edito_post_id" value="">
						</div>
					</div>
				</div>
				<!-- FIN - dialog - confirmation suppression sondages/quiz -->
				{% endfor %}
            </div>
        </div>

        <div class = "row separator"></div>
		
		<!-- dialog - edition sondages/quiz -->
		<div id="edit-sondages-quiz" class="modal fade edit-sondages-quiz" tabindex="-2" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
					</div>
					<div class="modal-body">
						<div class="modal-body-container"></div>
					</div>
					<input type="hidden" name="edito_post_id" value="">
				</div>
			</div>
		</div>
		<!-- FIN - dialog - confirmation suppression sondages/quiz -->
		
		<p class = "chargementAjax hidden">
            <img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
        </p>
		<input id = "UrlDeleteBanniere" type = "hidden" name = "UrlDeleteBanniere" value = "{{ path("admin_communication_sondage_quiz_delete_banniere") }}">
		<input id = "UriDeleteQuiz" type = "hidden" name = "UriDeleteQuiz" value = "{{ path("admin_communication_sondage_quiz_delete") }}">
		<input id = "UriDeleteReponsesSondagesQuiz" type = "hidden" name = "UriDeleteReponsesSondagesQuiz" value = "{{ path("admin_communication_sondage_quiz_delete_reponse") }}">
		<input id = "UriDeleteQuestions" type = "hidden" name = "UriDeleteQuestions" value = "{{ path("admin_communication_sondage_quiz_delete_questions") }}">
		
    </main>

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>   
            <script src="{{ asset('ckeditor-uploader/ckeditor.js') }}"></script>                     
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('datepicker/i18n/datepicker-fr.js') }}"></script>
            <script src="{{ asset('js/communications/sondages-quiz.js') }}"></script>  
            <script>
                $(document).ready(function(){
                    CKEDITOR.replace( 'sondages_quiz_questionnaire_infos_description_questionnaire', {
                        language: 'fr',
                        uiColor: '#9AB8F3',
                        height: 150,
                        width: 600,
                        customConfig: "{{ asset('ckeditor-uploader/custom/config-general.js') }}",
                    });

                    CKEDITOR.on("instanceReady", function(){
                        $('.cke_wysiwyg_frame').contents().find('body').css(
                            'background-color', '#F5F5F5'
                        )
                    });
                });
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}