{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
			<link href="{{ asset("css/communications/sondages-quiz.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {{ render(controller('AdminBundle:Communication:sidebar',{'active':5})) }}

    <main class="col-md-9  offset-md-1 float-left main">

        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                    <ul class="content-menu-niv-3 hidden-lg-up">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_communication_sondage_quiz") }}">sondages / quiz</a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="#">sondages / quiz</a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">post</a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">pop-up</a>
                                <span class = "bulle-aide"></span>
                            </li>
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="#">résultats</a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>

        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset active">
					<div class="block-active-hover" style = "display:block;"></div>
					<div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <h3 class="hidden-sm-down block-title">Création / édition d'un sondage ou d'un quiz</h3>
                            <h5 class="hidden-md-up block-title">Création / édition d'un sondage ou d'un quiz</h5>
							<p class = "descr-sondage-quiz">Un onglet sondage / quiz sera ajouté à votre menu. Vous avez la possibilité de commencer votre sondage / quiz et de le terminer plus tard, ainsi que de programmez sa publication.</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="hidden-sm-down corner-circle-img img-content-sondanges-quiz rounded-circle"></div>
                        </div>
                    </div>
					
					<div class="row">
						<div class="col-xl-4 col-lg-6 col-md-7 col-sm-12 titre-section-sondage-quiz">
							<span>Nom du menu et bannière haut de page</span>
						</div>
						
						<div class="col-xl-8 col-lg-6 col-md-5 col-sm-12">
							<div id = "id-ligne-separator" class = "ligne-separator">&nbsp;</div>
						</div>
					</div>
					
					<div class = "row separator"></div>
					
					<div class = "conteneur-menu-banniere-sondage-quiz">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<label class="champForm">
									<span class="lib-form">nom du menu</span>
									<input class="input-form-text" name="menu_page" value="sondages / quiz" placeholder="" type="text">
									<span class="delete-input"></span>
								</label>
							</div>
						</div>
						
						<div class = "row separator"></div>
						
						<div class="row">
							<div class="col-lg-4 col-md-12 col-sm-12 titre-section-sondage-quiz">
								<span>Bannière de haut de page</span>
							</div>
							
							<div class="col-lg-8 col-md-12 col-sm-12"></div>
						</div>
						
						<div class = "row separator"></div>
						
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<label class="champForm">
									<span class="lib-form">titre</span>
									<input class="input-form-text" name="titre_page" value="SONDAGES / QUIZ" placeholder="" type="text">
									<span class="delete-input"></span>
								</label>
							</div>
						</div>
						
						<div class = "row separator"></div>
						
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="champForm">
									<span class="lib-form">image</span>
									<div class = "action-btn">
										<button id="btn-upload-img-sondage-quiz" class="btn-valider btn-upload choose-upload-img-button btn-upload-img-sondage-quiz" type="button" style = "margin:0;">
											<span id="id-lib-upload-1" class="upload"></span> 
											<span id="lib-btn-pages-1">choisissez un fichier...</span>
										</button>

										<input id = "input-upload-img-sondage-quiz" style="display:none;" name="img_page" class="input-upload-img-sondages-quizz" type="file">
										<div class="info-container">
											<p>taille optimale de l'image : <span class="bigger">L 1024 X H 243px</span></p>
											<p>les fichiers doivent peser moins de <span class="bigger">8 Mo</span></p>
											<p>formats de fichier pris en charge : <span class="bigger">jpeg, png, gif</span></p>
										</div>
									</div>
									<div style = "clear:both;"></div>
								</div>
							</div>
						</div>
						
						<div class = "row separator"></div>
						
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<label class="champForm">
									<span class="lib-form block">prévisualisation</span>
									<span id="img-preview-15" class="previsualisation-im-sondage-quiz block">
										<img id="img-preview" class = "img-preview" src="#" />
									</span>
								</label>
							</div>
						</div>
						
						<div class = "row separator"></div>
						
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="champForm" style="text-align:center;">
									<button class="btn-valider valider submit-form">
										valider
									</button>
								</div>
							</div>
						</div>
					</div>
					
				</section>
				
				<section class="fieldset inactive">
					<div class="block-active-hover"></div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class = "check-creation-sondage">
								<p class = "check-creation-sondage-check">
									<input id="cl2-row51" class="form-field-mandatory styled-checkbox" name = "sondage_quiz" type="radio" checked = "checked">
									<label for="cl2-row51"><span></span></label> 
								</p>
								<p class = "check-creation-sondage-libelle">
									<span class = "libelle-mode">créer un sondage</span>
								</p>
								<div style = "clear:both;"></div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class = "check-creation-quiz">
								<p class = "check-creation-quiz-check">
									<input id="cl2-row52" class="form-field-mandatory styled-checkbox" name = "sondage_quiz" type="radio">
									<label for="cl2-row52"><span></span></label> 
								</p>
								<p class = "check-creation-quiz-libelle">
									<span class = "libelle-mode">créer un quiz</span>
								</p>
								<div style = "clear:both;"></div>
							</div>
							
							<div style = "clear:both;"></div>
						</div>
					</div>
					
					<div class = "row separator"></div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<label class="champForm">
								<span class="lib-form">titre du questionnaire</span>
								<input class="input-form-text" name="titre_questionnaire" value="sondage du challenge 2017" placeholder="" type="text">
								<span class="delete-input"></span>
							</label>
						</div>
					</div>
					
					<div class = "row separator"></div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<label class="champForm">
								<span class="lib-form block editeur">texte de description</span>
								<textarea id="id_description_sondage_quiz" name="text_description" class="large-textarea"></textarea>
							</label>
						</div>
					</div>
					
					<div class = "row separator"></div>
					<div class = "row separator"></div>
					
					<div id = "question-emplacement-1" class = "question-emplacement"></div>
					<div id = "question-emplacement-2" class = "question-emplacement"></div>
					<div id = "question-emplacement-3" class = "question-emplacement"></div>
					<div id = "question-emplacement-4" class = "question-emplacement"></div>
					<div id = "question-emplacement-5" class = "question-emplacement"></div>
					<div id = "question-emplacement-6" class = "question-emplacement"></div>
					<div id = "question-emplacement-7" class = "question-emplacement"></div>
					<div id = "question-emplacement-8" class = "question-emplacement"></div>
					<div id = "question-emplacement-9" class = "question-emplacement"></div>
					
					<div class = "row separator"></div>
					
					<div class = "content-questionnaire">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<a class="add-field-link add add-field-question" href="#">ajouter une question (<span class="custom-field-allowed-container">9</span> maximum)</a>
							</div>
						</div>
					</div>
					
					<div class = "row separator"></div>
					<div class = "row separator"></div>
					
					<div class="row">
						<div class="col-12 col-md-6" style="text-align:center;">
							<button class="btn-valider valider submit-form" data-id="426">enregistrer</button>
						</div>
						
						<div class="col-12 col-md-6" style="text-align:center;">
							<button class="btn-valider valider submit-form">publier</button>
						</div>
					</div>
					
				</section>
            </div>
        </div>

        <div class = "row separator"></div>
		
		<p class = "chargementAjax hidden">
            <img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
        </p>
		<input id = "UrlAjoutQuestions" type = "hidden" name = "UrlAjoutQuestions" value = "{{ path("admin_communication_sondage_quiz_add_question") }}">
		<input id = "UrlAjoutReponses" type = "hidden" name = "UrlAjoutReponses" value = "{{ path("admin_communication_sondage_quiz_add_reponses") }}">
    </main>

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>   
            <script src="{{ asset('ckeditor-uploader/ckeditor.js') }}"></script>                     
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('datepicker/i18n/datepicker-fr.js') }}"></script>
            <script src="{{ asset('js/communications/sondages-quiz.js') }}"></script>  
            <script>
                $(document).ready(function(){
                    CKEDITOR.replace( 'id_description_sondage_quiz', {
                        language: 'fr',
                        uiColor: '#9AB8F3',
                        height: 150,
                        width: 600,
                        customConfig: "{{ asset('ckeditor-uploader/custom/config-general.js') }}",
                    });

                    CKEDITOR.on("instanceReady", function(){
                        $('.cke_wysiwyg_frame').contents().find('body').css(
                            'background-color', '#F5F5F5'
                        )
                    });
                });
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}