{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}

    {{ render(controller('AdminBundle:Parametrages:sidebar',{'active':6})) }}
    {# {{ include("AdminBundle:Parametrages:menu-sidebar-parametrages.html.twig") }} #}

    <main class="col-md-9  offset-md-1 float-left main">

        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
					<ul class="content-menu-niv-3 hidden-lg-up">
						<li class="nav-item-niv-3 form-inscription">
							<a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_content_configure_login_portal") }}">portail / identification </a>
							<span class = "bulle-aide"></span>
						</li>
					</ul>
                    <div class="navbar-collapse collapse col-12" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription hidden-md-down">
                                <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_content_configure_login_portal") }}">portail / identification </a>
                                <span class = "bulle-aide"></span>
                            </li>

                            <li class="nav-item-niv-3 form-imports">
                                <a class="nav-link-niv-3 menu-page" href="#">page d'accueil </a>
                                <span class = "bulle-aide"></span>
                            </li>

                            <li class="nav-item-niv-3 form-imports">
                                <a class="nav-link-niv-3 menu-page" href="#">pages standard </a>
                                <span class = "bulle-aide"></span>
                            </li>

                            <li class="nav-item-niv-3 form-imports">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_table_network") }}">tableaux / réseaux </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>

        <div class = "row">
            <div class = "col-12 col-md-12">
                <section class="fieldset active">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <h3 class="hidden-sm-down block-title">Création / édition du portail d'identification</h3>
                            <h5 class="hidden-md-up block-title">Création / édition du portail d'identification</h5>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="hidden-sm-down corner-circle-img img-content-login-portal rounded-circle"></div>
                        </div>
                    </div>
                    {% if login_portal_data_form is defined %}
                        {{ form_start(login_portal_data_form, {"attr": {"novalidate": "novalidate"}}) }}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-md-12">
                            <div class="row form-element-container">
                                <div class="col-lg-1 col-md-1 col-sm-12">
                                    {{ form_label(login_portal_data_form.title, 'titre') }}
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            {{ form_widget(login_portal_data_form.title, {"attr": {"class": "large-input-text"}}) }}
                                        </div>
                                    </div>
                                    <div class="row error-message-container">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            {{ form_errors(login_portal_data_form.title) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            {{ form_label(login_portal_data_form.text, 'texte') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            {{ form_widget(login_portal_data_form.text, {"attr": {"class": "large-textarea"}}) }}
                        </div>
                        <div class="col-lg-12 error-message-container">
                            {{ form_errors(login_portal_data_form.text) }}
                        </div>
                    </div>
                    <div class="row nav-tabs-container">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="nav nav-tabs fieldset-nav-tabs">
                                {% for slide in login_portal_data_form.login_portal_slides %}
                                <a class="tab nav-tab {{ 1 == loop.index ? 'active' : '' }}" data-toggle="tab" href="#tab-form-{{ loop.index }}">
                                    <span class="tab-name-container">slide {{ loop.index }}</span>
                                    <span class="delete-tab" data-slide-id="{{ slide.vars.value.getId }}"></span>
                                </a>
                                {% endfor %}
                                <a href="#" class="tab add-option-tab add add-slide-link">
                                    <span class = "ajout-btn-slide">ajouter un slide</span>
                                </a>
                            </ul>
                            <a class="tab nav-tab tab-model block-model" data-toggle="tab" href="">
                                <span class="tab-name-container"></span>
                                <span class="delete-tab"></span>
                            </a>
                            <input type="hidden" name="add_slide_url" value="{{ path("admin_content_configure_login_portal_add_slide") }}">
                            <input type="hidden" name="delete_slide_url" value="{{ path("admin_content_configure_login_portal_delete_slide", {"id": "__id__"}) }}">
                        </div>
                    </div>
                    <div class="row tab-content">
                        {% for slide in login_portal_data_form.login_portal_slides %}
                            <div class="col-lg-12 col-md-12 col-sm-12 tab-pane {{ 1 == loop.index ? 'in active' : '' }}" id="tab-form-{{ loop.index }}" data-tab-index="{{ loop.index }}">
                                <div class="row form-element-container">
                                    <div class="col-lg-1 col-md-1 col-sm-12">
                                        <label>image</label>
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                {{ form_widget(slide.image, {"attr":{"class": "hidden-input-file slide-image-input"}}) }}
                                                <button class="btn-valider btn-upload choose-upload-img-button">
                                                    <span class="upload"></span> Choisissez un fichier...
                                                </button>
                                                <button class="upload-img-button hidden-button">
                                                    <span class="blue-upload"></span><span class="img-name-container"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 info-container">
                                                <p>taille optimale de l'image : <span class="bigger">1920x766 px</span></p>
                                                <p>les fichiers doivent peser moins de <span class="bigger">8 Mo</span></p>
                                                <p>formats de fichier pris en charge : <span class="bigger">jpeg, png, gif</span></p>
                                            </div>
                                        </div>
                                        <div class="row error-message-container">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                {{ form_errors(slide.image) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label>prévisualisation</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 login-portal-image-preview-container">
                                        {% set slide_image = '' %}
                                        {% if original_slides_image is defined %}
                                            {% if slide.vars.value.getId in original_slides_image | keys %}
                                                {% if original_slides_image[slide.vars.value.getId] is not null and original_slides_image[slide.vars.value.getId] is not empty %}
                                                    {% set slide_image = original_slides_image[slide.vars.value.getId] %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        <img class="login-portal-image-preview" src="{{ '' != slide_image ? asset(content_login_portal_slide_image_location ~ slide_image) : '' }}">
                                    </div>
                                </div>
                                <div class="row form-element-container">
                                    <div class="col-lg-2 col-md-2 col-sm-12 slide-unit-order-label-container">
                                        {{ form_label(slide.slide_order, "ordre d'apparition") }}
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-12">
                                        {{ form_widget(slide.slide_order, {"attr":{"class": "radio-order-form-element"}}) }}
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-12">
                                    {{ form_errors(slide.slide_order) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="block-model-container">
                        <div class="col-lg-12 col-md-12 col-sm-12 tab-pane block-model tab-content-model">
                            <div class="row form-element-container">
                                <div class="col-lg-1 col-md-1 col-sm-12">
                                    {{ form_label(login_portal_data_form.login_portal_slides.vars.prototype.image, 'image') }}
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            {{ form_widget(login_portal_data_form.login_portal_slides.vars.prototype.image, {"attr":{"class": "hidden-input-file slide-image-input"}}) }}
                                            <button class="btn-valider btn-upload choose-upload-img-button">
                                                <span class="upload"></span> Choisissez un fichier...
                                            </button>
                                            <button class="upload-img-button hidden-button">
                                                <span class="blue-upload"></span><span class="img-name-container"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 info-container">
                                            <p>taille optimale de l'image : <span class="bigger">1920x766 px</span></p>
                                            <p>les fichiers doivent peser moins de <span class="bigger">8 Mo</span></p>
                                            <p>formats de fichier pris en charge : <span class="bigger">jpeg, png, gif</span></p>
                                        </div>
                                    </div>
                                    <div class="row error-message-container">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            {{ form_errors(login_portal_data_form.login_portal_slides.vars.prototype.image) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>prévisualisation</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 login-portal-image-preview-container">
                                    <img class="login-portal-image-preview" src="">
                                </div>
                            </div>
                            <div class="row form-element-container">
                                <div class="col-lg-2 col-md-2 col-sm-12 slide-unit-order-label-container">
                                    {{ form_label(login_portal_data_form.login_portal_slides.vars.prototype.slide_order, "ordre d'apparition") }}
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-12">
                                {{ form_widget(login_portal_data_form.login_portal_slides.vars.prototype.slide_order, {"attr":{"class": "radio-order-form-element"}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="slide-unit-order-container block-model slide-unit-order-container-model" data-order="">
                            <div>
                                <label for="" class="slide-unit-order-label-container">1</label>
                            </div>
                            <div>
                                <input class="styled-checkbox bigger" value="" type="radio" id="">
                                <label for=""></label>
                            </div>
                        </div>
                    </div>
                    <div class="row submit-button-container submit-button-container-contenu">
                        <div class="col-lg-12">
                            <button class ="btn-valider valider submit-form">
                                valider
                            </button>
                        </div>
                    </div>
                        {{ form_end(login_portal_data_form) }}
                    {%  endif %}
                </section>
            </div>
        </div>

        <div class = "row separator"></div>
    </main>

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('js/admin-parameters-contents.js') }}"></script>
            <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
            <script>
                $(document).ready(function(){
                    CKEDITOR.replace( 'login_portal_data_form_text', {
                        language: 'fr',
                        uiColor: '#9AB8F3',
                        height: 150,
                        width: 600,
                        customConfig: "{{ asset('ckeditor/custom/config-general.js') }}",
                    });
                });
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}