{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/admin-resultat-form.css") }}" rel="stylesheet"> 
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}

{{ render(controller('AdminBundle:Parametrages:sidebar',{'active':3})) }}
{# {{ include("AdminBundle:Parametrages:menu-sidebar-parametrages.html.twig") }} #}

<main class="col-md-9  offset-md-1 float-left main">
    {# {{ dump(site_form_setting) }} #}
    <div class = "row">
        <div class = "col-12 col-md-12 sous-menu-main">
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
				<ul class="content-menu-niv-3 hidden-lg-up">
					<li class="nav-item-niv-3 form-inscription">
						<a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_resultats_declaration") }}">formulaire de déclaration </a>
						<span class = "bulle-aide" data-trigger-id="trigger-declaration"></span>
					</li>
				</ul>
                <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                    <ul class="navbar-nav content-menu-niv-3">
                        <li class="nav-item-niv-3 form-inscription hidden-md-down">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_resultats_declaration") }}">formulaire de déclaration </a>
                            <span class = "bulle-aide" data-trigger-id="trigger-declaration"></span>
                        </li>

                        <li class="nav-item-niv-3 form-imports">
                            <a class="nav-link-niv-3 menu-page" href="{{ path("admin_resultats_declaration_import") }}">import de fichiers des résultats </a>
                            <span class = "bulle-aide" data-trigger-id="trigger-import"></span>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand abs" href="#"></a>

                <!-- dialog - bulles d'aide -->
                <button id="trigger-declaration" type="button" class="btn btn-primary page-help-dialog-trigger" data-toggle="modal" data-target="#page-help-dialog-declaration"></button>
                <div id="page-help-dialog-declaration" class="modal fade page-help-dialog" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="modal-body-container">
                                    <div class="question-mark"></div>
                                    <div class="text-container">
                                        <h3 class="hidden-sm-down">Cette rubrique vous permet de créer le formulaire de déclaration des résultats par vos participants.</h3>
                                        <h5 class="hidden-md-up">Cette rubrique vous permet de créer le formulaire de déclaration des résultats par vos participants.</h5>
                                        <p>
                                            Vos participants déclareront leurs résultats à l'aide de ce formulaire pour bénéficier de leurs récompenses.
                                            Afin de sécuriser ces déclarations, vous avez la possibilité de valider la déclaration des résultats de chaque participant avant
                                            l'attribution de ses points dans la rubrique « Validations ».
                                            Vous pouvez aussi demander que cette déclaration soit accompagnée du téléchargement d'une pièce justificative.
                                        </p>
                                    </div>
                                    <div>
                                        <button class ="btn-valider return" data-dismiss="modal">
                                            retour
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="trigger-import" type="button" class="btn btn-primary page-help-dialog-trigger" data-toggle="modal" data-target="#page-help-dialog-import"></button>
                <div id="page-help-dialog-import" class="modal fade page-help-dialog" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="modal-body-container">
                                    <div class="question-mark"></div>
                                    <div class="text-container">
                                        <h3 class="hidden-sm-down">Cette rubrique vous permet d'importer directement le fichier de vos participants et de leurs résultats sous format CSV, dans votre plateforme de récompense.</h3>
                                        <h5 class="hidden-md-up">Cette rubrique vous permet d'importer directement le fichier de vos participants et de leurs résultats sous format CSV, dans votre plateforme de récompense.</h5>
                                        <p>
                                            Vous pourrez faire vos imports à chaque besoin de mise à jours de vos participants ou de leurs résultats.
                                            Exportez le modèle de fichier correspondant le plus à vos besoins, après avoir sélectionné vos options.
                                            Puis importez votre fichier de résultats une fois complété.
                                            Attention, certaines colonnes doivent obligatoirement être renseignées.
                                        </p>
                                    </div>
                                    <div>
                                        <button class ="btn-valider return" data-dismiss="modal">
                                            retour
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN dialog - bulle d'aide -->
            </nav>
        </div>
    </div>

    <div class = "row principal">
        <div class = "col-12 col-md-12 sous-menu-main">
            <section id = "create-form-inscription" class = "fieldset active">  
                
                <div class = "row full-width no-contents">
                    <div class = "col-md-8 col-lg-9 col-sm-12 content-bloc-droite">
                        <h3 class = "hidden-sm-down">Cette rubrique vous permet de créer le formulaire de déclaration des résultats par vos participants</h3>
                        <h5 class = "hidden-md-up">Cette rubrique vous permet de créer le formulaire de déclaration des résultats par vos participants</h5>                     
                    </div>
                    <div class = "col-md-2 col-lg-1 hidden-sm-down">
                    </div>
                    <div class = "col-md-2 col-lg-2 hidden-sm-down">
                        <div class = " content-bloc-gauche img-form-declaration rounded-circle"></div> 
                    </div>
                </div>

                <div class = "row full-width">
                    <div class = "row col-12 col-md-10">
                        <div class="col-md-6 col-sm-12"> 
                            <div class="options-form">                         
                                <input id="c1" name="validate" type="checkbox" {{ (site_form_setting.validation)?"checked":"" }} value = "">
                                <label for="c1">
                                    <span></span>
                                    <div>
                                        <b>valider les déclarations</b>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12"> 
                            <div class="options-form">
                                <input id="c2" name="piece_request" type="checkbox" {{ (site_form_setting.hasPieces)?"checked":"" }} value = "">
                                <label for="c2">
                                    <span></span>  
                                    <div>                              
                                        <b>demander une pièce justificative</b><br>
                                        <span>(ticket, contrat, bon de commande etc.)</span>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div class="options-form"> 
                                <input id="c3" name="header" type="checkbox" {{ (site_form_setting.hasHeadText)?"checked":"" }} value = "">
                                <label for="c3">
                                    <span></span>  
                                    <div>
                                        <b>rédiger un texte de présentation</b>
                                    </div>                              
                                </label>                                                         
                            </div>
                        </div>                        
                    </div>
                    <textarea name="editor" id="editor" rows="4" onmouseup="textfunc" >
                        {{ (site_form_setting.hasHeadText)?site_form_setting.headText:"" }}
                    </textarea> 
                </div>       

                <div class = "row full-width">
                    <div class="alert-parent">
                        <div class= "col-12 col-md-12 navbar">
                            <ul class="nav navbar-nav" id="product-tabs">
								{% for field in fields %}
									{% if field[0].level > 1 %}
										<a data-toggle="tab"  href="#tab-form-{{ field[0].level }}">
											produit {{ field[0].level }}
											<span class="delete-form-level"></span>
										</a>
									{% else %}
										<a data-toggle="tab"  href="#tab-form-{{ field[0].level }}">
											CA ou produit {{ field[0].level }}
											<span class="delete-form-level"></span>
										</a>
									{% endif %}
								{% endfor %}
								<a href="#" class ="add add-product btn-next-product">
									ajouter un produit
								</a>                                   
                            </ul>
                        </div>
                    </div>
                </div>

               <div class = "row full-width tab-content">
                    {% for site_form_field_settings in fields %}                        
                        <div class = "col-12 col-md-12 tab-pane" id="tab-form-{{ site_form_field_settings[0].level }}">
                            <div>
                                <input type="hidden" name="level" value="{{ site_form_field_settings[0].level }}">
                                <table id="sortable-table-{{ site_form_field_settings[0].level }}" class="sortable-table" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="thead-fix">
                                                <input id="cl-{{ site_form_field_settings[0].level }}-1" class="checkbox-publish-all" type="checkbox">
                                                <label for="cl-{{ site_form_field_settings[0].level }}-1">
                                                    <p style = "margin:0;padding:0;" class = "hidden-md-down"><span class = "hidden-lg-down">champs à </span>publier</p>
                                                    <span class = "grises"></span>
                                                </label>    
                                            </th>
                                            <th class="thead-fix">
                                                <input id="cl-{{ site_form_field_settings[0].level }}-2" class="checkbox-mandatory-all" type="checkbox">
                                                <label for="cl-{{ site_form_field_settings[0].level }}-2">
                                                    <p style = "margin:0;padding:0;" class = "hidden-md-down"><span class = "hidden-lg-down">rendre </span>obligatoire</p>
                                                    <span class = "grises"></span>
                                                </label> 
                                            </th>
                                            <th>liste des champs</th>
                                            <th width="15%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if site_form_field_settings is defined and site_form_field_settings is not empty %}
                                        {% set row_set = [] %}
                                        {% set nb_line = 0 %}
                                        {% set has_personalizable = false %} 
                                        {% for site_form_field_setting in site_form_field_settings %}
                                            {% if site_form_field_setting.personalizable != true %}
                                                {% if site_form_field_setting.inRow not in row_set %}
                                                    {% if site_form_field_setting.inRow != null %}
                                                        {{ render(controller(
                                                            'AdminBundle:PartialPage:siteFormManyFieldsRow',
                                                            {'field' : site_form_field_setting}
                                                            ))
                                                        }}
                                                        {% set row_set = row_set|merge([site_form_field_setting.inRow]) %}
                                                        {% set nb_line = nb_line + 1 %}
                                                    {% else %}
                                                        {% set nb_line = nb_line + 1 %}
                                                        {{ render(controller(
                                                            'AdminBundle:PartialPage:siteFormFieldRow2',
                                                            {'field' : site_form_field_setting}
                                                            ))
                                                        }}
                                                    {% endif %}                                        
                                                {% endif %} 
                                            {% else %}  
                                                    {% set has_personalizable = true %}      
                                            {% endif %}                                       
                                        {% endfor %}
                                        {# {{ dump(row_set) }} #}
                                       {% endif %}                                       
                                        <tr {{ (not has_personalizable)?"style='display:none'":""}} class="head-personalized">
                                            <td></td>
                                            <td></td>
                                            <td>champ(s) personnalisé(s)</td>
                                            <td></td>                                            
                                        </tr>
                                        {% for site_form_field_setting in site_form_field_settings %}
                                            {% if site_form_field_setting.personalizable == true %}
                                                {% if site_form_field_setting.inRow not in row_set %}
                                                    {% if site_form_field_setting.inRow != null %}
                                                        {{ render(controller(
                                                            'AdminBundle:PartialPage:siteFormManyFieldsRow',
                                                            {'field' : site_form_field_setting, 'personalize': true}
                                                            ))
                                                        }}
                                                        {% set row_set = row_set|merge([site_form_field_setting.inRow]) %}
                                                        {% set nb_line = nb_line + 1 %}
                                                    {% else %}
                                                        {% set nb_line = nb_line + 1 %}
                                                        {{ render(controller(
                                                            'AdminBundle:PartialPage:siteFormFieldRow2',
                                                            {'field' : site_form_field_setting, 'personalize': true}
                                                            ))
                                                        }}
                                                    {% endif %}                                        
                                                {% endif %}                                        
                                            {% endif %}                                        
                                        {% endfor %} 
                                        {% set custom_field_allowed = max_line - nb_line %}                                     
                                    </tbody>
                                </table>
                            </div>
                            
                            {# ajout de champs #}
                                <div class="add-field-form-block">
                                    <table class="add-form" {{ (custom_field_allowed < 1)?"style='display:none;'":"" }} width="100%">
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <a class="add add-field-link-declaration" href="#">ajouter un champ ({{ custom_field_allowed }} maximum)</a>
                                                    <input type="hidden" name="custom-field-allowed" value="{{ custom_field_allowed }}">
                                                </td>                                       
                                            </tr>
                                        </tfoot>                                  
                                    </table>
                            </div>
                        </div>  
                    {% endfor %}                              
                </div>
            
                <div class = "row full-width">
                    <div class = "col-12 col-md-12">
                        <div class="validation">
                            {{ form_start(form_structure_form) }}
                                {{ form_widget(form_structure_form) }}
                                <button class ="btn-valider valider">
                                    valider
                                </button>
                            {{ form_end(form_structure_form) }}
                        </div>
                    </div>
                </div>

            <button type="button" id="btn-modal" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"> modal</button>

            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close-modal" data-dismiss="modal" aria-label="Close"></a>
                    </div>
                    <div class="content">
                    <div>
                </div>
              </div>
            </div>

            </section>
        </div>
    </div>
    <input type="hidden" name="config_editor" value="{{ asset('ckeditor/custom/config-general.js') }}">
    <input type="hidden" name="admin_new_resultat" value="{{ path('admin_new_resultat_declaration') }}">
    <input type="hidden" name="admin_delete_resultat" value="{{ path('admin_delete_resultat_declaration', { 'level': "PLACEHOLDER" }) }}">
    <input type="hidden" name="admin_new_field_resultat" value="{{ path("admin_new_field_declaration") }}">
    
    <div class="new-add"></div>    
    <div class = "row separator"></div>
</main>

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
            <script src="{{ asset('js/admin-resultat-form.js') }}"></script>           
        {% endblock %}
    {% endembed %}
{% endblock %}