{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/admin-resultat-form.css") }}" rel="stylesheet">            
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet"> 
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}

{{ render(controller('AdminBundle:Parametrages:sidebar',{'active':5})) }}

<main class="col-md-9  offset-md-1 float-left main">
    {# {{ dump(site_design_form_logo) }}
    {{ dump(site_design_form_colors) }}
    {{ dump(site_design_form_police) }} #}

    <div class = "row">
        <div class = "col-12 col-md-12 sous-menu-main">
			<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
				<div class="navbar" id="collapsingNavbarFormInscription">
					<ul class="navbar-nav content-menu-niv-3">
						<li class="nav-item-niv-3 form-inscription">
							<a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_resultats_declaration") }}">design : marque, logo, couleurs et police </a> 
							<span class = "bulle-aide"></span>
						</li>
					</ul>
				</div>
			</nav>
        </div>
    </div>

    <div class = "row principal">
        <div class = "col-12 col-md-12 sous-menu-main">
            <section id = "create-form-inscription" class = "fieldset active">                 
                <div class = "row full-width no-contents">
                    <div class = "col-md-8 col-lg-9 col-sm-12 content-bloc-droite">
                        <h3 class = "hidden-sm-down">Option logo</h3>
                        <h5 class = "hidden-md-up">Option logo</h5>                     
                    </div>
                    <div class = "col-md-2 col-lg-1 hidden-sm-down">
                    </div>
                    <div class = "col-md-2 col-lg-2 hidden-sm-down">
                        <div class = " content-bloc-gauche img-design-logo rounded-circle"></div> 
                    </div>
                </div>
                {{ form_start(site_design_form_logo) }}
                    <div class = "row full-width second-logo">                    
                        <div class = "col-12 col-md-10 logo-row">
                            <label for="site_design_setting_logo_name"><span class='bld'>nom de la société *</span></label>
                            {{ form_widget(site_design_form_logo.logo_name) }}                            
                        </div>
                        <div class = "col-12 col-md-10 logo-row">
                            <label for="societe-logo"><span class='bld'>logo de la société</span></label>
                            <button class="upload-img-button hidden-button">
                                <span class="blue-upload"></span>
                                <span class="img-name-container"></span>
                            </button>
                            <button class ="btn-valider btn-upload">
                                <span class="upload"></span>                          
                                choisissez un fichier...
                            </button>
                            {{ form_widget(site_design_form_logo.logo_path) }}
                            <p>(pour un rendu optimal, exporter en png fond transparent au dimensions : L 290px x H 66px)</p>
                            
                            {{ form_errors(site_design_form_logo.logo_path) }}
                        </div>                 
                    </div>                
                    <div class = "row full-width">
                        <div class = "col-12 col-md-12">
                            <div class="validation">
                                <button class ="btn-valider valider">
                                    valider
                                </button>
                            </div>
                        </div>
                    </div>
                {{ form_end(site_design_form_logo) }}
            </section>
        </div>
    </div>

    <div class = "row principal">
        <div class = "col-12 col-md-12 sous-menu-main">
            <section id = "create-form-inscription" class = "fieldset inactive">                  
                <div class = "row full-width no-contents">
                    <div class = "col-md-8 col-lg-9 col-sm-12 content-bloc-droite">
                        <h3 class = "hidden-sm-down">Customiser à vos couleurs</h3>
                        <h5 class = "hidden-md-up">Customiser à vos couleurs</h5> 
                        <p>
                            Cliquer dans chaque pastille pour en modifier la couleur.
                        </p>                    
                    </div>
                    <div class = "col-md-2 col-lg-1 hidden-sm-down">
                    </div>
                    <div class = "col-md-2 col-lg-2 hidden-sm-down">
                        <div class = " content-bloc-gauche img-design-color rounded-circle"></div> 
                    </div>
                </div> 
                {{ form_start(site_design_form_colors) }}
                    <div class="row full-width all-colors">
                        <div class="col-lg-3 col-sm-6 col-12">                            
                            <div class="form-group-color">
                                <label for="default-value"><span class="bld">Couleur 1 </span>(principale/boutons)</label>
                                <br>
                                {{ form_widget(site_design_form_colors.colors.couleur_1, {"attr":{'class':"color-value" , 'data-defaultValue': site_design_form_colors.colors.couleur_1.vars.value}}) }}                                                           
                            </div>
                        </div> 
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group-color">
                                <label for="default-value"><span class="bld">Couleur 1 Bis </span>(dégradé)</label>
                                <br>
                                {{ form_widget(site_design_form_colors.colors.couleur_1_bis, {"attr":{'class':"color-value" , 'data-defaultValue': site_design_form_colors.colors.couleur_1_bis.vars.value}}) }}    
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group-color">
                                <label for="default-value"><span class="bld">Couleur 2 </span>(sidebar/titres...)</label>
                                <br>
                                {{ form_widget(site_design_form_colors.colors.couleur_2, {"attr":{'class':"color-value" , 'data-defaultValue': site_design_form_colors.colors.couleur_2.vars.value}}) }}                           
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group-color">
                                <label for="default-value"><span class="bld">Couleur 3 </span>(menu)</label>
                                <br>
                                {{ form_widget(site_design_form_colors.colors.couleur_3, {"attr":{'class':"color-value" , 'data-defaultValue': site_design_form_colors.colors.couleur_3.vars.value}}) }}                            
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group-color">
                                <label for="default-value"><span class="bld">Couleur 4 </span>(police)</label>
                                <br>
                                {{ form_widget(site_design_form_colors.colors.couleur_4, {"attr":{'class':"color-value" , 'data-defaultValue': site_design_form_colors.colors.couleur_4.vars.value}}) }}                           
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group-color">
                                <label for="default-value"><span class="bld">Couleur 5 </span>(sidebar off)</label>
                                <br>
                                {{ form_widget(site_design_form_colors.colors.couleur_5, {"attr":{'class':"color-value" , 'data-defaultValue': site_design_form_colors.colors.couleur_5.vars.value}}) }}                            
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group-color">
                                <label for="default-value"><span class="bld">Couleur 6 </span>(background)</label>
                                <br>
                                {{ form_widget(site_design_form_colors.colors.couleur_6, {"attr":{'class':"color-value" , 'data-defaultValue': site_design_form_colors.colors.couleur_6.vars.value}}) }}                            
                            </div>
                        </div>
                    </div>                                           
                
                    <div class = "row full-width">
                        <div class = "col-12 col-md-6">
                            <div class="validation validation-gauche">
                                <button class ="btn-valider valider">
                                    valider
                                </button>
                            </div>
                        </div>
                        <div class = "col-12 col-md-6">
                            <div class="validation validation-droite">
                                <button class ="btn-valider valider initialize">
                                    retour aux couleurs par défaut
                                </button>
                            </div>
                        </div>                        
                    </div>
                {{ form_end(site_design_form_colors) }}
            </section>
        </div>
    </div>

    <div class = "row principal">
        <div class = "col-12 col-md-12 sous-menu-main">
            <section id = "create-form-inscription" class = "fieldset inactive">                
                <div class = "row full-width no-contents">
                    <div class = "col-md-8 col-lg-9 col-sm-12 content-bloc-droite">
                        <h3 class = "hidden-sm-down">Choisissez votre police</h3>
                        <h5 class = "hidden-md-up">Choisissez votre police</h5> 
                        <p>
                            Sélectionner une famille de police ci-dessous pour modifier la police de vos contenus.
                        </p>                 
                    </div>
                    <div class = "col-md-2 col-lg-1 hidden-sm-down">
                    </div>
                    <div class = "col-md-2 col-lg-2 hidden-sm-down">
                        <div class = " content-bloc-gauche img-design-police rounded-circle"></div> 
                    </div>
                </div> 
                
                {{ form_start(site_design_form_police) }}
                    <div class = "row full-width second">
                        <div class = "row">
                                <div class="col-md-6 col-sm-12 police-option">
                                    <div class="police-opt">                                        
                                        <span class="police-title">Roboto</span> 
                                        <div class="right-radio">
                                            {{ form_widget(site_design_form_police.police.0) }}
                                            <label for="site_design_setting_police_0">                                         
                                                <span></span>           
                                            </label>
                                        </div>                                    
                                        <div class='police-img'>
                                            {# <img src="{{ asset('images/cloudsRewards/roboto-img.png')}}"> #}
                                            <span class="police-text roboto">
                                                ​‌A​‌B​‌C​‌D​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌​‌a​‌b​‌c​‌d​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌\​‌<​‌-​‌+​‌÷​‌×​‌=​‌>​‌®​‌©​‌$​‌€​‌£​‌¥​‌¢​‌:​‌;​‌,​‌.​‌*
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                                 <div class="col-md-6 col-sm-12 police-option">
                                    <div class="police-opt">
                                        <span class="police-title">Open Sans</span> 
                                        <div class="right-radio">
                                            {{ form_widget(site_design_form_police.police.1) }}
                                            <label for="site_design_setting_police_1">                                         
                                                <span></span>           
                                            </label>
                                        </div>                                    
                                        <div class='police-img'>
                                            {# <img src="{{ asset('images/cloudsRewards/opensans-img.png')}}"> #}
                                            <span class="police-text opensans">
                                                ​‌A​‌B​‌C​‌D​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌​‌a​‌b​‌c​‌d​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌\​‌<​‌-​‌+​‌÷​‌×​‌=​‌>​‌®​‌©​‌$​‌€​‌£​‌¥​‌
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12 police-option">
                                    <div class="police-opt">
                                        <span class="police-title">Lato</span> 
                                        <div class="right-radio">
                                            {{ form_widget(site_design_form_police.police.2) }}
                                            <label for="site_design_setting_police_2">
                                                <span></span>           
                                            </label>
                                        </div>                                    
                                        <div class='police-img'>
                                            {# <img src="{{ asset('images/cloudsRewards/lato-img.png')}}"> #}
                                            <span class="police-text lato">
                                                ​‌A​‌B​‌C​‌D​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌​‌a​‌b​‌c​‌d​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌\​‌<​‌-​‌+​‌÷​‌×​‌=​‌>​‌®​‌©​‌$​‌€​‌£​‌¥​‌¢​‌:​‌;​‌,​‌.​‌*
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6 col-sm-12 police-option">
                                    <div class="police-opt">
                                        <span class="police-title">Adamina</span> 
                                        <div class="right-radio">
                                            {{ form_widget(site_design_form_police.police.3) }}
                                            <label for="site_design_setting_police_3">                                         
                                                <span></span>           
                                            </label>
                                        </div>                                    
                                        <div class='police-img'>
                                            {# <img src="{{ asset('images/cloudsRewards/petrona-img.png')}}"> #}
                                            <span class="police-text adamina">
                                                ​‌A​‌B​‌C​‌D​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌​‌a​‌b​‌c​‌d​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌\​‌<​‌-​‌
                                            </span>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-6 col-sm-12 police-option">
                                    <div class="police-opt">
                                        <span class="police-title">Petrona</span> 
                                        <div class="right-radio">
                                            {{ form_widget(site_design_form_police.police.4) }}
                                            <label for="site_design_setting_police_4">
                                                <span></span>           
                                            </label>
                                        </div>                                    
                                        <div class='police-img'>
                                            {# <img src="{{ asset('images/cloudsRewards/petrona-img.png')}}"> #}
                                            <span class="police-text petrona">
                                                ​‌A​‌B​‌C​‌D​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌​‌a​‌b​‌c​‌d​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌\​‌<​‌-​‌+​‌÷​‌×​‌=​‌>​‌®​‌©​‌$​‌€​‌£​‌¥​‌¢​‌:​‌;​‌,​‌.​‌*
                                            </span>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-6 col-sm-12 police-option">
                                    <div class="police-opt">
                                        <span class="police-title">Comfortaa</span> 
                                        <div class="right-radio">
                                            {{ form_widget(site_design_form_police.police.5) }}
                                            <label for="site_design_setting_police_5">
                                                <span></span>           
                                            </label>
                                        </div>                                    
                                        <div class='police-img'>
                                            {# <img src="{{ asset('images/cloudsRewards/comforta-img.png')}}"> #}
                                            <span class="police-text comfortaa">
                                                ​‌A​‌B​‌C​‌D​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌​‌a​‌b​‌c​‌d​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌\​‌<​‌-​‌
                                            </span>
                                        </div>
                                    </div>
                                </div>                     
                            
                        </div>
                    </div>              
                
                    <div class = "row full-width">
                        <div class = "col-12 col-md-12">
                            <div class="validation">
                                <button class ="btn-valider valider">
                                    valider
                                </button>
                            </div>
                        </div>
                    </div>
                {{ form_end(site_design_form_police) }}
            </section>
        </div>
    </div>

    <div class = "row separator"></div>
</main>

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset("js/admin-import.js") }}"></script>
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>            
        {% endblock %}
    {% endembed %}
{% endblock %}