{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/admin-resultat-form.css") }}" rel="stylesheet">            
            <link href="{{ asset("minicolors/css/jquery.minicolors.css") }}" rel="stylesheet"> 
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}

{{ render(controller('AdminBundle:Parametrages:sidebar',{'active':5})) }}

<main class="col-md-9  offset-md-1 float-left main">
    {# {{ dump(site_form_setting) }} #}
    <div class = "row">
        <div class = "col-12 col-md-12 sous-menu-main">
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                    <ul class="navbar-nav content-menu-niv-3">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_resultats_declaration") }}">design : marque, logo, couleurs et police </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription">
                    <i class="fa fa-navicon fa-2x py-2 p-1"></i>
                </button>
                <a class="navbar-brand abs" href="#"></a>
            </nav>
        </div>
    </div>

    <div class = "row principal">
        <div class = "col-12 col-md-12 sous-menu-main">
            <section id = "create-form-inscription" class = "fieldset active">                 
                <div class = "row full-width no-contents">
                    <div class = "col-md-8 col-lg-9 col-sm-12 content-bloc-droite">
                        <h3 class = "hidden-sm-down">Option logo</h3>
                        <h5 class = "hidden-md-up">Option logo</h5>                     
                    </div>
                    <div class = "col-md-2 col-lg-1 hidden-sm-down">
                    </div>
                    <div class = "col-md-2 col-lg-2 hidden-sm-down">
                        <div class = " content-bloc-gauche img-design-logo rounded-circle"></div> 
                    </div>
                </div>
                <div class = "row full-width second-logo">
                    <div class = "col-12 col-md-10 logo-row">
                        <label for="societe-nom"><span class='bld'>nom de la société *</span></label>
                        <input type="text" name="societe-nom" id="societe-nom">
                    </div>
                    <div class = "col-12 col-md-10 logo-row">
                        <label for="societe-logo"><span class='bld'>logo de la société</span></label>
                        <button class ="btn-valider btn-upload">
                            <span class="upload"></span>                          
                            choisissez un fichier...
                        </button>
                        <input type="file" name="societe-logo" id="societe-logo">
                        <p>(pour un rendu optimal, exporter en png fond transparent au dimensions : L 290px x H 66px)</p>
                    </div>
                </div>
                <div class = "row full-width">
                    <div class = "col-12 col-md-12">
                        <div class="validation">
                            <button class ="btn-valider valider">
                                valider
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <section id = "create-form-inscription" class = "fieldset inactive">                  
                <div class = "row full-width no-contents">
                    <div class = "col-md-8 col-lg-9 col-sm-12 content-bloc-droite">
                        <h3 class = "hidden-sm-down">Customiser à vos couleurs</h3>
                        <h5 class = "hidden-md-up">Customiser à vos couleurs</h5> 
                        <p>
                            Sélectionner une couleur, copier/coller la référence pour la reporter dans le champ de la couleur que vous souhaitez modifier.
                        </p>                    
                    </div>
                    <div class = "col-md-2 col-lg-1 hidden-sm-down">
                    </div>
                    <div class = "col-md-2 col-lg-2 hidden-sm-down">
                        <div class = " content-bloc-gauche img-design-color rounded-circle"></div> 
                    </div>
                </div> 

                <div class="row full-width second-couleur">
                    <div class="col-md-6 col-12 roue">
                        <img src="{{ asset('images/cloudsRewards/roue.png') }}">
                    </div>
                    <div class="col-md-6 col-12 first-color">
                        <div class="form-group-color">
                            <label for="default-value">Couleur selectionnée</label>
                            <br>
                            <input type="text" id="default-value" class="color-value" data-defaultValue="#1d61d4">                            
                        </div>
                    </div> 
                </div>

                <div class="row full-width all-colors">
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group-color">
                            <label for="default-value"><span class="bld">Couleur 1 </span>(principale/boutons)</label>
                            <br>
                            <input type="text" id="default-value" class="color-value" data-defaultValue="#1d61d4">                            
                        </div>
                    </div> 
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group-color">
                            <label for="default-value"><span class="bld">Couleur 1 Bis </span>(dégradé)</label>
                            <br>
                            <input type="text" id="default-value" class="color-value" data-defaultValue="#598fea">                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group-color">
                            <label for="default-value"><span class="bld">Couleur 2 </span>(sidebar/titres...)</label>
                            <br>
                            <input type="text" id="default-value" class="color-value" data-defaultValue="#7682da">                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group-color">
                            <label for="default-value"><span class="bld">Couleur 3 </span>(menu)</label>
                            <br>
                            <input type="text" id="default-value" class="color-value" data-defaultValue="#505050">                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group-color">
                            <label for="default-value"><span class="bld">Couleur 4 </span>(police)</label>
                            <br>
                            <input type="text" id="default-value" class="color-value" data-defaultValue="#505050">                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group-color">
                            <label for="default-value"><span class="bld">Couleur 5 </span>(sidebar off)</label>
                            <br>
                            <input type="text" id="default-value" class="color-value" data-defaultValue="#807f81">                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group-color">
                            <label for="default-value"><span class="bld">Couleur 6 </span>(background)</label>
                            <br>
                            <input type="text" id="default-value" class="color-value" data-defaultValue="#ebeeef">                            
                        </div>
                    </div>
                </div>                                           
            
                <div class = "row full-width">
                    <div class = "col-12 col-md-12">
                        <div class="validation">
                            <button class ="btn-valider valider">
                                valider
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <section id = "create-form-inscription" class = "fieldset inactive">                  
                <div class = "row full-width no-contents">
                    <div class = "col-md-8 col-lg-9 col-sm-12 content-bloc-droite">
                        <h3 class = "hidden-sm-down">Choisissez votre police</h3>
                        <h5 class = "hidden-md-up">Choisissez votre police</h5> 
                        <p>
                            Sélectionner une famille de police ci-dessous pour modifier la police de vos contenus.
                        </p>                 
                    </div>
                    <div class = "col-md-2 col-lg-1 hidden-sm-down">
                    </div>
                    <div class = "col-md-2 col-lg-2 hidden-sm-down">
                        <div class = " content-bloc-gauche img-design-police rounded-circle"></div> 
                    </div>
                </div> 

                <div class = "row full-width second">
                    <div class = "row col-12 col-md-12">
                            <div class="col-md-6 col-sm-12 police-option">
                                <div class="police-opt">
                                    <span class="police-title">Roboto</span> 
                                    <div class="right-radio">
                                        <input id="roboto" type="radio" name="police" value="Roboto">
                                        <label for="roboto">                                         
                                            <span></span>           
                                        </label>
                                    </div>                                    
                                    <div class='police-img'>
                                        <img src="{{ asset('images/cloudsRewards/petrona-img.png')}}">
                                    </div>
                                </div>
                            </div>
                            
                             <div class="col-md-6 col-sm-12 police-option">
                                <div class="police-opt">
                                    <span class="police-title">Open Sans</span> 
                                    <div class="right-radio">
                                        <input id="open_sans" type="radio" name="police" value="Open Sans">
                                        <label for="open_sans">                                         
                                            <span></span>           
                                        </label>
                                    </div>                                    
                                    <div class='police-img'>
                                        <img src="{{ asset('images/cloudsRewards/petrona-img.png')}}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 police-option">
                                <div class="police-opt">
                                    <span class="police-title">Lato</span> 
                                    <div class="right-radio">
                                        <input id="Lato" type="radio" name="police" value="Lato">
                                        <label for="Lato">                                         
                                            <span></span>           
                                        </label>
                                    </div>                                    
                                    <div class='police-img'>
                                        <img src="{{ asset('images/cloudsRewards/petrona-img.png')}}">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-sm-12 police-option">
                                <div class="police-opt">
                                    <span class="police-title">Adamina</span> 
                                    <div class="right-radio">
                                        <input id="Adamina" type="radio" name="police" value="Adamina">
                                        <label for="Adamina">                                         
                                            <span></span>           
                                        </label>
                                    </div>                                    
                                    <div class='police-img'>
                                        <img src="{{ asset('images/cloudsRewards/petrona-img.png')}}">
                                    </div>
                                </div>
                            </div> 

                            <div class="col-md-6 col-sm-12 police-option">
                                <div class="police-opt">
                                    <span class="police-title">Petrona</span> 
                                    <div class="right-radio">
                                        <input id="Petrona" type="radio" name="police" value="Petrona">
                                        <label for="Petrona">                                         
                                            <span></span>           
                                        </label>
                                    </div>                                    
                                    <div class='police-img'>
                                        <img src="{{ asset('images/cloudsRewards/petrona-img.png')}}">
                                    </div>
                                </div>
                            </div> 

                            <div class="col-md-6 col-sm-12 police-option">
                                <div class="police-opt">
                                    <span class="police-title">Comfortaa</span> 
                                    <div class="right-radio">
                                        <input id="comfortaa" type="radio" name="police" value="Comfortaa">
                                        <label for="comfortaa">                                         
                                            <span></span>           
                                        </label>
                                    </div>                                    
                                    <div class='police-img'>
                                        <img src="{{ asset('images/cloudsRewards/comforta-img.png')}}">
                                    </div>
                                </div>
                            </div>                     
                        
                    </div>
                </div>              
            
                <div class = "row full-width">
                    <div class = "col-12 col-md-12">
                        <div class="validation">
                            <button class ="btn-valider valider">
                                valider
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class = "row separator"></div>
</main>

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset("minicolors/js/jquery.minicolors.js") }}"></script>
                <script>
                    $(document).ready( function() {
                        $('.color-value').each( function() {
                            $(this).minicolors({
                              control: $(this).attr('data-control') || 'brightness',
                              defaultValue: $(this).attr('data-defaultValue') || '',
                              format: $(this).attr('data-format') || 'hex',
                              keywords: $(this).attr('data-keywords') || '',
                              inline: $(this).attr('data-inline') === 'true',
                              letterCase: $(this).attr('data-letterCase') || 'lowercase',
                              opacity: $(this).attr('data-opacity'),
                              position: $(this).attr('data-position') || 'bottom left',
                              swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
                              change: function(value, opacity) {
                                if( !value ) return;
                                if( opacity ) value += ', ' + opacity;
                                if( typeof console === 'object' ) {
                                  console.log(value);
                                }
                              },
                              theme: 'bootstrap'
                            });
                        });
                    });
                </script>
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}