{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/admin-resultat-form.css") }}" rel="stylesheet"> 
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}

{{ render(controller('AdminBundle:Parametrages:sidebar',{'active':3})) }}
{# {{ include("AdminBundle:Parametrages:menu-sidebar-parametrages.html.twig") }} #}

<main class="col-md-9  offset-md-1 float-left main">
    {# {{ dump(site_form_setting) }} #}
    <div class = "row">
        <div class = "col-12 col-md-12 sous-menu-main">
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
				<ul class="content-menu-niv-3 hidden-lg-up">
					<li class="nav-item-niv-3 form-imports">
						<a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_resultats_declaration_import") }}">import de fichiers des résultats </a>
						<span class = "bulle-aide"></span>
					</li>
				</ul>
                <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                    <ul class="navbar-nav content-menu-niv-3">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page" href="{{ path("admin_resultats_declaration") }}">formulaire de déclaration </a>
                            <span class = "bulle-aide"></span>
                        </li>

                        <li class="nav-item-niv-3 form-imports hidden-md-down">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_resultats_declaration_import") }}">import de fichiers des résultats </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand abs" href="#"></a>
            </nav>
        </div>
    </div>

    <div class = "row principal">
        <div class = "col-12 col-md-12 sous-menu-main">
            <section id = "create-form-inscription" class = "fieldset active little">  
                
                <div class = "row full-width no-contents">
                    <div class = "col-md-10 col-sm-12 content-bloc-droite">
                        <h3 class = "hidden-sm-down">Cette rubrique vous permet d'importer directement le fichier de vos participants et de leurs résultats sous format CSV, dans votre plateforme de récompense.</h3>
                        <h5 class = "hidden-md-up">Cette rubrique vous permet d'importer directement le fichier de vos participants et de leurs résultats sous format CSV, dans votre plateforme de récompense.</h5>                  
                    </div>
                    
                    <div class = "col-md-2 hidden-sm-down">
                        <div class = " content-bloc-gauche img-import-declaration rounded-circle"></div> 
                    </div>
                </div>

                <div class = "row full-width">
                    <div class = "row col-12 col-md-12">
                        {{ form_start(setting_form,{"attr": {"novalidate": "novalidate"}}) }} 
                            <div class="col-md-12 col-sm-12 line-option"> 
                                <div class="options-form">
                                    {{ form_widget(setting_form.monthly.0) }}
                                    <label for="result_setting_monthly_0">
                                        <span></span>
                                        <div>
                                            <span class = "import-choix">vous ferez une mise à jour mensuelle ou trimestrielle des résultats de vos participants ?</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 line-option"> 
                                <div class="options-form">
                                    {{ form_widget(setting_form.monthly.1) }}
                                    <label for="result_setting_monthly_1">
                                        <span></span>  
                                        <div>                              
                                            <span class = "import-choix">vous ferez plusieurs mises à jour des résultats de vos participants dans le mois ?</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 line-option">                             
                            </div>
                            <div class="col-md-12 col-sm-12 line-option"> 
                                <div class="options-form">
                                    {{ form_widget(setting_form.by_product) }}
                                    <label for="result_setting_by_product">
                                        <span></span>  
                                        <div>                              
                                            <span class = "import-choix">les récompenses de vos participants seront différentes en fonction des produits vendus ?</span><br>
                                            <span>(5 produits maximum)</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 line-option">
                                <div class="options-form"> 
                                    {{ form_widget(setting_form.by_rank) }} 
                                    <label for="result_setting_by_rank">
                                        <span></span>  
                                        <div>
                                            <span class = "import-choix">les récompenses de vos participants seront différents en fonction de leur rang commercial ?</span><br>
                                            <span>(6 rangs maximum, exemple : directeur national, directeur régional, directeur d'agence, agent commercial, distributeur, assistant commercial)</span>
                                        </div>                              
                                    </label>                                                         
                                </div>
                            </div>                        
                        {{ form_end(setting_form) }}
                    </div>
                </div>  

                <div class = "row full-width button-row btn-content-retour-valider">
                    {# <div class = "col-12 col-md-6"> #}
                        <div class="validation-gauche">
                            <button class ="btn-valider btn-download">
                                <span class="download"></span>
                                télécharger le modèle
                            </button>
                        </div>
                    {# </div> #}
                    {# <div class = "col-12 col-md-6"> #}
                        <div class="validation-droite">
                            <button class ="btn-valider btn-upload">
                                <span class="upload"></span>                          
                                importer le fichier complété
                            </button>               
                            {{ form_start(form_upload,{"attr": {"novalidate": "novalidate"}}) }}  
                                {{ form_widget(form_upload,{"attr": {"style": "display:none"}}) }}   
                            {{ form_end(form_upload) }}
                        </div>
                    {# </div>                         #}
                </div>
                <input type='hidden' name="url" value="{{ path("admin_resultats_declaration_import") }}">
                
                <div class="error-message-container">
                    {{ form_errors(form_upload.uploaded_file) }}
                    {% if error_list is defined and error_list is not empty %}
                        <ul>                        
                        {% for error in error_list %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                {% for message in app.flashes('success_message') %}
                    <div class="message-container">
                        {{ message }}
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
</main>

{% endblock %}
{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('js/admin-import.js') }}"></script>           
        {% endblock %}
    {% endembed %}
{% endblock %}