{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/admin-parameters-registration.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block main %}

{{ render(controller('AdminBundle:Parametrages:sidebar',{'active':2})) }}
{# {{ include("AdminBundle:Parametrages:menu-sidebar-parametrages.html.twig") }} #}

<main class="col-md-9 offset-md-1 float-left main">

    <div class = "row">
        <div class = "col-12 col-md-12 sous-menu-main">
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
                <div class="navbar-collapse collapse" id="collapsingNavbarFormInscription">
                    <ul class="navbar-nav content-menu-niv-3">
                        <li class="nav-item-niv-3 form-inscription">
                            <a class="nav-link-niv-3 menu-page" href="{{ path("admin_parametrages_inscriptions") }}">Formulaire d'inscription </a>
                            <span class = "bulle-aide"></span>
                        </li>

                        <li class="nav-item-niv-3 form-imports">
                            <a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_parametrages_inscriptions_imports") }}">Import de fichiers et flux </a>
                            <span class = "bulle-aide"></span>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription">
                    <i class="fa fa-navicon fa-2x py-2 p-1"></i>
                </button>
                <a class="navbar-brand abs" href="#"></a>
            </nav>
        </div>
    </div>

    <div class = "row">
        <div class = "col-12 col-md-12">
            <section id = "import-form-inscription" class = "fieldset active">
                <div class="row">
                    <div class="col-lg-10">
                        <h3 class="hidden-sm-down block-title">Cette rubrique vous permet d'importer directement le fichier de vos participants sous format CSV dans votre plateforme de récompense</h3>
                        <h5 class="hidden-md-up block-title">Cette rubrique vous permet d'importer directement le fichier de vos participants sous format CSV dans votre plateforme de récompense</h5>
                    </div>
                    <div class="col-lg-2">
                        <div class="hidden-sm-down corner-circle-img img-import-inscription rounded-circle"></div>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-12 col-md-12 col-lg-12">
                        <ul class = "content-option">
                            <li class = "options">
                                <div class = "content-titre">
                                    Pour commencer votre programme aujourd'hui. Choisissez une option :
                                </div>
                                <div class = "content-description">
                                    <label id = "choix-radio-1" class = "radioBtn checked">
                                        <input id = "option-option-1" class = "input-radio" type = "hidden" name = "option-1" value = "1">
                                    </label>
                                    <div class = "content-description-texte">
                                        <p>Les participants à votre programme de récompense vont déclarer leurs resultats ?</p>
                                        <p>Dans ce cas, télécharger le modèle de fichier.</p>
                                        <p>Puis importez le avec les coordonnées des participants</p>
                                    </div>
                                </div>
                                <div class = "content-btn-action row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <a href="{{ path("admin_parametrages_inscriptiions_imports_telecharger_modele") }}">
                                            <button class ="btn-valider btn-download">
                                                <span class="download"></span>
                                                télécharger le modèle
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <button class ="btn-valider btn-upload btn-upload-registration-data">
                                            <span class="upload"></span>
                                            importer le fichier complété
                                        </button>
                                        {% if registration_form is defined and registration_form is not null %}
                                            {{ form_start(registration_form, {"attr": {"novalidate": "novalidate", "class": "hidden-upload-form"}}) }}
                                                {{ form_widget(registration_form.registration_data) }}
                                            <div class="error-message-container">
                                                {{ form_errors(registration_form.registration_data) }}
                                            </div>
                                            <input type="submit" value="Importer le fichier complété">
                                            {{ form_end(registration_form) }}
                                        {% endif %}

                                        {% if error_list is defined and error_list is not empty %}
                                            <div class="error-message-container">
                                                <ul>
                                                {% for error in error_list %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}

                                        {% for message in app.flashes('success_message') %}
                                            <div class="message-container">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    {# OLD DOWNLOAD BUTTON
                                    <a href="{{ path("admin_parametrages_inscriptiions_imports_telecharger_modele") }}">
                                        <button id = "btn-valider-option" class = "btn-valider-download">
                                            <span class = "libelle_btn_dowload">Télécharger le modèle</span>
                                        </button>
                                    </a>#}

                                    {# new donwload button #}
                                    {#<a href="{{ path("admin_parametrages_inscriptiions_imports_telecharger_modele") }}">
                                        <button class ="btn-valider btn-download">
                                            <span class="download"></span>
                                            télécharger le modèle
                                        </button>

                                    </a>#}


                                    {#{% if registration_form is defined and registration_form is not null %}
                                        {{ form_start(registration_form, {"attr": {"novalidate": "novalidate"}}) }}
                                        {{ form_widget(registration_form.registration_data) }}
                                        {{ form_errors(registration_form.registration_data) }}
                                        <input type="submit" value="Importer le fichier complété">
                                        {{ form_end(registration_form) }}
                                    {% endif %}#}

                                    {# OLD UPLOAD BUTTON
                                    <button id = "btn-valider-challenge" class = "btn-valider-upload">
                                        <span class = "libelle_btn_upload">Importer le fichier complété</span>
                                    </button>#}

                                    {# new upload button #}
                                    {#<button class ="btn-valider btn-upload">
                                        <span class="upload"></span>
                                        importer le fichier complété
                                    </button>#}
                                </div>
                            </li>

                            <li class = "options">
                                <div class = "content-titre"></div>
                                <div class = "content-description">
                                    <label id = "choix-radio-2" class = "radioBtn unchecked">
                                        <input id = "option-option-2" class = "input-radio" type = "hidden" name = "option-2" value = "1">
                                    </label>
                                    <div class = "content-description-texte">
                                        <p>Vous allez aussi déclarer les resultats de vos participants par import de fichier CSV ?</p>
                                        <p>Dans ce cas, passez à l'étape suivante, pour avoir un modèle de fichier complet des participants et des résultats</p>
                                    </div>
                                </div>
                                <div class = "content-btn-action btn-etape-suivante">
                                    <button id = "btn-valider-option" class = "btn-valider-suivante btn-valider">
                                        étape suivante
                                    </button>
                                </div>
                            </li>

                            <li class = "options">
                                <div class = "content-titre">
                                    Mise à jours automatique des résultats
                                </div>
                                <div class = "content-description">
                                    <label id = "choix-radio-3" class = "radioBtn unchecked">
                                        <input id = "option-option-3" class = "input-radio" type = "hidden" name = "option-3" value = "1">
                                    </label>
                                    <div class = "content-description-texte">
                                        <p>Vous préférez mettre en place un système d'échange d'informations continu entre vous CRM et votre plateforme de récompense ?</p>
                                        <p>Dans ce cas notre équipe prendra contact avec vous pour vous accompagner dans la mise en place d'un web service ou d'une API</p>
                                    </div>
                                </div>
                                <div class = "content-btn-action btn-etape-contacter">
                                    <button id = "btn-valider-option" class = "btn-valider-contacter btn-valider">
                                        être contacté
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                {#<div class = "content-bloc-droite">
                    <h3 class = "hidden-sm-down">Cette rubrique vous permet d'importer directement le fichier de vos participants sous format CSV dans votre plateforme de récompense</h3>
                    <h5 class = "hidden-md-up">Cette rubrique vous permet d'importer directement le fichier de vos participants sous format CSV dans votre plateforme de récompense</h5>
                    <div class = "row">
                        <div class = "col-12 col-md-12 col-lg-12">
                            <ul class = "content-option">
                                <li class = "options">
                                    {% for message in app.flashes('success_message') %}
                                    <div class="flash-notice">
                                        {{ message }}
                                    </div>
                                    {% endfor %}

                                    {% if error_list is defined and error_list is not empty %}
                                    <div>
                                        {% for error in error_list %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <div class = "content-titre">
                                        Pour commencer votre programme aujourd'hui. Choisissez une option :
                                    </div>
                                    <div class = "content-description">
                                        <label id = "choix-radio-1" class = "radioBtn checked">
                                            <input id = "option-option-1" class = "input-radio" type = "hidden" name = "option-1" value = "1">
                                        </label>
                                        <div class = "content-description-texte">
                                            <p>Les participants à votre programme de récompense vont déclarer leurs resultats ?</p>
                                            <p>Dans ce cas, télécharger le modèle de fichier.</p>
                                            <p>Puis importez le avec les coordonnées des participants</p>
                                        </div>
                                    </div>
                                    <div class = "content-btn-action">
                                        <a href="{{ path("admin_parametrages_inscriptiions_imports_telecharger_modele") }}">
                                            <button id = "btn-valider-option" class = "btn-valider-download">
                                                <span class = "libelle_btn_dowload">Télécharger le modèle</span>
                                            </button>
                                        </a>

                                        {% if registration_form is defined and registration_form is not null %}
                                            {{ form_start(registration_form, {"attr": {"novalidate": "novalidate"}}) }}
                                                {{ form_widget(registration_form.registration_data) }}
                                                {{ form_errors(registration_form.registration_data) }}
                                            <input type="submit" value="Importer le fichier complété">
                                            {{ form_end(registration_form) }}
                                        {% endif %}
                                        <button id = "btn-valider-challenge" class = "btn-valider-upload">
                                            <span class = "libelle_btn_upload">Importer le fichier complété</span>
                                        </button>
                                    </div>
                                </li>

                                <li class = "options">
                                    <div class = "content-titre"></div>
                                    <div class = "content-description">
                                        <label id = "choix-radio-2" class = "radioBtn unchecked">
                                            <input id = "option-option-2" class = "input-radio" type = "hidden" name = "option-2" value = "1">
                                        </label>
                                        <div class = "content-description-texte">
                                            <p>Vous allez aussi déclarer les resultats de vos participants par import de fichier CSV ?</p>
                                            <p>Dans ce cas, passez à l'étape suivante, pour avoir un modèle de fichier complet des participants et des résultats</p>
                                        </div>
                                    </div>
                                    <div class = "content-btn-action btn-etape-suivante">
                                        <button id = "btn-valider-option" class = "btn-valider-suivante">
                                            étape suivante
                                        </button>
                                    </div>
                                </li>

                                <li class = "options">
                                    <div class = "content-titre">
                                        Mise à jours automatique des résultats
                                    </div>
                                    <div class = "content-description">
                                        <label id = "choix-radio-3" class = "radioBtn unchecked">
                                            <input id = "option-option-3" class = "input-radio" type = "hidden" name = "option-3" value = "1">
                                        </label>
                                        <div class = "content-description-texte">
                                            <p>Vous préférez mettre en place un système d'échange d'informations continu entre vous CRM et votre plateforme de récompense ?</p>
                                            <p>Dans ce cas notre équipe prendra contact avec vous pour vous accompagner dans la mise en place d'un web service ou d'une API</p>
                                        </div>
                                    </div>
                                    <div class = "content-btn-action btn-etape-contacter">
                                        <button id = "btn-valider-option" class = "btn-valider-contacter">
                                            être contacter
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class = "content-bloc-gauche img-import-inscription hidden-sm-down rounded-circle"></div>#}
            </section>
        </div>
    </div>

    <div class = "row separator"></div>
</main>

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('js/admin-parameters-registration.js') }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}