<input type="hidden" name="field_id" value="{{ (field_id is defined)?field_id:"" }}">
<div><h4>personnaliser le champ</h4></div>
<div class="row intitule">
    <label class="vertical-align-element-container">
        <div class="titre-label">intitulé du champ</div>
        {% set delete_input_visibility = 'style=display:none' %}
        {% if label is defined and label | trim is not empty %}
            {% set delete_input_visibility = '' %}
        {% endif %}
        <input class="removable-content-input fixed-size" name="intitule" type="text" value ="{{ (label is defined)?label:"" }}" placeholder="par exemple : nom de l'agence, région, etc.">
        <span class="delete-input" {{ delete_input_visibility }}></span>
    </label>    
</div>
<div class="row line" >
    <input id="alpha-radio" {{ (type=="alphanum")?"checked":""}} name="type_field" type='radio' value="alphanum">
    <label for="alpha-radio">
        <div class="titre-label">type alphanumérique</div> <span></span> <input type='text' >
    </label>
</div>
<div class="row line" >
    <input id="choice-radio" {{ (type=="choice-radio")?"checked":""}} name="type_field" type='radio' value="choice-radio">
    <label for="choice-radio">
        <div class="titre-label">type case à cocher</div> <span></span>
        <div class="date-field-form">
            <div class="champs-form-radio">
                <span class="input-radio"></span>
                <span class="input-libelle-radio">oui</span>
            </div>
            <div class="champs-form-radio">
                <span class="input-radio"></span>
                <span class="input-libelle-radio">non</span>
            </div>
        </div>
    </label>    
</div>
<div class="row line" >
    <input id="date-radio" {{ (type=="date")?"checked":""}} name="type_field" type='radio' value="date">
    <label for="date-radio">
        <div class="titre-label">type date</div> <span></span>
        {# <div class="date-field-form"> #}
            <input type='text' value='  JJ' maxlength='2' class='day'>
            <input type='text' value='MM' maxlength='2' class='month'>
            <input type='text' value='AAAA' maxlength='4' class='year'>
        {# </div> #}
    </label>
</div>
<div class="row line" >
    <input id="period-radio" {{ (type=="period")?"checked":""}} name="type_field" type='radio' value="period">
    <label for="period-radio">
        <div class="titre-label">type période </div><span></span>
        {# <div class="date-field-form"> #}
            <input type='text' value='  JJ' maxlength='2' class='day'>
            <input type='text' value='MM' maxlength='2' class='month'>
            <input type='text' value='AAAA' maxlength='4' class='year'>
        {# </div> #}
        <div class="period-a">à</div>
        {# <div class="date-field-form"> #}
            <input type='text' value='  JJ' maxlength='2' class='day'>
            <input type='text' value='MM' maxlength='2' class='month'>
            <input type='text' value='AAAA' maxlength='4' class='year'>
        {# </div> #}
    </label>
</div>
<input type="hidden" name='level' value="{{ level }}">
{% if field_id is defined and field_id > 0 %}
    <button class ="update btn-valider">
        sauvegarder
    </button>
{% else %}
    <button class ="ajouter btn-valider">
        ajouter
    </button>
{% endif %}