{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/admin-pages-standard.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}

    {{ render(controller('AdminBundle:Parametrages:sidebar',{'active':6})) }}
    {# {{ include("AdminBundle:Parametrages:menu-sidebar-parametrages.html.twig") }} #}

    <main class="col-md-9  offset-md-1 float-left main">
		<input id = "url_ajax_supprimer_img" type = "hidden" value = "{{ path("admin_pages_standard_supprimer_img") }}" name = "url_ajax_supprimer_img">
		<input id = "url_customs_ckeditor" type = "hidden" value = "{{ asset('ckeditor/custom/config-general.js') }}" name = "url_customs_ckeditor">
        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
					<ul class="content-menu-niv-3 hidden-lg-up">
						<li class="nav-item-niv-3 form-inscription">
							<a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_pages_standard") }}">pages standard </a>
							<span class = "bulle-aide"></span>
						</li>
					</ul>
                    <div class="navbar-collapse collapse col-12" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3 between">
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_content_configure_login_portal") }}">portail / identification </a>
                                <span class = "bulle-aide"></span>
                            </li>

                            <li class="nav-item-niv-3 form-imports">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_content_configure_home_page") }}">page d'accueil </a>
                                <span class = "bulle-aide"></span>
                            </li>

                            <li class="nav-item-niv-3 form-imports hidden-md-down">
                                <a class="nav-link-niv-3 menu-page menu-page-active" href="{{ path("admin_pages_standard") }}">pages standard </a>
                                <span class = "bulle-aide"></span>
                            </li>

                            <li class="nav-item-niv-3 form-imports">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_table_network") }}">tableaux / réseaux </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>

        <div class = "row">
            <div class = "col-12 col-md-12">
				<section class="fieldset active">
					<div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <h3 class="hidden-sm-down block-title">Choisissez les pages que vous souhaitez voir apparaître dans vos rubriques</h3>
                            <h5 class="hidden-md-up block-title">Choisissez les pages que vous souhaitez voir apparaître dans vos rubriques</h5>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="hidden-sm-down corner-circle-img img-content-pages-standard rounded-circle"></div>
                        </div>
                    </div>
					
					<form id = "IDFormPageStandard" name = "FormPageStandard" method = "POST" action = "{{ path("admin_pages_standard") }}" enctype = "multipart/form-data">
						<div class="row">
							<div class = "col-12">
								<div class = "content-pages-chooses">
									<ul class = "list-choix-page">
										{% set counter = 1 %}
										{% for Pages in AllPages %}
											{% if Pages.NomPage is defined %}
												<li id = "li-onglet-page-{{ Pages.Id }}" data-role = "onglet" class = "pages-list">
													<span class = "lib-onglet-choix-page">{{ Pages.NomPage }}</span>
													{% if Pages.StatusPage == 1 %}
														<span id = "onglet-page-{{ Pages.Id }}" class = "checkon-onglet-choix-page" data-role = "checked-unchecked"></span>
													{% elseif Pages.StatusPage == 0 %}
														<span id = "onglet-page-{{ Pages.Id }}" class = "check-onglet-choix-page" data-role = "checked-unchecked"></span>
													{% else %}
														<span id = "onglet-page-{{ Pages.Id }}" class = "check-onglet-choix-page" data-role = "checked-unchecked"></span>
													{% endif %}
													
													
													<input id = "id-nom-page-input-{{ Pages.Id }}" type = "hidden" name = "nom_page[]" value = "{{ Pages.NomPage }}">
													{% if Pages.StatusPage is defined %}
														<input id = "id-status-page-input-{{ Pages.Id }}" type = "hidden" name = "status_page[]" value = "{{ Pages.StatusPage }}">
													{% else %}
														<input id = "id-status-page-input-{{ Pages.Id }}" type = "hidden" name = "status_page[]" value = "0">
													{% endif %}
													<input id = "id-id-page-input-{{ Pages.Id }}" type = "hidden" name = "id_page[]" value = "{{ Pages.Id }}">
												</li>
											{% else %}
												<li id = "li-onglet-page-{{ Pages.Id }}" data-role = "onglet" class = "pages-list">
													<span class = "lib-onglet-choix-page">{{ Pages.PageName }}</span>
													<span id = "onglet-page-{{ Pages.Id }}" class = "check-onglet-choix-page" data-role = "checked-unchecked"></span>
													<input id = "id-nom-page-input-{{ Pages.Id }}" type = "hidden" name = "nom_page[]" value = "{{ Pages.PageName }}">
													<input id = "id-status-page-input-{{ Pages.Id }}" type = "hidden" name = "status_page[]" value = "0">
													<input id = "id-id-page-input-{{ Pages.Id }}" type = "hidden" name = "id_page[]" value = "{{ Pages.Id }}">
												</li>
											{% endif %}
											{% set counter = counter + 1 %}
										{% endfor %}
										<li class = "pages-list-ajout">
											<span class = "img-ajout-page add"></span>
											<span class = "lib-ajout-page">ajouter une page</span>
										</li>
									</ul>
								</div>
								
								<div class = "content-page-content">
									<div id = "id-content-dynamic-pages" class = "content-dynamic-pages">
										{% for Pages in AllPages %}
											<div id = "id-content-page-body-{{ Pages.Id }}" class = "content-page-body" style = "display:none;">
											{% if Pages.NomPage is defined %}
												<label class = "champForm">
													<span class = "lib-form">nom du menu</span>
													<input class = "input-form-text" type = "text" name = "menu_page[]" value = "{{ Pages.MenuPage }}" placeholder = "" style = "padding-left:10px!important;">
												</label>
												
												<div class = "clearBoth"></div>


												<label class = "champForm">
													<span class = "lib-form">titre</span>
													<input style = "padding-left:10px!important;" class = "input-form-text" type = "text" name = "titre_page[]" value = "{{ Pages.TitrePage }}" placeholder = "">
												</label>
												
												<div class = "clearBoth"></div>
												<div class = "clearBoth"></div>

												<label class = "champForm">
													<span class = "lib-form block">ajouter logo ou image</span>
													{% if Pages.Path is defined and Pages.Path is not null %}
														<button id = "btn-upload-img-page-standard-{{ Pages.Id }}" class="btn-valider-etat btn-upload choose-upload-img-button" type = "button">
															<span id = "id-lib-upload-{{ Pages.Id }}" class="uploaded"></span> 
															<span id = "lib-btn-pages-{{ Pages.Id }}">{{ Pages.Path }}</span>
														</button>
														<img id = "img-delete-img-{{ Pages.Id }}" class = "img-delete-img" src = "{{ asset("images/cloudsRewards/delete.png") }}">
													{% else %}
														<button id = "btn-upload-img-page-standard-{{ Pages.Id }}" class="btn-valider btn-upload choose-upload-img-button" type = "button">
															<span id = "id-lib-upload-{{ Pages.Id }}" class="upload"></span> 
															<span id = "lib-btn-pages-{{ Pages.Id }}">choisissez un fichier...</span>
														</button>
													{% endif %}
													
													<input style = "display:none;" id = "input-upload-img-page-standard-{{ Pages.Id }}" type = "file" name = "img_page[]" class = "input-upload-img-page-standard">
													<div class = "info-container">
														<p>les fichiers doivent peser moins de <span class="bigger">8 Mo</span></p>
														<p>formats de fichier pris en charge : <span class="bigger">jpeg, png, gif</span></p>
													</div>
												</label>
												
												<div class = "clearBoth"></div>
												<div class = "clearBoth"></div>

												<label class = "champForm">
													<span class = "lib-form block editeur">texte</span>
													{% if Pages.ContenuPage is defined %}
														<textarea id="login_portal_data_form_text-{{ Pages.Id }}" name="contenu_page[]" class="large-textarea">{{ Pages.ContenuPage }}</textarea>
													{% else %}
														<textarea id="login_portal_data_form_text-{{ Pages.Id }}" name="contenu_page[]" class="large-textarea"></textarea>
													{% endif %}

												</label>
											{% else %}
												<label class = "champForm">
													<span class = "lib-form">nom du menu</span>
													<input class = "input-form-text" type = "text" name = "menu_page[]" value = "{{ Pages.PageName }}" placeholder = "{{ Pages.PageName }}" style = "padding-left:10px!important;">
												</label>
												
												<div class = "clearBoth"></div>


												<label class = "champForm">
													<span class = "lib-form">titre</span>
													<input style = "padding-left:10px!important;" class = "input-form-text" type = "text" name = "titre_page[]" value = "{{ Pages.PageName }}" placeholder = "{{ Pages.PageName }}">
												</label>
												
												<div class = "clearBoth"></div>
												<div class = "clearBoth"></div>

												<label class = "champForm">
													<span class = "lib-form block">ajouter logo ou image</span>
													<button id = "btn-upload-img-page-standard-{{ Pages.Id }}" class="btn-valider btn-upload choose-upload-img-button" type = "button">
														<span id = "id-lib-upload-{{ Pages.Id }}" class="upload"></span> 
														<span id = "lib-btn-pages-{{ Pages.Id }}">choisissez un fichier...</span>
													</button>
													
													<input style = "display:none;" id = "input-upload-img-page-standard-{{ Pages.Id }}" type = "file" name = "img_page[]" class = "input-upload-img-page-standard">
													<div class = "info-container">
														<p>les fichiers doivent peser moins de <span class="bigger">8 Mo</span></p>
														<p>formats de fichier pris en charge : <span class="bigger">jpeg, png, gif</span></p>
													</div>
												</label>
												
												<div class = "clearBoth"></div>
												<div class = "clearBoth"></div>

												<label class = "champForm">
													<span class = "lib-form block editeur">texte</span>
													{% if Pages.ContenuPage is defined %}
														<textarea id="login_portal_data_form_text-{{ Pages.Id }}" name="contenu_page[]" class="large-textarea">{{ Pages.ContenuPage }}</textarea>
													{% else %}
														<textarea id="login_portal_data_form_text-{{ Pages.Id }}" name="contenu_page[]" class="large-textarea"></textarea>
													{% endif %}
												</label>
											{% endif %}
											</div>
											
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						
						<div class = "row">
							<div class = "col-12">
								<label class = "champForm">
									<button class="btn-valider valider submit-form block-center">
										valider
									</button>
								</label>
							</div>
						</div>
					</form>
				</section>
			</div>
        </div>

        <div class = "row separator"></div>
		
		<p class = "chargementAjax">
			<img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
		</p>
    </main>

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('js/admin-pages-standard.js') }}"></script>
			<script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}