{% extends "AdminBundle::layout.html.twig" %}

{% block header %}
    {% embed 'AdminBundle::header.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset("css/admin-pages-standard.css") }}" rel="stylesheet">
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}

    {{ render(controller('AdminBundle:Parametrages:sidebar',{'active':6})) }}
    {# {{ include("AdminBundle:Parametrages:menu-sidebar-parametrages.html.twig") }} #}

    <main class="col-md-9  offset-md-1 float-left main">
		<input id = "url_ajax_affiche_page" type = "hidden" value = "{{ path("admin_pages_standard_affiche") }}" name = "url_ajax_affiche_page">
        <div class = "row">
            <div class = "col-12 col-md-12 sous-menu-main">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-3">
					<ul class="content-menu-niv-3 hidden-lg-up">
						<li class="nav-item-niv-3 form-inscription">
							<a class="nav-link-niv-3 menu-page-active" href="{{ path("admin_pages_standard") }}">pages standard </a>
							<span class = "bulle-aide"></span>
						</li>
					</ul>
                    <div class="navbar-collapse collapse col-12" id="collapsingNavbarFormInscription">
                        <ul class="navbar-nav content-menu-niv-3">
                            <li class="nav-item-niv-3 form-inscription">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_content_configure_login_portal") }}">portail / identification </a>
                                <span class = "bulle-aide"></span>
                            </li>

                            <li class="nav-item-niv-3 form-imports">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_content_configure_home_page") }}">page d'accueil </a>
                                <span class = "bulle-aide"></span>
                            </li>

                            <li class="nav-item-niv-3 form-imports hidden-md-down">
                                <a class="nav-link-niv-3 menu-page menu-page-active" href="{{ path("admin_pages_standard") }}">pages standard </a>
                                <span class = "bulle-aide"></span>
                            </li>

                            <li class="nav-item-niv-3 form-imports">
                                <a class="nav-link-niv-3 menu-page" href="{{ path("admin_table_network") }}">tableaux / réseaux </a>
                                <span class = "bulle-aide"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarFormInscription" style = "margin-right: 0;right: 0;color: #505050;border: 1px solid black;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand abs" href="#"></a>
                </nav>
            </div>
        </div>

        <div class = "row">
            <div class = "col-12 col-md-12">
				<section class="fieldset active">
					<div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <h3 class="hidden-sm-down block-title">Choisissez les pages que vous souhaitez voir apparaître dans vos rubriques</h3>
                            <h5 class="hidden-md-up block-title">Choisissez les pages que vous souhaitez voir apparaître dans vos rubriques</h5>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="hidden-sm-down corner-circle-img img-content-pages-standard rounded-circle"></div>
                        </div>
                    </div>
					
					<form id = "IDFormPageStandard" name = "FormPageStandard" method = "POST" action = "">
						<div class="row">
							<div class = "col-12">
								<div class = "content-pages-chooses">
									<ul class = "list-choix-page">
										{% set counter = 1 %}
										{% for Pages in AllPages %}
											{% if Pages.NomPage is defined %}
												<li id = "li-onglet-page-{{ Pages.Id }}" data-role = "onglet" class = "pages-list">
													<span class = "lib-onglet-choix-page">{{ Pages.NomPage }}</span>
													<span id = "onglet-page-{{ Pages.Id }}" class = "check-onglet-choix-page" data-role = "checked-unchecked"></span>
													<input id = "id-nom-page-input-{{ Pages.Id }}" type = "hidden" name = "nom_page" value = "{{ Pages.NomPage }}">
													<input id = "id-status-page-input-{{ Pages.Id }}" type = "hidden" name = "status_page" value = "0">
												</li>
											{% else %}
												<li id = "li-onglet-page-{{ Pages.Id }}" data-role = "onglet" class = "pages-list">
													<span class = "lib-onglet-choix-page">{{ Pages.PageName }}</span>
													<span id = "onglet-page-{{ Pages.Id }}" class = "check-onglet-choix-page" data-role = "checked-unchecked"></span>
													<input id = "id-nom-page-input-{{ Pages.Id }}" type = "hidden" name = "nom_page" value = "{{ Pages.PageName }}">
													<input id = "id-status-page-input-{{ Pages.Id }}" type = "hidden" name = "status_page" value = "0">
												</li>
											{% endif %}
											{% set counter = counter + 1 %}
										{% endfor %}
										<li class = "pages-list-ajout">
											<span class = "img-ajout-page add"></span>
											<span class = "lib-ajout-page">ajouter une page</span>
										</li>
									</ul>
								</div>
								
								<div class = "content-page-content">
									<div id = "id-content-dynamic-pages" class = "content-dynamic-pages"></div>
								</div>
							</div>
						</div>
						
						<div class = "row">
							<div class = "col-12">
								<label class = "champForm">
									<button class="btn-valider valider submit-form block-center">
										valider
									</button>
								</label>
							</div>
						</div>
					</form>
				</section>
			</div>
        </div>

        <div class = "row separator"></div>
		
		<p class = "chargementAjax">
			<img src = "{{ asset('images/cloudsRewards/loading.gif') }}" alt = "Chargements ...." class = "img-fluid">
		</p>
    </main>

{% endblock %}

{% block footer %}
    {% embed 'AdminBundle::footer.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('js/admin-pages-standard.js') }}"></script>
			<script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
			<script>
                $(document).ready(function(){
                    CKEDITOR.replace( 'login_portal_data_form_text', {
                        language: 'fr',
                        uiColor: '#9AB8F3',
                        height: 150,
                        width: 600,
                        customConfig: "{{ asset('ckeditor/custom/config-general.js') }}",
                    });
                });
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}