<span class="modal-body-title">Édition d'un e-learning</span>

{% if e_learning_form is defined %}
<div class="preview-news-button-container">
    <span class="preview-news-button">aperçu</span>
</div>

{{ form_start(e_learning_form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-row">
        {#<label>titre</label>#}
        {{ form_label(e_learning_form.title, 'titre') }}
        {#<input type="text" class="large-input-text removable-content-input">#}
        {{ form_widget(e_learning_form.title, {'attr': {'class': 'large-input-text removable-content-input'}}) }}
        <span class="delete-input" style="display: none;"></span>
    </div>
    <div class="form-row error-message-container">
        {{ form_errors(e_learning_form.title) }}
    </div>
    <div class="form-row vertical">
        {#<label>texte</label>#}
        {{ form_label(e_learning_form.main_text, 'texte') }}
        {#<textarea class="large-textarea" id="news-text"></textarea>#}
        {{ form_widget(e_learning_form.main_text, {'attr': {'class': 'large-textarea'}}) }}
    </div>
    <div class="title-separator">
        <span class="title">médias</span><span class="separator-line"></span>
    </div>

    <!-- content list element -->
    <div class="media-content-list-container">
    {% for content in e_learning_form.media_contents %}
        <div class="content-list-element" data-element-index="{{ loop.index }}">
            <div class="content-denomination">
                <div class="content-denomination-image">
                    <span class="document-icon"></span>
                </div>
                <div class="content-denomination-name">
                    <div>{{ content.vars.value.name }}</div>
                </div>
            </div>
            <div class="actions-container">
                <span class="edit"></span>
                <span class="delete"></span>
                <div class="reorder">
                    <span class="reorder-up"></span>
                    <span class="reorder-down"></span>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <!-- end - content list element -->

    <!-- add media by type -->
    <div class="content-block-container add-media-content-block" style="display: none">
        <div class="block-title">
            <span>ajouter un nouveau média</span>
            <span class="delete-block"></span>
        </div>
        <div class="document-type-container">
            <div class="document-type-element" data-media-type="document">
                <span class="document-type-document-icon icon"></span>
                <span>document</span>
            </div>
            <div class="document-type-element" data-media-type="image-gallery">
                <span class="document-type-gallery-icon icon"></span>
                <span>galerie d'images</span>
            </div>
            <div class="document-type-element" data-media-type="video">
                <span class="document-type-video-icon icon"></span>
                <span>vidéo</span>
            </div>
        </div>
    </div>
    <!-- end - add media by type -->

    <!-- adding media -->
    <div class="content-block-list-container media-container">
    {% for content in e_learning_form.media_contents %}
        {% set additional_block_class = '' %}
        {% if constant('MEDIA_DOCUMENT', e_learning_content_type_class) %}
            {% set additional_block_class = 'media-document-block' %}
        {% elseif constant('MEDIA_IMAGE_GALLERY', e_learning_content_type_class) %}
            {% set additional_block_class = 'media-image-gallery-block' %}
        {% elseif constant('MEDIA_VIDEO', e_learning_content_type_class) %}
            {% set additional_block_class = 'media-video-block' %}
        {% endif %}

        <div class="content-block-container {{ additional_block_class }}" data-block-index="{{ loop.index }}" data-manipulation-type="edit">
            {{ form_widget(content.content_type, {'attr': {'class': 'content-type-input form-el'}}) }}
            {{ form_widget(content.content_order, {'attr': {'class': 'content-order-input form-el'}}) }}
            <div class="block-title">
                <span>ajouter un nouveau média</span>
                <span class="delete-block delete-media-block"></span>
            </div>
            <div class="add-content-block">
                <p class="main-info">
                    <span class="media-document-element">ajouter un document format word, excel, powerwpoint, pdf etc.</span>
                    <span class="media-video-element">ajouter une vidéo</span>
                    <span class="media-image-gallery-element">ajouter une galerie d'image</span>
                </p>

                <!-- doc part -->
                <div class="media-document-element">
                    {{ form_widget(content.associated_file, {'attr': {'class': 'hidden-input-file associated-file form-el'}}) }}
                    <button class="btn-valider btn-upload input-file-trigger">
                        <span class="upload"></span>choisissez un fichier...
                    </button>
                    <div class="info-container associated-file-info">
                        <p>les fichiers doivent peser moins de <span class="bigger">20 Mo</span></p>
                    </div>
                    <div class="upload-img-button-container hidden-button input-file-trigger">
                        <button class="upload-img-button">
                            <span class="blue-upload"></span><span class="img-name-container"></span>
                        </button>
                    </div>
                    <a href="#" class="delete-link input-file-delete-link" style="display: none;"></a>
                    <input type="hidden" name="initial_image" value="">
                    <input type="hidden" name="initial_image_name" value="">
                </div>
                <!-- end - doc part -->

                <!-- video part -->
                <div class="form-row vertical-xs media-video-element">
                    {#<label>url de la vidéo</label>#}
                    {{ form_label(content.video_url, 'url de la vidéo') }}
                    <div class="form-element">
                        {#<input type="text" class="standard-styled-input large-input-text" value="https://monlienderedirection.com/challenge">#}
                        {{ form_widget(content.video_url, {'attr': {'class': 'video-url-input standard-styled-input large-input-text removable-content-input form-el'}}) }}
                        {% set delete_input_visibility = 'style=display:none' %}
                        {% if content.vars.value.videoUrl | trim is not empty %}
                            {% set delete_input_visibility = '' %}
                        {% endif %}
                        <span class="delete-input" {{ delete_input_visibility }}></span>
                    </div>
                </div>
                <div class="info-container media-video-element">
                    <p>url youtube, vimeo, depuis votre serveur, etc.</p>
                    <p>si toutefois votre vidéo n'est pas hebergée veuillez <a href="#" class="blue-anchor">nous contacter</a></p>
                </div>
                <!-- end - video part -->

                <!-- media name -->
                <div class="form-row document-name-container vertical-md" style="display:none;">
                    <label>nom du document</label>
                    <div class="document-name">
                        {#<input class="standard-styled-input" type="text" value="Produits 2017">#}
                        {{ form_widget(content.name, {'attr': {'class': 'standard-styled-input removable-content-input form-el'}}) }}
                        <span class="delete-input" style="display: none"></span>
                    </div>
                </div>
                <div class="error-message-container document-name-error-message">
                </div>
                <!-- end - media name -->

                <!-- image gallery part -->

                <!-- end - image gallery part -->

                <div class="add-content-button-container" style="display:none;">
                    <button class="btn-valider edit-media">éditer</button>
                </div>
                <div class="original-data-holder-container">
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="temporary-content-block-list-container media">

    </div>
    <!-- end - adding media -->

    <!-- adding image gallery media -->
    <div class="content-block-container" style="display: none;">
        <div class="block-title">
            <span>ajouter un nouveau média</span>
            <span class="delete-block"></span>
        </div>
        <div class="add-content-block">
            <p class="main-info">ajouter une galerie d'image</p>
            <div class="form-row document-name-container vertical-md">
                <label>nom de la galerie</label>
                <div class="document-name">
                    <input class="standard-styled-input" type="text" value="Galerie 1">
                    <span class="delete-input"></span>
                </div>
            </div>

            <!-- image list -->
            <div class="content-list-element-container">
                <div class="content-list-element image-gallery">
                    <div class="content-denomination">
                        <div class="content-denomination-image">
                            <div class="image-preview"></div>
                        </div>
                        <div class="content-denomination-name">
                            <div>Nom de l'image 1</div>
                        </div>
                    </div>
                    <div class="actions-container">
                        <span class="edit"></span>
                        <span class="delete"></span>
                        <div class="reorder disabled">
                            <span class="reorder-up"></span>
                            <span class="reorder-down"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn-valider btn-upload">
                    <span class="upload"></span>choisissez un fichier...
                </button>
                <div class="info-container">
                    <p>document au format jpeg ou gif limité à <span class="bigger">20 Mo</span></p>
                </div>
            </div>
            <div>
                <div class="upload-img-button-container">
                    <button class="upload-img-button">
                        <span class="blue-upload"></span><span class="img-name-container">image 1.jpeg</span>
                    </button>
                </div>
                <a href="#" class="delete-link"></a>
                <div class="form-row image-file-name-container vertical-md">
                    <label>nom de l'image</label>
                    <div class="document-name">
                        <input class="standard-styled-input" type="text" value="Nom de l'image 1">
                        <span class="delete-input"></span>
                    </div>
                </div>
                <div class="add-content-button-container">
                    <button class="btn-valider">ajouter</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end - adding image gallery media -->

    <div class="content-button-container">
        <a class="add add-media-content">ajouter un média</a>
    </div>

    <div class="title-separator">
        <span class="title">quiz</span><span class="separator-line"></span>
    </div>

    <!-- quiz list -->
    <div class="quiz-content-list-container">
    </div>
    <!-- end - quiz list -->

    <div class="content-block-list-container quiz-container">
    </div>

    <div class="temporary-content-block-list-container quiz">
    </div>

    <div class="content-button-container">
        <a class="add add-quiz-content">ajouter un quiz</a>
    </div>

    <div class="title-separator">
        <span class="title">Bouton d'action</span><span class="separator-line"></span>
    </div>

    <!-- action button element -->
    <div class="button-content-list-container">
        <div class="content-list-element button" data-element-index="1" style="display: none;">
            <div class="content-denomination">
                <div class="content-denomination-image">
                    <span class="action-button-icon"></span>
                </div>
                <div class="content-denomination-name">
                    <div></div>
                </div>
            </div>
            <div class="actions-container">
                <span class="edit edit-button-content"></span>
                <span class="delete delete-button-content"></span>
            </div>
        </div>
    </div>
    <!-- action button element -->

    <div class="temporary-content-block-list-container button">
    </div>

    <div class="content-block-list-container button-container">
    </div>

    <div class="content-button-container">
        <a class="add add-button-content">ajouter un bouton d'action</a>
    </div>

    <div class="form-row vertical-xs viewer-authorization-container">
        {#<label>qui verra ce e-learning?</label>#}
        {{ form_label(e_learning_form.viewer_authorization_type, 'qui verra ce e-learning?') }}
        <div class="styled-choice-select viewer-authorization-type-choice">
            <div class="dropdown viewer-dropdown clearable">
                {% set dropdown_toggle_text = 'TOUS LES PARTICIPANTS' %}
                {% if "" != e_learning_form.viewer_authorization_type.vars.value %}
                    {% for choice in e_learning_form.viewer_authorization_type.vars.choices  %}
                        {% if e_learning_form.viewer_authorization_type.vars.value == choice.value %}
                            {% set dropdown_toggle_text = choice.label %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-e-learning-viewer-group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default-button-text="TOUS LES PARTICIPANTS">
                    {{ dropdown_toggle_text }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-e-learning-viewer-group">
                {% for choice in e_learning_form.viewer_authorization_type.vars.choices %}
                    <a class="dropdown-item" href="#" data-value="{{ choice.value }}">{{ choice.label }}</a>
                {% endfor %}
                </div>
                {% set delete_input_visibility = 'style=display:none' %}
                {% if e_learning_form.viewer_authorization_type.vars.value | trim is not empty %}
                    {% set delete_input_visibility = '' %}
                {% endif %}
                <span class="delete-select" {{ delete_input_visibility }}></span>
            </div>
            {{ form_widget(e_learning_form.viewer_authorization_type, {'attr': {'class': 'hidden-select'}}) }}
        </div>
    </div>

    {{ form_widget(e_learning_form.authorized_viewer_role, {'attr': {'class': 'authorized-viewer-role-input'}}) }}

    <div class="submit-block-container">
        <button class="btn-valider first-button save" data-submission-type="{{ constant('SAVE', submission_type_class) }}">enregistrer</button>
        <button class="btn-valider second-button publish" data-submission-type="{{ constant('PUBLISH', submission_type_class) }}">publier</button>
    </div>
    <div class="form-visibility-end"></div>
    <div class="block-model-container">
        <!-- media block -->
        <div class="content-block-container media-content" data-block-index="" data-manipulation-type="create">
            {{ form_widget(e_learning_form.media_contents.vars.prototype.content_type, {'attr': {'class': 'content-type-input form-el'}}) }}
            {{ form_widget(e_learning_form.media_contents.vars.prototype.content_order, {'attr': {'class': 'content-order-input form-el'}}) }}
            <div class="block-title">
                <span>ajouter un nouveau média</span>
                <span class="delete-block delete-media-block"></span>
            </div>
            <div class="add-content-block">
                <p class="main-info">
                    <span class="media-document-element">ajouter un document format word, excel, powerwpoint, pdf etc.</span>
                    <span class="media-video-element">ajouter une vidéo</span>
                    <span class="media-image-gallery-element">ajouter une galerie d'image</span>
                </p>

                <!-- doc part -->
                <div class="media-document-element">
                    {{ form_widget(e_learning_form.media_contents.vars.prototype.associated_file, {'attr': {'class': 'hidden-input-file associated-file form-el'}}) }}
                    <button class="btn-valider btn-upload input-file-trigger">
                        <span class="upload"></span>choisissez un fichier...
                    </button>
                    <div class="info-container associated-file-info">
                        <p>les fichiers doivent peser moins de <span class="bigger">20 Mo</span></p>
                    </div>
                    <div class="upload-img-button-container hidden-button input-file-trigger">
                        <button class="upload-img-button">
                            <span class="blue-upload"></span><span class="img-name-container">Lorem_ipsum.pdf</span>
                        </button>
                    </div>
                    <a href="#" class="delete-link input-file-delete-link" style="display: none;"></a>
                    <input type="hidden" name="initial_image" value="">
                    <input type="hidden" name="initial_image_name" value="">
                </div>
                <!-- end - doc part -->

                <!-- video part -->
                <div class="form-row vertical-xs media-video-element">
                    {{ form_label(e_learning_form.media_contents.vars.prototype.video_url, 'url de la vidéo') }}
                    <div class="form-element">
                        {{ form_widget(e_learning_form.media_contents.vars.prototype.video_url, {'attr': {'class': 'video-url-input standard-styled-input large-input-text removable-content-input form-el'}}) }}
                        <span class="delete-input" style=display:none></span>
                    </div>
                </div>
                <div class="info-container media-video-element">
                    <p>url youtube, vimeo, depuis votre serveur, etc.</p>
                    <p>si toutefois votre vidéo n'est pas hebergée veuillez <a href="#" class="blue-anchor">nous contacter</a></p>
                </div>
                <!-- end - video part -->

                <!-- media name -->
                <div class="form-row document-name-container vertical-md" style="display:none;">
                    <label>nom du document</label>
                    <div class="document-name">
                        {#<input class="standard-styled-input" type="text" value="Produits 2017">#}
                        {{ form_widget(e_learning_form.media_contents.vars.prototype.name, {'attr': {'class': 'standard-styled-input removable-content-input form-el'}}) }}
                        <span class="delete-input" style="display: none"></span>
                    </div>
                </div>
                <div class="error-message-container document-name-error-message">
                </div>
                <!-- end - media name -->

                <!-- image gallery part -->
                    <!-- image list -->
                <div class="image-element-list-container">
                </div>

                <div class="image-block-container">
                </div>

                <div class="temporary-image-block-container">
                </div>
                    <!-- end -  images list -->
                <!-- end - image gallery part -->

                <div class="add-content-button-container" style="display:none;">
                    <button class="btn-valider add-media">ajouter</button>
                    <button class="btn-valider edit-media" style="display: none;">éditer</button>
                </div>
                <div class="original-data-holder-container">
                </div>
            </div>
        </div>
        <!-- end - media block -->

        <!-- media element (in list) -->
        <div class="content-list-element media" data-element-index="">
            <div class="content-denomination">
                <div class="content-denomination-image">
                    <span class="document-icon"></span>
                </div>
                <div class="content-denomination-name">
                    <div></div>
                </div>
            </div>
            <div class="actions-container">
                <span class="edit media-content"></span>
                <span class="delete delete-media"></span>
                <div class="reorder disabled">
                    <span class="reorder-up"></span>
                    <span class="reorder-down"></span>
                </div>
            </div>
        </div>
        <!-- end - media element (in list) -->

        <!-- gallery image element prototype -->
        <div class="gallery-image-element" data-block-index="">
            {{ form_widget(e_learning_form.media_contents.vars.prototype.images.vars.prototype.image_order, {'attr': {'class': 'form-el image-order-input'}}) }}
            {{ form_widget(e_learning_form.media_contents.vars.prototype.images.vars.prototype.image_file, {'attr': {'class': 'hidden-input-file image-file form-el'}}) }}
            <button class="btn-valider btn-upload input-file-trigger">
                <span class="upload"></span>choisissez un fichier...
            </button>
            <div class="info-container image-file-info">
                <p>document au format jpeg ou gif limité à <span class="bigger">20 Mo</span></p>
            </div>
            <div class="upload-img-button-container hidden-button input-file-trigger">
                <button class="upload-img-button">
                    <span class="blue-upload"></span><span class="img-name-container"></span>
                </button>
            </div>
            <a href="#" class="delete-link input-file-delete-link" style="display: none;"></a>
            <input type="hidden" name="initial_image" value="">
            <input type="hidden" name="initial_image_name" value="">
            <div class="form-row image-file-name-container vertical-md" style="display: none">
                {#<label>nom de l'image</label>#}
                {{ form_label(e_learning_form.media_contents.vars.prototype.images.vars.prototype.name, 'nom de l\'image') }}
                <div class="document-name">
                    {#<input class="standard-styled-input" type="text" value="Nom de l'image 1">#}
                    {{ form_widget(e_learning_form.media_contents.vars.prototype.images.vars.prototype.name, {'attr': {'class': 'standard-styled-input removable-content-input form-el'}}) }}
                    <span class="delete-input" style="display: none;"></span>
                </div>
            </div>
            <div class="error-message-container image-name-error-message">
            </div>
            <div class="add-image-button-container" style="display: none;">
                <button class="btn-valider add-gallery-image-element">ajouter</button>
                <button class="btn-valider edit-gallery-image-element" style="display: none">éditer</button>
            </div>
            <div class="original-image-data-holder-container">
            </div>
        </div>
        <!-- end - gallery image element prototype -->

        <!-- image element (in list) -->
        <div class="content-list-element image-gallery" data-element-index="">
            <div class="content-denomination">
                <div class="content-denomination-image">
                    <div class="image-preview"></div>
                </div>
                <div class="content-denomination-name">
                    <div>Nom de l'image 1</div>
                </div>
            </div>
            <div class="actions-container">
                <span class="edit gallery-image"></span>
                <span class="delete delete-gallery-image"></span>
                <div class="reorder disabled">
                    <span class="reorder-up"></span>
                    <span class="reorder-down"></span>
                </div>
            </div>
        </div>
        <!-- end - image element (in list) -->

        <!-- quiz block -->
        <div class="content-block-container quiz-block" data-block-index="" data-manipulation-type="create">
            {{ form_widget(e_learning_form.quiz_contents.vars.prototype.content_order, {'attr': {'class': 'content-order-input form-el'}}) }}
            <div class="block-title">
                <span>ajouter un nouveau quiz</span>
                <span class="delete-block delete-quiz-block"></span>
            </div>
            <div class="add-content-block">
                <p class="main-info">vous devez créer un quiz dans la partie "sondages/quiz" pour qu'il apparaisse dans le menu déroulant</p>
                <div class="styled-choice-select quiz-select">
                    <div class="dropdown clearable">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-selected-quiz" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default-button-text="SELECTIONNEZ UN QUIZ">
                            SÉLECTIONNEZ<span class="hidden-under-355">&nbsp;UN QUIZ</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdown-selected-quiz">
                            {% for choice in e_learning_form.quiz_contents.vars.prototype.quiz.vars.choices %}
                                <a class="dropdown-item" href="#" data-value="{{ choice.value }}">{{ choice.label }}</a>
                            {% endfor %}
                        </div>
                        <span class="delete-select" style="display: none;"></span>
                    </div>
                    {{ form_widget(e_learning_form.quiz_contents.vars.prototype.quiz, {'attr': {'class': 'hidden-select form-el'}}) }}
                </div>
                <div class="error-message-container quiz-selection-error-message">
                </div>
                <div class="add-content-button-container">
                    <button class="btn-valider add-quiz">ajouter</button>
                    <button class="btn-valider edit-quiz" style="display: none;">éditer</button>
                </div>
                <div class="original-data-holder-container">
                </div>
            </div>
        </div>
        <!-- end - quiz block -->

        <!-- quiz element -->
        <div class="content-list-element quiz" data-element-index="">
            <div class="content-denomination">
                <div class="content-denomination-image">
                    <span class="quiz-icon"></span>
                </div>
                <div class="content-denomination-name">
                    <div></div>
                </div>
            </div>
            <div class="actions-container">
                <span class="edit edit-quiz-content"></span>
                <span class="delete delete-quiz-content"></span>
                <div class="reorder disabled">
                    <span class="reorder-up"></span>
                    <span class="reorder-down"></span>
                </div>
            </div>
        </div>
        <!-- end - quiz element -->

        <!-- add button content -->
        <div class="content-block-container action-button-block-container" data-manipulation-type="create">
            {{ form_widget(e_learning_form.button_contents.vars.prototype.name, {'attr': {'class': 'form-el hidden-input-text content-name-input'}}) }}
            {#{{ form_widget(e_learning_form.button_contents.vars.prototype.content_order, {'attr': {'class': 'content-order-input form-el'}}) }}#}
            <div class="block-title">
                <span>bouton d'action</span>
                <span class="delete-block delete-button-block"></span>
            </div>
            <div class="add-content-block">
                <div class="form-row vertical-centered">
                    {#<label class="fixed-width">texte du bouton</label>#}
                    {{ form_label(e_learning_form.button_contents.vars.prototype.action_button_data.action_button_text, 'texte du bouton', {'label_attr': {'class': 'fixed-width'}}) }}
                    {#<input type="text" value="mon bouton d'action" class="removable-content-input action-button-input semi-large" value="En savoir plus">#}
                    {{ form_widget(e_learning_form.button_contents.vars.prototype.action_button_data.action_button_text, {'attr': {'class': 'removable-content-input action-button-input action-button-text-input semi-large form-el action-button-text-input form-el'}}) }}
                    <span class="delete-input delete-action-button-text" style="display: none"></span>
                </div>
                <div class="error-message-container button-text-error-message"></div>
                <div class="form-row vertical-md">
                    <label>aspect du bouton</label>
                    <div class="vertical-xs">
                        <div class="action-button-color-option">
                            <span class="option-title">Couleur</span>
                            {#<input type="text" class="color-value">#}
                            {{ form_widget(e_learning_form.button_contents.vars.prototype.action_button_data.action_button_background_color, {'attr': {'class': 'color-value bg-color action-button-background-color form-el'}}) }}
                        </div>
                        <div class="action-button-color-option">
                            <span class="option-title">Couleur du texte</span>
                            {#<input type="text" class="color-value">#}
                            {{ form_widget(e_learning_form.button_contents.vars.prototype.action_button_data.action_button_text_color, {'attr': {'class': 'color-value text-color action-button-text-color form-el'}}) }}
                        </div>
                    </div>
                    <div class="action-button-preview-container">
                        <div class="action-button-preview"></div>
                    </div>
                </div>
                <span class="form-row-group-title">lien de redirection du bouton d'action</span>
                <div class="form-row vertical-centered">
                    {#<label class="fixed-width">renseigner une url</label>#}
                    {{ form_label(e_learning_form.button_contents.vars.prototype.action_button_data.action_button_target_url, 'renseigner une url', {'label_attr': {'class': 'fixed-width'}}) }}
                    {#<input type="text" value="https://monlienderedirection.com/challenge" class="removable-content-input action-button-input large">#}
                    {{ form_widget(e_learning_form.button_contents.vars.prototype.action_button_data.action_button_target_url, {'attr': {'class': 'removable-content-input action-button-input large form-el'}}) }}
                    <span class="delete-input" style="display: none;"></span>
                </div>
                <div class="form-row vertical-xs">
                    {#<label>ou chercher une page du site</label>#}
                    {{ form_label(e_learning_form.button_contents.vars.prototype.action_button_data.action_button_target_page, 'ou chercher une page du site') }}
                    <div class="action-button-target-page-choice styled-choice-select">
                        <div class="dropdown clearable">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-action-button-page-target" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default-button-text="POINTER SUR">
                                POINTER SUR
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdown-action-button-page-target">
                                {% set previous_ref_for_sub_level = null %}
                                {% for choice in e_learning_form.button_contents.vars.prototype.action_button_data.action_button_target_page.vars.choices %}
                                    {% set additional_class = '' %}
                                    {% if previous_ref_for_sub_level is not null and choice.value matches '{'~previous_ref_for_sub_level.value~'/[0-9]+$}' %}
                                        {% set additional_class = 'sub-level' %}
                                    {% else %}
                                        {% set previous_ref_for_sub_level = choice %}
                                    {% endif %}
                                    <a class="dropdown-item {{ additional_class }}" href="#" data-value="{{ choice.value }}">{{ choice.label }}</a>
                                {% endfor %}
                            </div>
                            <span class="delete-select" style="display: none;"></span>
                        </div>
                        {{ form_widget(e_learning_form.button_contents.vars.prototype.action_button_data.action_button_target_page, {'attr': {'class': 'hidden-select action-button-target-page-select form-el'}}) }}
                    </div>
                </div>
                <div class="add-content-button-container">
                    <button class="btn-valider add-button">ajouter</button>
                    <button class="btn-valider edit-button" style="display: none;">editer</button>
                </div>
                <div class="original-data-holder-container">
                </div>
            </div>
        </div>
        <!-- end - add button content -->
    </div>
{{ form_end(e_learning_form) }}
{% endif %}