<tr class="form-field-row" data-field-id="{{ field.id }}">
    <td align="center" class="checking">
        <input id="cl1-row{{ field.id }}" class="form-field-published" type="checkbox" {{ field.published ? "checked" : '' }}>
        <label for="cl1-row{{ field.id }}"><span></span></label> 
    </td>
    <td align='center' class="checking">
        <input id="cl2-row{{ field.id }}" class="form-field-mandatory" type="checkbox" {{ field.mandatory ? "checked" : '' }}>
        <label for="cl2-row{{ field.id }}"><span></span></label>      
    </td>
    <td class="row">
    {% block content %}{% endblock %}
    </td>
    <td>
        {% if personalize %}
            <a href="#" class="edit-field-row-link"></a>
            <a href="#" class="delele-field-row-link"></a>
            <span class="up-down">
                <a href="#" class="moveup-field-row-link"></a>
                <a href="#" class="movedown-field-row-link"></a>
            </span>
        {% endif %}
    </td> 
</tr>
