<tr class="form-field-row" data-field-id="{{ field.id }}">
    <td>
        <input id="cl1-row{{ field.id }}" class="form-field-published" type="checkbox" {{ field.published ? "checked" : '' }}>
        <label for="cl1-row{{ field.id }}"><span></span></label> 
    </td>
    <td>
        <input id="cl2-row{{ field.id }}" class="form-field-mandatory" type="checkbox" {{ field.mandatory ? "checked" : '' }}>
        <label for="cl2-row{{ field.id }}"><span></span></label>      
    </td>
    <td>
    {% block content %}{% endblock %}
    </td>
    <td><a href="#" class="delele-field-row-link">Supprimer</a></td>
</tr>
