<tr class="form-field-row" data-field-id="{{ field.id }}">
    <td class="field-parameter-state-container">
        <input id="cl1-row{{ field.id }}" class="form-field-published styled-checkbox" type="checkbox" {{ field.published ? "checked" : '' }}>
        <label for="cl1-row{{ field.id }}"><span></span></label> 
    </td>
    <td class="field-parameter-state-container">
        <input id="cl2-row{{ field.id }}" class="form-field-mandatory styled-checkbox" type="checkbox" {{ field.mandatory ? "checked" : '' }}>
        <label for="cl2-row{{ field.id }}"><span></span></label>      
    </td>
    <td class="field-container">
    {% block content %}{% endblock %}
    </td>
    {#<td><a href="#" class="delete-field-row-link">Supprimer</a></td>#}
    <td class="field-edit-option-container"><a href="#" class="edit-field-row-link"></a></td>
    <td class="field-reorder-option-container">
        <a href="#" class="reorder-up-field-row-link"></a>
        <a href="#" class="reorder-down-field-row-link"></a>
    </td>
</tr>
