<tr class="form-field-row" data-field-id="{{ field.id }}">
    <td>
        <input id="cl1-row{{ field.id }}" class="form-field-published" type="checkbox" {{ field.published ? "checked" : '' }}>
        <label for="cl1-row{{ field.id }}"><span></span></label> 
    </td>
    <td>
        <input id="cl2-row{{ field.id }}" class="form-field-mandatory" type="checkbox" {{ field.mandatory ? "checked" : '' }}>
        <label for="cl2-row{{ field.id }}"><span></span></label>      
    </td>
    <td class='one-row'>
        {% block content %}
            {% for field in all_fields %} 
                {% if field.fieldType == "date" %} 
                    <label>{{ field.label }} {{ field.mandatory ? '*' : '' }}</label>
                    <div class="date-field-form">
                        <input type='text' value='  JJ' maxlength='2' class='day'>
                        <input type='text' value='MM' maxlength='2' class='month'>
                        <input type='text' value=' AAAA' maxlength='4' class='year'>
                    </div>
                {% endif %}
            {% endfor %}
        {% endblock %}
    </td>
    <td><a href="#" class="delele-field-row-link">Supprimer</a></td>
</tr>

