<tr class="form-field-row" data-field-id="{{ field.id }}">
    <td align="center" class="checking">
        <input id="cl1-row{{ field.id }}" class="form-field-published" type="checkbox" {{ field.published ? "checked" : '' }}>
        <label for="cl1-row{{ field.id }}"><span></span></label> 
    </td>
    <td align="center" class="checking">
        <input id="cl2-row{{ field.id }}" class="form-field-mandatory" type="checkbox" {{ field.mandatory ? "checked" : '' }}>
        <label for="cl2-row{{ field.id }}"><span></span></label>      
    </td>
    <td class='row many-field'>
        {% block content %}
            {% for field in all_fields %} 
                {% if field.fieldType == "date" %} 
                    <label {{ (loop.first)?"class='col-sm-12 col-md-4'":'class="second"' }}>{{ field.label }} {{ field.mandatory ? '*' : '' }}</label>
                    {% if (loop.first) %}
                        <div class="col-sm-12 col-md-8 date-field-form">
                    {% endif %}
                        <input type='text' value='  JJ' maxlength='2' class='day'>
                        <input type='text' value='MM' maxlength='3' class='month'>
                        <input type='text' value='AAAA' maxlength='4' class='year'>
                    {% if (loop.last) %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endblock %}
    </td>
    <td>
        {% if personalize %}
            <a href="#" class="edit-field-row-link"></a>
            <a href="#" class="delele-field-row-link"></a>
            <span class="up-down">
                <a href="#" class="moveup-field-row-link"></a>
                <a href="#" class="movedown-field-row-link"></a>
            </span>
        {% endif %}
    </td> 
</tr>

